Repository mlbvn/d2l-vn, pull requests merged in 2019-12, with the labels that each got.

#75 fix separator
  utils.py
Labels: utility

#77 replace start comment indicators
  chapter_appendix_math/geometry-linear-algebric-ops_vn.md
  chapter_introduction/index_vn.md
Labels: introduction, math

#78 Cập nhật glossary.
  glossary.md
Labels: glosssary

#58 Dịch chapter_appendix_math/geometry-linear-algebric-ops_vn.md phần 3
  chapter_appendix_math/geometry-linear-algebric-ops_vn.md
Labels: math

#59 Dịch chapter_appendix_math/geometry-linear-algebric-ops_vn.md phần 4
  chapter_appendix_math/geometry-linear-algebric-ops_vn.md
Labels: math

#52 Dịch chapter_apendix_math/index_vn.md
  chapter_appendix_math/index_vn.md
Labels: math, review wanted

#55 Dịch chapter_appendix_math/geometry-linear-algebric-ops_vn.md phần 1
  chapter_appendix_math/geometry-linear-algebric-ops_vn.md
Labels: math, review wanted

#71 Dịch chapter_appendix_math/geometry-linear-algebric-ops_vn.md phần 5
  chapter_appendix_math/geometry-linear-algebric-ops_vn.md
Labels: math

#56 Dịch chapter_appendix_math/geometry-linear-algebric-ops_vn.md phần 2
  chapter_appendix_math/geometry-linear-algebric-ops_vn.md
Labels: math

#51 Dịch chapter_preface/index_vn.md part 2
  chapter_preface/index_vn.md
Labels: preface, review wanted

#79 Dịch các hình trong chapter_introduction/index_vn.md
  img/data-collection.svg
  img/ml-loop.svg
  img/rl-environment.svg
  img/supervised-learning.svg
  img/wake-word.svg
Labels: introduction, review wanted

#50 Dịch chapter_preface/index_vn.md part 1
  chapter_preface/index_vn.md
Labels: preface, review wanted

#53 Dịch chapter_preface/index_vn.md part 3
  chapter_preface/index_vn.md
Labels: preface, review wanted

#72 Dịch chapter_appendix_math/geometry-linear-algebric-ops_vn.md phần 6
  chapter_appendix_math/geometry-linear-algebric-ops_vn.md
Labels: high priority, math

#65 Dịch introduction/index_vn.md phần 1
  chapter_introduction/index_vn.md
Labels: high priority, introduction

#112 Glossary: linear (in)dependence, first principles
  glossary.md
Labels: glosssary

#73 Dịch chapter_appendix_math/geometry-linear-algebric-ops_vn.md phần 7
  chapter_appendix_math/geometry-linear-algebric-ops_vn.md
Labels: high priority, math

#87 Dịch chapter_appendix_math/geometry-linear-algebric-ops_vn.md phần 8
  chapter_appendix_math/geometry-linear-algebric-ops_vn.md
Labels: math

#111 Chuyển Pull Request template về checklist
  docs/pull_request_template.md
Labels: high priority

#108 Dịch install/index_vn.md phần 1
  chapter_install/index_vn.md
Labels: install, review wanted

#84 Thêm embedding vào glossary
  glossary.md
Labels: glosssary, high priority

#115 Update utils.py
  utils.py
Labels: utility

#113 Update pull_request_template.md
  docs/pull_request_template.md
Labels: logistic

#95 Dịch chapter_appendix_math/geometry-linear-algebric-ops_vn.md phần 9
  chapter_appendix_math/geometry-linear-algebric-ops_vn.md
Labels: math

#121 Update geometry-linear-algebric-ops_vn.md
  chapter_appendix_math/geometry-linear-algebric-ops_vn.md
Labels: logistic, math

#110 Dịch introduction/index_vn.md phần 2
  chapter_introduction/index_vn.md
Labels: introduction

#126 Deploy 1210
  chapter_appendix_math/index_vn.md
  config.ini
  index.md
Labels: deploy, math

#124 Dịch introduction/index_vn.md phần 4
  chapter_introduction/index_vn.md
Labels: introduction, review wanted

#128 Glossary pattern recognition.
  glossary.md
Labels: glosssary

#131 Sửa lỗi không hiển thị được phương trình trong Phụ lục toán
  chapter_appendix_math/geometry-linear-algebric-ops_vn.md
Labels: math

#96 Dịch preface/index_vn.md phần 6
  chapter_preface/index_vn.md
Labels: high priority, preface, review wanted

#133 fix erros transcribe-underfit
  glossary.md
Labels: glosssary

#93 Dịch preface/index_vn.md phần 5
  chapter_preface/index_vn.md
Labels: high priority, preface

#109 Dịch install/index_vn.md phần 2
  chapter_install/index_vn.md
Labels: install, review wanted

#116 Preface phần 4
  chapter_preface/index_vn.md
Labels: preface, review wanted

#125 Dịch install/index_vn.md phần 3
  chapter_install/index_vn.md
Labels: install, review wanted

#137 remove blank lines
  chapter_install/index_vn.md
Labels: install

#136 Update glossary.md cho #135
  glossary.md
Labels: glosssary

#134 Math/geometry-linear-algebra-ops_vn.md phần 13
  chapter_appendix_math/geometry-linear-algebric-ops_vn.md
Labels: math

#135 Dịch introduction/index_vn.md phần 7
  chapter_introduction/index_vn.md
Labels: introduction

#143 Dịch Intro phần 10
  chapter_introduction/index_vn.md
Labels: introduction

#142 Dịch Intro phần 9
  chapter_introduction/index_vn.md
Labels: introduction

#152 Dịch intro phần 13
  chapter_introduction/index_vn.md
Labels: introduction

#164 Dịch Intro phần 17
  chapter_introduction/index_vn.md
Labels: introduction

#153 Dịch Intro phần 14
  chapter_introduction/index_vn.md
Labels: introduction

#120 Dịch geometry-linear-algebric-ops_vn.md phần 11
  chapter_appendix_math/geometry-linear-algebric-ops_vn.md
Labels: high priority, math, review wanted

#119 Dịch introduction/index_vn.md phần 5
  chapter_introduction/index_vn.md
Labels: high priority, introduction, review wanted

#154 Dịch Intro phần 15
  chapter_introduction/index_vn.md
Labels: introduction

#147 Dịch Intro phần 12
  chapter_introduction/index_vn.md
Labels: introduction

#165 Dịch geometry-linear-algebric-ops_vn.md phần 12
  chapter_appendix_math/geometry-linear-algebric-ops_vn.md
Labels: math, review wanted

#155 Dịch introduction/index_vn.md phần 3
  chapter_introduction/index_vn.md
Labels: introduction, review wanted

#118 Glossary Preface Part 4
  glossary.md
Labels: glosssary, high priority

#198 Hotfix preface
  chapter_preface/index_vn.md
Labels: preface

#201 Lỗi markdown trong geometry-linear-algebric-ops_vn.md phần 16
  chapter_appendix_math/geometry-linear-algebric-ops_vn.md
Labels: logistic, math

#184 Glossary: thêm Surrogate objective
  glossary.md
Labels: blocking, glosssary

#141 Dịch Intro phần 8
  chapter_introduction/index_vn.md
Labels: blocked, introduction

#162 Glossary cho introduction.
  chapter_introduction/index_vn.md
  glossary.md
Labels: glosssary, introduction

#185 Glossary: thêm Ground Truth
  glossary.md
Labels: blocking, glosssary

#146 Dịch Intro phần 11
  chapter_introduction/index_vn.md
Labels: blocked, introduction

#167 Dịch Intro phần 19
  chapter_introduction/index_vn.md
Labels: introduction

#212 Update index_vn.md
  chapter_introduction/index_vn.md
Labels: introduction

#209 Dịch chữ tại ảnh book-org.svg
  img/book-org.svg
Labels: figures

#215 Add "chapter_appendix-mathematics-for-deep-learning/statistics
  chapter_appendix_math/statistics.md
  chapter_appendix_math/statistics_vn.md
Labels: logistic, math

#217 Add "chapter_preliminaries/index"
  .github/labeler.yml
  chapter_preliminaries/index.md
  chapter_preliminaries/index_vn.md
Labels: logistic, preliminaries

#171 Dịch Intro phần 18
  chapter_introduction/index_vn.md
Labels: introduction

#219 Add "chapter_preliminaries/linear-algebra"
  chapter_preliminaries/linear-algebra.md
  chapter_preliminaries/linear-algebra_vn.md
Labels: logistic

#222 Glossary: generative model
  glossary.md
Labels: glosssary

#223 Glossary: timestep
  glossary.md
Labels: glosssary

#168 Dịch Intro phần 20
  chapter_introduction/index_vn.md
Labels: blocked, introduction

#213 Glossary: thêm Sequence learning
  glossary.md
Labels: blocking, glosssary

#169 Dịch Intro phần 21
  chapter_introduction/index_vn.md
Labels: introduction

#225 Thêm "computing" vào glossary
  glossary.md
Labels: glosssary

#195 translate introduction part 25
  chapter_introduction/index_vn.md
Labels: introduction, review wanted

#231 Glossary: policy & agi
  glossary.md
Labels: glosssary
