Repository mlbvn/d2l-vn, pull requests merged in 2020-10, with the labels that each got.

#2898 Dịch "integral-calculus_vn" - Phần 3
  chapter_appendix-mathematics-for-deep-learning/integral-calculus_vn.md
Labels: chapter: appendix-math

#2912 Revise "movielens_vn"
  chapter_recommender-systems/movielens_vn.md
Labels: chapter: recommender-systems, priority:high, status: phase 2

#2913 Revise "mf_vn"
  chapter_recommender-systems/mf_vn.md
Labels: chapter: recommender-systems, priority:high, status: phase 2

#2914 Revise "autorec_vn"
  chapter_recommender-systems/autorec_vn.md
Labels: chapter: recommender-systems, priority:high, status: phase 2

#2915 Revise "ranking_vn"
  chapter_recommender-systems/ranking_vn.md
Labels: chapter: recommender-systems, priority:high, status: phase 2

#2876 Dịch "random-variables_vn" - Phần 2
  chapter_appendix-mathematics-for-deep-learning/random-variables_vn.md
Labels: chapter: appendix-math, priority:high

#2892 Dịch "random-variables_vn" - Phần 4
  chapter_appendix-mathematics-for-deep-learning/random-variables_vn.md
Labels: chapter: appendix-math

#2893 Dịch "random-variables_vn" - Phần 5
  chapter_appendix-mathematics-for-deep-learning/random-variables_vn.md
Labels: chapter: appendix-math

#2899 Dịch "random-variables_vn" - Phần 3
  chapter_appendix-mathematics-for-deep-learning/random-variables_vn.md
Labels: chapter: appendix-math

#2922 Revise "gan_vn"
  chapter_generative-adversarial-networks/gan_vn.md
Labels: chapter: generative-adversarial-networks, priority:high, status: phase 2

#2923 Revise "dcgan_vn"
  chapter_generative-adversarial-networks/dcgan_vn.md
Labels: chapter: generative-adversarial-networks, priority:high, status: phase 2

#2858 Dịch "random-variables_vn" - Phần 1
  chapter_appendix-mathematics-for-deep-learning/random-variables_vn.md
Labels: chapter: appendix-math, priority:high

#2941 docs: update progress
  README.md
Labels: type: infra, type: update

#2942 docs: update team intro
  intro_vn.md
Labels: type: infra, type: update

#2943 refactor: deploy nlp-app, rs & gan chapter
  CHANGELOG.md
  config.ini
  index.md
Labels: type: deploy, type: infra, type: update

#2908 Dịch "random-variables_vn" - Phần 7
  chapter_appendix-mathematics-for-deep-learning/random-variables_vn.md
Labels: chapter: appendix-math, priority:high

#2917 Dịch "random-variables_vn" - Phần 8
  chapter_appendix-mathematics-for-deep-learning/random-variables_vn.md
Labels: chapter: appendix-math

#2918 Dịch "random-variables_vn" - Phần 9
  chapter_appendix-mathematics-for-deep-learning/random-variables_vn.md
Labels: chapter: appendix-math

#2919 Dịch "maximum-likelihood_vn" - Phần 1
  chapter_appendix-mathematics-for-deep-learning/maximum-likelihood_vn.md
Labels: chapter: appendix-math

#2916 Dịch "maximum-likelihood_vn" - Phần 2
  chapter_appendix-mathematics-for-deep-learning/maximum-likelihood_vn.md
Labels: chapter: appendix-math

#2907 Dịch "distributions_vn" - Phần 1
  chapter_appendix-mathematics-for-deep-learning/distributions_vn.md
Labels: chapter: appendix-math, priority:high

#2944 docs: fix gan chapter
  chapter_generative-adversarial-networks/dcgan_vn.md
  chapter_generative-adversarial-networks/gan_vn.md
Labels: type: proof-read, type: update

#2902 Dịch "random-variables_vn" - Phần 6
  chapter_appendix-mathematics-for-deep-learning/random-variables_vn.md
Labels: chapter: appendix-math, priority:high

#2945 docs: fix recommender systems chapter
  chapter_recommender-systems/autorec_vn.md
  chapter_recommender-systems/ctr_vn.md
  chapter_recommender-systems/deepfm_vn.md
  chapter_recommender-systems/fm_vn.md
  chapter_recommender-systems/index_vn.md
  chapter_recommender-systems/mf_vn.md
  chapter_recommender-systems/movielens_vn.md
  chapter_recommender-systems/neumf_vn.md
  chapter_recommender-systems/ranking_vn.md
  chapter_recommender-systems/recsys-intro_vn.md
  chapter_recommender-systems/seqrec_vn.md
Labels: type: proof-read, type: update

#2924 Dịch "maximum-likelihood_vn" - Phần 3
  chapter_appendix-mathematics-for-deep-learning/maximum-likelihood_vn.md
Labels: chapter: appendix-math

#2937 Dịch "distributions_vn" - Phần 6
  chapter_appendix-mathematics-for-deep-learning/distributions_vn.md
Labels: chapter: appendix-math

#2997 docs: nlp-app minor update
  chapter_natural-language-processing-applications/index_vn.md
Labels: type: bug, type: update

#2998 Amend Eigen-decomposition
  glossary.md
Labels: type: glossary

#2927 Dịch "distributions_vn" - Phần 4
  chapter_appendix-mathematics-for-deep-learning/distributions_vn.md
Labels: chapter: appendix-math

#2963 Revise "geometry-linear-algebraic-ops_vn" - Phần 1
  chapter_appendix-mathematics-for-deep-learning/geometry-linear-algebraic-ops_vn.md
Labels: chapter: appendix-math, status: phase 2

#2936 Dịch "distributions_vn" - Phần 2
  chapter_appendix-mathematics-for-deep-learning/distributions_vn.md
Labels: chapter: appendix-math

#2935 Dịch "distributions_vn" - Phần 5
  chapter_appendix-mathematics-for-deep-learning/distributions_vn.md
Labels: chapter: appendix-math

#2992 Revise "eigendecomposition_vn" - Phần 1
  chapter_appendix-mathematics-for-deep-learning/eigendecomposition_vn.md
Labels: chapter: appendix-math, status: phase 2

#2967 Dịch "distributions_vn" - Phần 3
  chapter_appendix-mathematics-for-deep-learning/distributions_vn.md
Labels: chapter: appendix-math

#2948 Dịch "information-theory_vn" - Phần 5
  chapter_appendix-mathematics-for-deep-learning/information-theory_vn.md
Labels: chapter: appendix-math

#2928 Dịch "naive-bayes_vn" - Phần 1
  chapter_appendix-mathematics-for-deep-learning/naive-bayes_vn.md
Labels: chapter: appendix-math, priority:high

#2931 Dịch "naive-bayes_vn" - Phần 2
  chapter_appendix-mathematics-for-deep-learning/naive-bayes_vn.md
Labels: chapter: appendix-math, priority:high

#2971 Dịch "information-theory_vn" - Phần 3
  chapter_appendix-mathematics-for-deep-learning/information-theory_vn.md
Labels: chapter: appendix-math

#2949 Dịch "information-theory_vn" - Phần 6
  chapter_appendix-mathematics-for-deep-learning/information-theory_vn.md
Labels: chapter: appendix-math

#2954 Dịch "naive-bayes_vn" - Phần 3
  chapter_appendix-mathematics-for-deep-learning/naive-bayes_vn.md
Labels: chapter: appendix-math

#2973 Dịch "information-theory_vn" - Phần 7
  chapter_appendix-mathematics-for-deep-learning/information-theory_vn.md
Labels: chapter: appendix-math

#2932 Dịch "naive-bayes_vn" - Phần 4
  chapter_appendix-mathematics-for-deep-learning/naive-bayes_vn.md
Labels: chapter: appendix-math, priority:high

#2972 Dịch "information-theory_vn" - Phần 4
  chapter_appendix-mathematics-for-deep-learning/information-theory_vn.md
Labels: chapter: appendix-math

#2976 Dịch "index_vn" & "d2l_vn"
  chapter_appendix-tools-for-deep-learning/d2l_vn.md
  chapter_appendix-tools-for-deep-learning/index_vn.md
Labels: chapter: appendix-tools

#2985 Dịch "jupyter_vn" - Phần 1
  chapter_appendix-tools-for-deep-learning/jupyter_vn.md
Labels: chapter: appendix-tools

#2988 Dịch "jupyter_vn" - Phần 2
  chapter_appendix-tools-for-deep-learning/jupyter_vn.md
Labels: chapter: appendix-tools

#2989 Dịch "jupyter_vn" - Phần 3
  chapter_appendix-tools-for-deep-learning/jupyter_vn.md
Labels: chapter: appendix-tools

#2994 Dịch "sagemaker_vn" - Phần 1
  chapter_appendix-tools-for-deep-learning/sagemaker_vn.md
Labels: chapter: appendix-tools

#2996 Dịch "information-theory_vn" - Phần 11
  chapter_appendix-mathematics-for-deep-learning/information-theory_vn.md
Labels: chapter: appendix-math

#3004 Dịch "aws_vn" - Phần 2
  chapter_appendix-tools-for-deep-learning/aws_vn.md
Labels: chapter: appendix-tools

#3005 Dịch "aws_vn" - Phần 3
  chapter_appendix-tools-for-deep-learning/aws_vn.md
Labels: chapter: appendix-tools

#3006 Dịch "aws_vn" - Phần 4
  chapter_appendix-tools-for-deep-learning/aws_vn.md
Labels: chapter: appendix-tools

#3014 Dịch "colab_vn"
  chapter_appendix-tools-for-deep-learning/colab_vn.md
Labels: chapter: appendix-tools

#2999 Dịch "information-theory_vn" - Phần 12
  chapter_appendix-mathematics-for-deep-learning/information-theory_vn.md
Labels: chapter: appendix-math

#3026 Dịch "sagemaker_vn" - Phần 2
  chapter_appendix-tools-for-deep-learning/sagemaker_vn.md
Labels: chapter: appendix-tools

#3015 Dịch "information-theory_vn" - Phần 1
  chapter_appendix-mathematics-for-deep-learning/information-theory_vn.md
Labels: chapter: appendix-math

#3016 Dịch "information-theory_vn" - Phần 2
  chapter_appendix-mathematics-for-deep-learning/information-theory_vn.md
Labels: chapter: appendix-math

#2995 Dịch "information-theory_vn" - Phần 10
  chapter_appendix-mathematics-for-deep-learning/information-theory_vn.md
Labels: chapter: appendix-math

#3013 Dịch "aws_vn" - Phần 1
  chapter_appendix-tools-for-deep-learning/aws_vn.md
Labels: chapter: appendix-tools

#2974 Dịch "information-theory_vn" - Phần 8
  chapter_appendix-mathematics-for-deep-learning/information-theory_vn.md
Labels: chapter: appendix-math, status: pending triage

#3020 Dịch "contributing_vn" - Phần 1
  chapter_appendix-tools-for-deep-learning/contributing_vn.md
Labels: chapter: appendix-tools

#3021 Dịch "contributing_vn" - Phần 2
  chapter_appendix-tools-for-deep-learning/contributing_vn.md
Labels: chapter: appendix-tools

#3023 Dịch "contributing_vn" - Phần 3
  chapter_appendix-tools-for-deep-learning/contributing_vn.md
Labels: chapter: appendix-tools

#2986 Dịch "information-theory_vn" - Phần 9
  chapter_appendix-mathematics-for-deep-learning/information-theory_vn.md
Labels: chapter: appendix-math, priority:high

#3018 Dịch "selecting-servers-gpus_vn" - Phần 2
  chapter_appendix-tools-for-deep-learning/selecting-servers-gpus_vn.md
Labels: chapter: appendix-tools

#3019 Dịch "selecting-servers-gpus_vn" - Phần 3
  chapter_appendix-tools-for-deep-learning/selecting-servers-gpus_vn.md
Labels: chapter: appendix-tools

#3057 Dịch hình phụ chương cuối
  img/contribute.svg
Labels: type: figures

#3024 Dịch "selecting-servers-gpus_vn" - Phần 1
  chapter_appendix-tools-for-deep-learning/selecting-servers-gpus_vn.md
Labels: chapter: appendix-tools

#3017 Revise "eigendecomposition_vn" - Phần 2
  chapter_appendix-mathematics-for-deep-learning/eigendecomposition_vn.md
Labels: chapter: appendix-math, priority:high, status: phase 2

#3011 Revise "geometry-linear-algebraic-ops_vn" - Phần 3
  chapter_appendix-mathematics-for-deep-learning/geometry-linear-algebraic-ops_vn.md
Labels: chapter: appendix-math, priority:high, status: phase 2

#3010 Revise "geometry-linear-algebraic-ops_vn" - Phần 2
  chapter_appendix-mathematics-for-deep-learning/geometry-linear-algebraic-ops_vn.md
Labels: chapter: appendix-math, priority:high, status: phase 2

#3012 Revise "geometry-linear-algebraic-ops_vn" - Phần 4
  chapter_appendix-mathematics-for-deep-learning/geometry-linear-algebraic-ops_vn.md
Labels: chapter: appendix-math, priority:high, status: phase 2

#3030 Revise "geometry-linear-algebraic-ops_vn" - Phần 5
  chapter_appendix-mathematics-for-deep-learning/geometry-linear-algebraic-ops_vn.md
Labels: chapter: appendix-math, priority:high, status: phase 2

#3031 Revise "geometry-linear-algebraic-ops_vn" - Phần 6
  chapter_appendix-mathematics-for-deep-learning/geometry-linear-algebraic-ops_vn.md
Labels: chapter: appendix-math, priority:high, status: phase 2

#3032 Revise "geometry-linear-algebraic-ops_vn" - Phần 7
  chapter_appendix-mathematics-for-deep-learning/geometry-linear-algebraic-ops_vn.md
Labels: chapter: appendix-math, priority:high, status: phase 2

#3048 Revise "naive-bayes_vn"
  chapter_appendix-mathematics-for-deep-learning/naive-bayes_vn.md
Labels: chapter: appendix-math, priority:high, status: phase 2

#3042 Revise "integral-calculus_vn" - Phần 1
  chapter_appendix-mathematics-for-deep-learning/integral-calculus_vn.md
Labels: chapter: appendix-math, priority:high, status: phase 2

#3049 Revise "integral-calculus_vn" - Phần 2
  chapter_appendix-mathematics-for-deep-learning/integral-calculus_vn.md
Labels: chapter: appendix-math, priority:high, status: phase 2

#3050 Revise "random-variables_vn" - Phần 1
  chapter_appendix-mathematics-for-deep-learning/random-variables_vn.md
Labels: chapter: appendix-math, priority:high, status: phase 2

#3058 Revise "random-variables_vn" - Phần 2
  chapter_appendix-mathematics-for-deep-learning/random-variables_vn.md
Labels: chapter: appendix-math, priority:high, status: phase 2

#3056 Revise "single-variable-calculus_vn" - Phần 1
  chapter_appendix-mathematics-for-deep-learning/single-variable-calculus_vn.md
Labels: chapter: appendix-math, priority:high, status: phase 2

#3094 hotfix "power rule"
  chapter_preliminaries/calculus_vn.md
Labels: type: bug, type: update

#3068 Revise "single-variable-calculus_vn" - Phần 2
  chapter_appendix-mathematics-for-deep-learning/single-variable-calculus_vn.md
Labels: chapter: appendix-math, status: phase 2

#3071 Revise "single-variable-calculus_vn" - Phần 3
  chapter_appendix-mathematics-for-deep-learning/single-variable-calculus_vn.md
Labels: chapter: appendix-math, status: phase 2

#3072 Revise "single-variable-calculus_vn" - Phần 4
  chapter_appendix-mathematics-for-deep-learning/single-variable-calculus_vn.md
Labels: chapter: appendix-math, status: phase 2

#3070 Revise "random-variables_vn" - Phần 3
  chapter_appendix-mathematics-for-deep-learning/random-variables_vn.md
Labels: chapter: appendix-math, priority:high, status: phase 2

#3061 Revise "multivariable-calculus_vn" - Phần 3
  chapter_appendix-mathematics-for-deep-learning/multivariable-calculus_vn.md
Labels: chapter: appendix-math, priority:high, status: phase 2

#3060 Revise "multivariable-calculus_vn" - Phần 2
  chapter_appendix-mathematics-for-deep-learning/multivariable-calculus_vn.md
Labels: chapter: appendix-math, priority:high, status: phase 2

#3059 Revise "multivariable-calculus_vn" - Phần 1
  chapter_appendix-mathematics-for-deep-learning/multivariable-calculus_vn.md
Labels: chapter: appendix-math, priority:high, status: phase 2

#3089 Revise "jupyter_vn"
  chapter_appendix-tools-for-deep-learning/jupyter_vn.md
Labels: chapter: appendix-tools, status: phase 2

#3090 Revise "sagemaker_vn"
  chapter_appendix-tools-for-deep-learning/sagemaker_vn.md
Labels: chapter: appendix-tools, status: phase 2

#3091 Revise "aws_vn" - Phần 1
  chapter_appendix-tools-for-deep-learning/aws_vn.md
Labels: chapter: appendix-tools, status: phase 2

#3092 Revise "aws_vn" - Phần 2
  chapter_appendix-tools-for-deep-learning/aws_vn.md
Labels: chapter: appendix-tools, status: phase 2

#3093 Revise "colab_vn"
  chapter_appendix-tools-for-deep-learning/colab_vn.md
Labels: chapter: appendix-tools, status: phase 2

#3073 Revise "maximum-likelihood_vn"
  chapter_appendix-mathematics-for-deep-learning/maximum-likelihood_vn.md
Labels: chapter: appendix-math, priority:high, status: phase 2

#3084 Revise "statistics_vn" - Phần 1
  chapter_appendix-mathematics-for-deep-learning/statistics_vn.md
Labels: chapter: appendix-math, status: phase 2

#3085 Revise "statistics_vn" - Phần 2
  chapter_appendix-mathematics-for-deep-learning/statistics_vn.md
Labels: chapter: appendix-math, status: phase 2

#3086 Revise "statistics_vn" - Phần 3
  chapter_appendix-mathematics-for-deep-learning/statistics_vn.md
Labels: chapter: appendix-math, status: phase 2

#3088 Revise "statistics_vn" - Phần 5
  chapter_appendix-mathematics-for-deep-learning/statistics_vn.md
Labels: chapter: appendix-math, status: phase 2

#3087 Revise "statistics_vn" - Phần 4
  chapter_appendix-mathematics-for-deep-learning/statistics_vn.md
Labels: chapter: appendix-math, status: phase 2

#3096 Revise "contributing_vn"
  chapter_appendix-tools-for-deep-learning/contributing_vn.md
Labels: chapter: appendix-tools, status: phase 2

#3075 Revise "distributions_vn" - Phần 2
  chapter_appendix-mathematics-for-deep-learning/distributions_vn.md
Labels: chapter: appendix-math, priority:high, status: phase 2

#3074 Revise "distributions_vn" - Phần 1
  chapter_appendix-mathematics-for-deep-learning/distributions_vn.md
Labels: chapter: appendix-math, priority:high, status: phase 2

#3078 Revise "information-theory_vn" - Phần 2
  chapter_appendix-mathematics-for-deep-learning/information-theory_vn.md
Labels: chapter: appendix-math, priority:high, status: phase 2

#3079 Revise "information-theory_vn" - Phần 3
  chapter_appendix-mathematics-for-deep-learning/information-theory_vn.md
Labels: chapter: appendix-math, priority:high, status: phase 2

#3080 Revise "information-theory_vn" - Phần 4
  chapter_appendix-mathematics-for-deep-learning/information-theory_vn.md
Labels: chapter: appendix-math, priority:high, status: phase 2

#3081 Revise "information-theory_vn" - Phần 1
  chapter_appendix-mathematics-for-deep-learning/information-theory_vn.md
Labels: chapter: appendix-math, priority:high, status: phase 2

#3083 Revise "information-theory_vn" - Phần 6
  chapter_appendix-mathematics-for-deep-learning/information-theory_vn.md
Labels: chapter: appendix-math, status: phase 2

#3082 Revise "information-theory_vn" - Phần 5
  chapter_appendix-mathematics-for-deep-learning/information-theory_vn.md
Labels: chapter: appendix-math, status: phase 2

#3097 Revise "selecting-servers-gpus_vn
  chapter_appendix-tools-for-deep-learning/selecting-servers-gpus_vn.md
Labels: chapter: appendix-tools, status: phase 2
