Repository mlbvn/d2l-vn, pull requests merged in 2020-06, with the labels that each got.

#1673 Add "reset gate"
  glossary.md
Labels: type: glossary

#1577 Dịch "rnn-scratch_vn" - Phần 3
  chapter_recurrent-neural-networks/rnn-scratch_vn.md
Labels: chapter: recurrent-neural-networks

#1580 Dịch "rnn-scratch_vn" - Phần 4
  chapter_recurrent-neural-networks/rnn-scratch_vn.md
Labels: chapter: recurrent-neural-networks

#1616 Dịch "bptt_vn" - Phần 5
  chapter_recurrent-neural-networks/bptt_vn.md
Labels: chapter: recurrent-neural-networks

#1639 Dịch "bptt_vn" - Phần 1
  chapter_recurrent-neural-networks/bptt_vn.md
Labels: chapter: recurrent-neural-networks

#1643 Dịch "bptt_vn" - Phần 2
  chapter_recurrent-neural-networks/bptt_vn.md
Labels: chapter: recurrent-neural-networks

#1647 Dịch "bptt_vn" - Phần 3
  chapter_recurrent-neural-networks/bptt_vn.md
Labels: chapter: recurrent-neural-networks

#1672 Add "memory cell"
  glossary.md
Labels: type: glossary

#1683 Fix gated recurrent unit (GRU)
  glossary.md
Labels: type: glossary

#1633 Dịch "gru_vn" - Phần 1
  chapter_recurrent-modern/gru_vn.md
Labels: chapter: recurrent-modern, type: first contribution

#1704 Add "convex combination"
  glossary.md
Labels: type: glossary

#1699 Add "sequence to sequence"
  glossary.md
Labels: type: glossary

#1619 Dịch "bptt_vn" - Phần 6
  chapter_recurrent-neural-networks/bptt_vn.md
Labels: chapter: recurrent-neural-networks

#1674 Add encoder-decoder
  glossary.md
Labels: type: glossary

#1634 Dịch "index_vn"
  chapter_recurrent-modern/index_vn.md
Labels: chapter: recurrent-modern

#1648 Dịch "gru_vn" - Phần 4
  chapter_recurrent-modern/gru_vn.md
Labels: chapter: recurrent-modern

#1707 Fix typo "scoring function"
  glossary.md
Labels: type: bug, type: glossary

#1709 Add "machine translation"
  glossary.md
Labels: type: glossary

#1651 Revise "sequence_vn" - Phần 1
  chapter_recurrent-neural-networks/sequence_vn.md
Labels: chapter: recurrent-neural-networks, status: phase 2

#1654 Dịch "lstm_vn" - Phần 4
  chapter_recurrent-modern/lstm_vn.md
Labels: chapter: recurrent-modern

#1657 Dịch "gru_vn" - Phần 2
  chapter_recurrent-modern/gru_vn.md
Labels: chapter: recurrent-modern

#1659 Dịch "lstm_vn" - Phần 1
  chapter_recurrent-modern/lstm_vn.md
Labels: chapter: recurrent-modern

#1671 Dịch "lstm_vn" - Phần 3
  chapter_recurrent-modern/lstm_vn.md
Labels: chapter: recurrent-modern

#1723 Dịch hình chương Modern RNN - Phần 2
  img/beam-search.svg
  img/encoder-decoder.svg
  img/s2s-prob1.svg
  img/s2s-prob2.svg
  img/seq2seq-details.svg
  img/seq2seq.svg
  img/seq2seq_predict.svg
Labels: type: figures

#1658 Dịch "gru_vn" - Phần 3
  chapter_recurrent-modern/gru_vn.md
Labels: chapter: recurrent-modern, status: pending triage

#1669 Dịch "lstm_vn" - Phần 2
  chapter_recurrent-modern/lstm_vn.md
Labels: chapter: recurrent-modern, status: pending triage

#1655 Dịch "lstm_vn" - Phần 5
  chapter_recurrent-modern/lstm_vn.md
Labels: chapter: recurrent-modern, status: pending triage

#1649 Dịch "gru_vn" - Phần 5
  chapter_recurrent-modern/gru_vn.md
Labels: chapter: recurrent-modern

#1684 Revise "language-models-and-dataset_vn" - Phần 2
  chapter_recurrent-neural-networks/language-models-and-dataset_vn.md
Labels: chapter: recurrent-neural-networks, status: phase 2

#1688 Revise "language-models-and-dataset_vn" - Phần 3
  chapter_recurrent-neural-networks/language-models-and-dataset_vn.md
Labels: chapter: recurrent-neural-networks, status: phase 2

#1675 Revise "language-models-and-dataset_vn" - Phần 1
  chapter_recurrent-neural-networks/language-models-and-dataset_vn.md
Labels: chapter: recurrent-neural-networks, status: phase 2

#1694 Revise "rnn_vn" - Phần 1
  chapter_recurrent-neural-networks/rnn_vn.md
Labels: chapter: recurrent-neural-networks, status: phase 2

#1696 Revise "text-preprocessing_vn"
  chapter_recurrent-neural-networks/text-preprocessing_vn.md
Labels: chapter: recurrent-neural-networks, status: phase 2

#1720 Revise "bptt_vn" - Phần 1
  chapter_recurrent-neural-networks/bptt_vn.md
Labels: chapter: recurrent-neural-networks, status: phase 2

#1721 Add BPTT, truncated BPTT
  glossary.md
Labels: type: glossary

#1708 Revise "rnn-scratch_vn" - Phần 1
  chapter_recurrent-neural-networks/rnn-scratch_vn.md
Labels: chapter: recurrent-neural-networks, status: phase 2

#1769 Add "sequential partitioning"
  glossary.md
Labels: type: glossary

#1697 Revise "sequence_vn" - Phần 2
  chapter_recurrent-neural-networks/sequence_vn.md
Labels: chapter: recurrent-neural-networks, status: phase 2

#1754 Add "Optimization" chapter
  chapter_optimization/adadelta_vn.md
  chapter_optimization/adagrad_vn.md
  chapter_optimization/adam_vn.md
  chapter_optimization/convexity_vn.md
  chapter_optimization/gd.md
  chapter_optimization/index_vn.md
  chapter_optimization/lr-scheduler_vn.md
  chapter_optimization/minibatch-sgd_vn.md
  chapter_optimization/momentum_vn.md
  chapter_optimization/optimization-intro_vn.md
  chapter_optimization/rmsprop_vn.md
  chapter_optimization/sgd_vn.md
Labels: type: logistic

#1698 Revise "sequence_vn" - Phần 3
  chapter_recurrent-neural-networks/sequence_vn.md
Labels: chapter: recurrent-neural-networks, status: phase 2

#1711 Revise "rnn-scratch_vn" - Phần 2
  chapter_recurrent-neural-networks/rnn-scratch_vn.md
Labels: chapter: recurrent-neural-networks, status: phase 2

#1762 Amend "named entity"
  glossary.md
Labels: type: glossary

#1751 Revise "index_vn"
  chapter_recurrent-neural-networks/index_vn.md
Labels: chapter: recurrent-neural-networks, status: phase 2

#1685 Dịch "machine-translation-and-dataset_vn" - Phần 1
  chapter_recurrent-modern/machine-translation-and-dataset_vn.md
Labels: chapter: recurrent-modern

#1686 Dịch "machine-translation-and-dataset_vn" - Phần 2
  chapter_recurrent-modern/machine-translation-and-dataset_vn.md
Labels: chapter: recurrent-modern

#1687 Dịch "machine-translation-and-dataset_vn" - Phần 3
  chapter_recurrent-modern/machine-translation-and-dataset_vn.md
Labels: chapter: recurrent-modern

#1748 Revise "bptt_vn" - Phần 2
  chapter_recurrent-neural-networks/bptt_vn.md
Labels: chapter: recurrent-neural-networks, status: phase 2

#1774 Add "greedy search"
  glossary.md
Labels: type: glossary

#1770 Add "transformer & position-wise FNN"
  .gitignore
  glossary.md
Labels: type: glossary

#1771 Add "multi-head attention & masked multi-head attention"
  glossary.md
Labels: type: glossary

#1656 Dịch "lstm_vn" - Phần 6
  chapter_recurrent-modern/lstm_vn.md
Labels: chapter: recurrent-modern, status: pending triage

#1695 Dịch "deep-rnn_vn" - Phần 1
  chapter_recurrent-modern/deep-rnn_vn.md
Labels: chapter: recurrent-modern, status: pending triage

#1700 Dịch "deep-rnn_vn" - Phần 2
  chapter_recurrent-modern/deep-rnn_vn.md
Labels: chapter: recurrent-modern

#1724 Dịch "seq2seq_vn" - Phần 3
  chapter_recurrent-modern/seq2seq_vn.md
Labels: chapter: recurrent-modern, type: first contribution

#1763 Revise "rnn-gluon_vn"
  chapter_recurrent-neural-networks/rnn-gluon_vn.md
Labels: chapter: recurrent-neural-networks, status: phase 2

#1725 Dịch "seq2seq_vn" - Phần 4
  chapter_recurrent-modern/seq2seq_vn.md
Labels: chapter: recurrent-modern

#1726 Dịch "seq2seq_vn" - Phần 5
  chapter_recurrent-modern/seq2seq_vn.md
Labels: chapter: recurrent-modern

#1777 Add "key", "query", and "value"
  glossary.md
Labels: type: glossary

#1732 Dịch "deep-rnn_vn" - Phần 3
  chapter_recurrent-modern/deep-rnn_vn.md
Labels: chapter: recurrent-modern

#1735 Dịch "seq2seq_vn" - Phần 1
  chapter_recurrent-modern/seq2seq_vn.md
Labels: chapter: recurrent-modern

#1772 Revise "rnn_vn" - Phần 2
  chapter_recurrent-neural-networks/rnn_vn.md
Labels: chapter: recurrent-neural-networks, status: phase 2

#1734 Dịch "bi-rnn_vn" - Phần 2
  chapter_recurrent-modern/bi-rnn_vn.md
Labels: chapter: recurrent-modern

#1733 Dịch "bi-rnn_vn" - Phần 1
  chapter_recurrent-modern/bi-rnn_vn.md
Labels: chapter: recurrent-modern

#1765 Dịch "encoder-decoder_vn" - Phần 2
  chapter_recurrent-modern/encoder-decoder_vn.md
Labels: chapter: recurrent-modern

#1767 Dịch "bi-rnn_vn" - Phần 3
  chapter_recurrent-modern/bi-rnn_vn.md
Labels: chapter: recurrent-modern, type: first contribution

#1710 Dịch "bi-rnn_vn" - Phần 4
  chapter_recurrent-modern/bi-rnn_vn.md
Labels: chapter: recurrent-modern

#1768 Amend "Perplexity"
  glossary.md
Labels: status: blocking, type: glossary

#1722 Revise "rnn-scratch_vn" - Phần 3
  chapter_recurrent-neural-networks/rnn-scratch_vn.md
Labels: chapter: recurrent-neural-networks, status: pending triage, status: phase 2

#1801 Fix RNN
  chapter_recurrent-neural-networks/bptt_vn.md
  chapter_recurrent-neural-networks/index_vn.md
  chapter_recurrent-neural-networks/language-models-and-dataset_vn.md
  chapter_recurrent-neural-networks/rnn-gluon_vn.md
  chapter_recurrent-neural-networks/rnn-scratch_vn.md
  chapter_recurrent-neural-networks/rnn_vn.md
  chapter_recurrent-neural-networks/sequence_vn.md
  chapter_recurrent-neural-networks/text-preprocessing_vn.md
Labels: chapter: recurrent-neural-networks, priority:high, type: logistic

#1773 Revise "rnn_vn" - Phần 3
  chapter_recurrent-neural-networks/rnn_vn.md
Labels: chapter: recurrent-neural-networks, status: pending triage, status: phase 2

#1650 Dịch "gru_vn" - Phần 6
  chapter_recurrent-modern/gru_vn.md
Labels: chapter: recurrent-modern, priority:high, status: pending triage

#1802 Deploy chapter rnn
  config.ini
  deploy.sh
  index.md
Labels: type: deploy, type: logistic

#1804 Fix RNN ... again
  chapter_recurrent-neural-networks/bptt_vn.md
  chapter_recurrent-neural-networks/language-models-and-dataset_vn.md
  chapter_recurrent-neural-networks/rnn-gluon_vn.md
  chapter_recurrent-neural-networks/rnn-scratch_vn.md
  chapter_recurrent-neural-networks/rnn_vn.md
  chapter_recurrent-neural-networks/sequence_vn.md
  chapter_recurrent-neural-networks/text-preprocessing_vn.md
Labels: type: bug, type: logistic

#1806 Add "statistical inference"
  glossary.md
Labels: type: glossary

#1809 Add "reparameterization"
  glossary.md
Labels: type: glossary

#1789 Add "positional encoding"
  glossary.md
Labels: type: glossary

#1736 Dịch "seq2seq_vn" - Phần 2
  chapter_recurrent-modern/seq2seq_vn.md
Labels: chapter: recurrent-modern

#1737 Dịch "beam-search_vn" - Phần 3
  chapter_recurrent-modern/beam-search_vn.md
Labels: chapter: recurrent-modern

#1738 Dịch "beam-search_vn" - Phần 4
  chapter_recurrent-modern/beam-search_vn.md
Labels: chapter: recurrent-modern

#1742 Dịch "bi-rnn_vn" - Phần 5
  chapter_recurrent-modern/bi-rnn_vn.md
Labels: chapter: recurrent-modern

#1764 Dịch "encoder-decoder_vn" - Phần 1
  chapter_recurrent-modern/encoder-decoder_vn.md
Labels: chapter: recurrent-modern

#1743 Dịch "bi-rnn_vn" - Phần 6
  chapter_recurrent-modern/bi-rnn_vn.md
Labels: chapter: recurrent-modern

#1775 Dịch "beam-search_vn" - Phần 1
  chapter_recurrent-modern/beam-search_vn.md
Labels: chapter: recurrent-modern

#1776 Dịch "beam-search_vn" - Phần 2
  chapter_recurrent-modern/beam-search_vn.md
Labels: chapter: recurrent-modern

#1752 Dịch "seq2seq-attention_vn" - Phần 1
  chapter_attention-mechanisms/seq2seq-attention_vn.md
Labels: chapter: attention-mechanisms

#1823 Amend "memory" on lstm images
  img/lstm_1.svg
  img/lstm_2.svg
  img/lstm_3.svg
Labels: type: bug, type: figures

#1807 Add "analytical solution" and "numerical solution"
  glossary.md
Labels: type: glossary

#1828 Hotfix - Add suffix
  chapter_optimization/gd_vn.md
Labels: type: bug, type: logistic

#1749 Dịch "attention_vn" - Phần 3
  chapter_attention-mechanisms/attention_vn.md
Labels: chapter: attention-mechanisms

#1750 Dịch "attention_vn" - Phần 4
  chapter_attention-mechanisms/attention_vn.md
Labels: chapter: attention-mechanisms

#1755 Dịch "seq2seq-attention_vn" - Phần 2
  chapter_attention-mechanisms/seq2seq-attention_vn.md
Labels: chapter: attention-mechanisms

#1760 Dịch "seq2seq-attention_vn" - Phần 3
  chapter_attention-mechanisms/seq2seq-attention_vn.md
Labels: chapter: attention-mechanisms

#1814 Dịch hình chương Attention Mechanisms - Phần 2
  img/multi-head-attention.svg
  img/positional_encoding.svg
  img/self-attention-predict.svg
  img/self-attention.svg
  img/transformer.svg
Labels: chapter: attention-mechanisms, type: figures

#1808 Dịch hình chương Attention Mechanisms - Phần 1
  img/attention.svg
  img/attention_output.svg
  img/seq2seq-attention-details.svg
  img/seq2seq_attention.svg
Labels: chapter: attention-mechanisms, type: figures

#1783 Add "beam search"
  glossary.md
Labels: type: glossary

#1766 Dịch "transformer_vn" - Phần 1
  chapter_attention-mechanisms/transformer_vn.md
Labels: chapter: attention-mechanisms

#1778 Dịch "attention_vn" - Phần 1
  chapter_attention-mechanisms/attention_vn.md
Labels: chapter: attention-mechanisms

#1788 Dịch "index_vn"
  chapter_attention-mechanisms/index_vn.md
Labels: chapter: attention-mechanisms

#1779 Dịch "transformer_vn" - Phần 2
  chapter_attention-mechanisms/transformer_vn.md
Labels: chapter: attention-mechanisms

#1780 Dịch "transformer_vn" - Phần 3
  chapter_attention-mechanisms/transformer_vn.md
Labels: chapter: attention-mechanisms

#1781 Dịch "transformer_vn" - Phần 4
  chapter_attention-mechanisms/transformer_vn.md
Labels: chapter: attention-mechanisms

#1782 Dịch "attention_vn" - Phần 2
  chapter_attention-mechanisms/attention_vn.md
Labels: chapter: attention-mechanisms

#1848 Add variational.
  glossary.md
Labels: type: glossary

#1784 Dịch "transformer_vn" - Phần 5
  chapter_attention-mechanisms/transformer_vn.md
Labels: chapter: attention-mechanisms

#1786 Dịch "transformer_vn" - Phần 7
  chapter_attention-mechanisms/transformer_vn.md
Labels: chapter: attention-mechanisms

#1787 Dịch "transformer_vn" - Phần 8
  chapter_attention-mechanisms/transformer_vn.md
Labels: chapter: attention-mechanisms

#1785 Dịch "transformer_vn" - Phần 6
  chapter_attention-mechanisms/transformer_vn.md
Labels: chapter: attention-mechanisms

#1810 Dịch "optimization-intro_vn" - Phần 1
  chapter_optimization/optimization-intro_vn.md
Labels: chapter: optimization

#1882 Amend "candidate memory"
  glossary.md
Labels: type: glossary

#1875 Amend "recurrent"
  glossary.md
Labels: type: glossary

#1816 Dịch "index_vn"
  chapter_optimization/index_vn.md
Labels: chapter: optimization

#1815 Dịch "convexity_vn" - Phần 1
  chapter_optimization/convexity_vn.md
Labels: chapter: optimization

#1896 Fix "recurrent"
  chapter_convolutional-neural-networks/index_vn.md
  chapter_multilayer-perceptrons/mlp_vn.md
  chapter_preface/index_vn.md
  chapter_recurrent-neural-networks/bptt_vn.md
  chapter_recurrent-neural-networks/index_vn.md
  chapter_recurrent-neural-networks/rnn-gluon_vn.md
  chapter_recurrent-neural-networks/rnn-scratch_vn.md
  chapter_recurrent-neural-networks/rnn_vn.md
Labels: type: logistic

#1846 Revise "gru_vn" - Phần 2
  chapter_recurrent-modern/gru_vn.md
Labels: chapter: recurrent-modern, status: phase 2

#1897 [Image] Fix "recurrent"
  img/book-org.svg
  img/seq2seq-attention-details.svg
  img/seq2seq-details.svg
  img/transformer.svg
Labels: type: figures

#1811 Dịch "optimization-intro_vn" - Phần 2
  chapter_optimization/optimization-intro_vn.md
Labels: chapter: optimization

#1812 Dịch "optimization-intro_vn" - Phần 3
  chapter_optimization/optimization-intro_vn.md
Labels: chapter: optimization

#1831 Dịch "convexity_vn" - Phần 4
  chapter_optimization/convexity_vn.md
Labels: chapter: optimization

#1843 Revise "gru_vn" - Phần 1
  chapter_recurrent-modern/gru_vn.md
Labels: chapter: recurrent-modern, status: phase 2

#1845 Dịch "convexity_vn" - Phần 6
  chapter_optimization/convexity_vn.md
Labels: chapter: optimization

#1813 Dịch "optimization-intro_vn" - Phần 4
  chapter_optimization/optimization-intro_vn.md
Labels: chapter: optimization

#1865 Revise "encoder-decoder_vn"
  chapter_recurrent-modern/encoder-decoder_vn.md
Labels: chapter: recurrent-modern, status: phase 2

#1817 Dịch "convexity_vn" - Phần 2
  chapter_optimization/convexity_vn.md
Labels: chapter: optimization

#1911 Add "vectorization"
  glossary.md
Labels: type: glossary

#1864 Revise "machine-translation-and-dataset_vn"
  chapter_recurrent-modern/machine-translation-and-dataset_vn.md
Labels: chapter: recurrent-modern, status: phase 2

#1841 Dịch "sgd_vn" - Phần 1
  chapter_optimization/sgd_vn.md
Labels: chapter: optimization

#1844 Dịch "convexity_vn" - Phần 5
  chapter_optimization/convexity_vn.md
Labels: chapter: optimization

#1917 Add "whitening data"
  glossary.md
Labels: type: glossary

#1868 Revise "seq2seq_vn" - Phần 1
  chapter_recurrent-modern/seq2seq_vn.md
Labels: chapter: recurrent-modern, status: phase 2

#1847 Dịch "sgd_vn" - Phần 4
  chapter_optimization/sgd_vn.md
Labels: chapter: optimization

#1854 Revise "index_vn"
  chapter_recurrent-modern/index_vn.md
Labels: chapter: recurrent-modern, status: phase 2

#1912 Add lr schedule, maximize, minimize
  glossary.md
Labels: type: glossary

#1853 Dịch "sgd_vn" - Phần 2
  chapter_optimization/sgd_vn.md
Labels: chapter: optimization

#1874 Revise "seq2seq_vn" - Phần 2
  chapter_recurrent-modern/seq2seq_vn.md
Labels: chapter: recurrent-modern, status: phase 2

#1918 Add "noise-injection"
  glossary.md
Labels: type: glossary

#1935 Append "model family"
  glossary.md
Labels: type: glossary

#1895 Revise "beam-search_vn" - Phần 1
  chapter_recurrent-modern/beam-search_vn.md
Labels: chapter: recurrent-modern, status: phase 2

#1898 Revise "beam-search_vn" - Phần 2
  chapter_recurrent-modern/beam-search_vn.md
Labels: chapter: recurrent-modern, status: phase 2

#1940 Add "Taylor expansion"
  glossary.md
Labels: type: glossary

#1753 Update Contributions
  CONTRIBUTING.md
  README.md
  STYLE_GUIDE.md
  docs/contributors_info.md
  docs/contributors_template_vn.md
  docs/pull_request_template.md
  docs/translation-guide/draft-pull-requests-ready.png
  docs/translation-guide/draft-pull-requests.png
  docs/translation-guide/faq-add-suggestion.png
  docs/translation-guide/faq-commit-suggestions.png
  docs/translation-guide/faq-file-changed.png
  docs/translation-guide/normal-view.png
  docs/translation-guide/rv-step-01.png
  docs/translation-guide/rv-step-02.png
  docs/translation-guide/rv-step-03.png
  docs/translation-guide/web-step-01.png
  docs/translation-guide/web-step-02.png
  docs/translation-guide/web-step-03.png
  docs/translation-guide/web-step-04.png
  intro_vn.md
  static/logo-with-text-vi.png
  translation_team/draft-pull-requests-ready.png
  translation_team/draft-pull-requests.png
  translation_team/step01.png
  translation_team/step02.png
  translation_team/step03.png
  translation_team/step04.png
  translation_team/step05.png
  translation_team/step06.png
  translation_team/step07.png
  translation_team/step08.png
Labels: type: logistic

#1881 Revise "lstm_vn" - Phần 2
  chapter_recurrent-modern/lstm_vn.md
Labels: chapter: recurrent-modern, status: phase 2

#1869 Dịch "sgd_vn" - Phần 5
  chapter_optimization/sgd_vn.md
Labels: chapter: optimization

#1830 Dịch "convexity_vn" - Phần 3
  chapter_optimization/convexity_vn.md
Labels: chapter: optimization

#1870 Dịch "sgd_vn" - Phần 6
  chapter_optimization/sgd_vn.md
Labels: chapter: optimization

#1920 Revise "deep-rnn_vn" - Phần 2
  chapter_recurrent-modern/deep-rnn_vn.md
Labels: chapter: recurrent-modern, status: phase 2

#1921 Revise "bi-rnn_vn" - Phần 1
  chapter_recurrent-modern/bi-rnn_vn.md
Labels: chapter: recurrent-modern, status: phase 2

#1922 Revise "bi-rnn_vn" - Phần 2
  chapter_recurrent-modern/bi-rnn_vn.md
Labels: chapter: recurrent-modern, status: phase 2

#1939 Add "collaborative filtering"
  glossary.md
Labels: type: glossary

#1871 Dịch "sgd_vn" - Phần 7
  chapter_optimization/sgd_vn.md
Labels: chapter: optimization

#1872 Dịch "gd_vn" - Phần 5
  chapter_optimization/gd_vn.md
Labels: chapter: optimization
