Repository mlbvn/d2l-vn, pull requests merged in 2020-01, with the labels that each got.

#186 Glossary: thêm Adversarial Learning
  glossary.md
Labels: blocking, glosssary

#181 Dịch introduction phần 23
  chapter_introduction/index_vn.md
Labels: introduction

#182 Dịch Intro phần 24
  chapter_introduction/index_vn.md
Labels: introduction

#220 Glossary: LSTM
  glossary.md
Labels: glosssary

#189 Dịch introduction/index_vn.md phần 6
  chapter_introduction/index_vn.md
Labels: introduction, review wanted

#203 Dịch Intro phần 29
  chapter_introduction/index_vn.md
Labels: introduction

#205 Dịch Intro phần 31
  chapter_introduction/index_vn.md
Labels: introduction

#207 Dịch Intro phần 33
  chapter_introduction/index_vn.md
Labels: introduction

#208 Dịch Intro phần 34 (phần cuối)
  chapter_introduction/index_vn.md
Labels: introduction

#248 Update LICENSE
  LICENSE
  LICENSE-SAMPLECODE
  LICENSE-SUMMARY
Labels: logistic

#247 MSE and RMSE
  glossary.md
Labels: glosssary

#249 Glossary "Add LDA"
  glossary.md
Labels: glosssary

#188 Dịch appendix_math/geometry-linear-algebra-opes_vn.md phần 10
  chapter_appendix_math/geometry-linear-algebric-ops_vn.md
Labels: math, review wanted

#235 Glossary: GAN, PCA, graphical model, subspace estimation, data science
  glossary.md
Labels: glosssary

#243 Dịch chapter_appendix_math/statistics_vn - Phần 02
  chapter_appendix_math/statistics_vn.md
Labels: math, review wanted

#246 add "tensor contraction" to glossary
  glossary.md
Labels: glosssary

#237 Glossary: null hypothesis, statistical significant
  glossary.md
Labels: glosssary

#221 Dịch chapter_appendix_math/geometry-linear-algebric-ops_vn.md phần 15
  chapter_appendix_math/geometry-linear-algebric-ops_vn.md
Labels: math, review wanted

#253 Update geometry-linear-algebric-ops_vn.md
  chapter_appendix_math/geometry-linear-algebric-ops_vn.md
Labels: math

#252 edit glossary: graphical model
  glossary.md
Labels: glosssary

#187 Dịch geometry-linear-algebra-ops_vn.md phần 14
  chapter_appendix_math/geometry-linear-algebric-ops_vn.md
Labels: math, review wanted

#259 hot fix index_vn.md
  chapter_introduction/index_vn.md
Labels: introduction

#200 Dịch introduction/index_vn.md phần 27
  chapter_introduction/index_vn.md
Labels: introduction

#210 Intro part22
  chapter_introduction/index_vn.md
Labels: introduction

#211 Dịch chapter_appendix_math/geometry-linear-algebric-ops_vn.md phần 16
  chapter_appendix_math/geometry-linear-algebric-ops_vn.md
Labels: math

#261 Fix intro 22 and geo_la_16
  chapter_appendix_math/geometry-linear-algebric-ops_vn.md
  chapter_introduction/index_vn.md
Labels: introduction, math

#262 d2l-en -> d2l-vn
  config.ini
Labels: deploy

#224 Dịch introduction/index_vn.md phần 28
  chapter_introduction/index_vn.md
Labels: introduction

#206 Dịch Intro phần 32
  chapter_introduction/index_vn.md
Labels: introduction

#204 Dịch Intro phần 30
  chapter_introduction/index_vn.md
Labels: introduction

#277 Glossary: terms in statistics
  glossary.md
Labels: glosssary

#197 Dịch introduction/index_vn.md phần 26
  chapter_introduction/index_vn.md
Labels: introduction

#297 Chia dòng phần Introduction 1
  chapter_introduction/index_vn.md
Labels: introduction

#296 Tách dòng chương Introduction - Phần 1.2.2, 1.2.3, 1.2.4
  chapter_introduction/index_vn.md
Labels: introduction

#300 align glossary
  glossary.md
Labels: glosssary

#273 Add "chapter_appendix-mathematics-for-deep-learning/single-variable-calculus"
  chapter_appendix_math/single-variable-calculus.md
  chapter_appendix_math/single-variable-calculus_vn.md
Labels: logistic, math

#305 Fix lines 1.2
  chapter_introduction/index_vn.md
Labels: introduction

#236 Dịch statistics_vn.md phần 7.
  chapter_appendix_math/statistics_vn.md
Labels: math

#306 Add references
  chapter_references/zreferences.md
  config.ini
  d2l.bib
  index.md
Labels: deploy

#307 Intro hotfix
  chapter_introduction/index_vn.md
Labels: introduction

#309 hotfix wake-word.svg
  img/wake-word.svg
Labels: figures

#257 Dịch chapter_appendix_math/statistics_vn - Phần 04
  chapter_appendix_math/statistics_vn.md
Labels: math

#299 Revise chương Introduction - Phần 1.2.2, 1.2.3, 1.2.4
  chapter_introduction/index_vn.md
Labels: introduction

#256 Dịch chapter_appendix_math/statistics_vn - Phần 05
  chapter_appendix_math/statistics_vn.md
Labels: math

#294 Revise chương Introduction - Phần 1. Giới thiệu
  chapter_introduction/index_vn.md
Labels: introduction

#290 Revise introduction_vn.md 1.2 & 1.2.1
  chapter_introduction/index_vn.md
Labels: introduction

#298 Revise chương Introduction - Phần 1.1. Một ví dụ truyền cảm hứng
  chapter_introduction/index_vn.md
Labels: introduction

#310 one sentence one line preface
  chapter_preface/index_vn.md
Labels: preface

#264 Dịch chapter_appendix_math/statistics_vn - Phần 06
  chapter_appendix_math/statistics_vn.md
Labels: math

#244 Dịch chapter_appendix_math/statistics_vn - Phần 03
  chapter_appendix_math/statistics_vn.md
Labels: math

#319 Update glossary.md
  glossary.md
Labels: glosssary

#301 Dịch chapter_appendix_math/statistics_vn - Phần 01
  chapter_appendix_math/statistics_vn.md
Labels: math

#251 Dịch chapter_appendix_math/statistics_vn.md phần 8
  chapter_appendix_math/statistics_vn.md
Labels: math

#275 Dịch chapter_preliminaries/linear-algebra_vn phần 2
  chapter_preliminaries/linear-algebra_vn.md
Labels: preliminaries

#316 Revise chương Introduction - Phần 1.3 & 1.3.1
  chapter_introduction/index_vn.md
Labels: high priority, introduction

#293 Dịch chapter_appendix_math/statistics_vn - Phần 09
  chapter_appendix_math/statistics_vn.md
Labels: math

#317 Revise chương Introduction - Phần 1.3.1.2. Phân loại
  chapter_introduction/index_vn.md
Labels: high priority, introduction

#318 Revise chương Introduction - Phần 1.3.1.3 & 1.3.1.4
  chapter_introduction/index_vn.md
Labels: high priority, introduction

#330 Phân vùng chapter preface & install cho Revise lần 2
  chapter_install/index_vn.md
  chapter_preface/index_vn.md
Labels: install, logistic, preface

#329 Phân vùng chapter_introduction cho Revise lần 2
  chapter_introduction/index_vn.md
Labels: introduction, logistic

#274 Dịch chapter_preliminaries/linear-algebra_vn phần 1
  chapter_preliminaries/linear-algebra_vn.md
Labels: preliminaries

#333 Revise chương Introduction - Phần 1.3.1.6. Học chuỗi
  chapter_introduction/index_vn.md
Labels: introduction

#331 Revise chương Introduction - Phần 1.3.1.1. Hồi quy
  chapter_introduction/index_vn.md
Labels: introduction

#332 Dịch - chapter_appendix_math/statistics_vn - Phần 11
  chapter_appendix_math/statistics_vn.md
Labels: math

#334 Revise Introduction: Nguồn gốc
  chapter_introduction/index_vn.md
Labels: high priority, introduction

#276 Dịch chapter_preliminaries/linear-algebra_vn phần 3
  chapter_preliminaries/linear-algebra_vn.md
Labels: preliminaries

#337 Revise chương Introduction - Phần 1.3.3. Tương tác với Môi trường
  chapter_introduction/index_vn.md
Labels: high priority, introduction

#336 Revise chương Introduction - Phần 1.3.2. Học không giám sát
  chapter_introduction/index_vn.md
Labels: high priority, introduction

#338 Revise chương Introduction - Phần 1.7, 1.8 & 1.9 (Phần cuối)
  chapter_introduction/index_vn.md
Labels: high priority, introduction

#323 Dịch chapter_preliminaries/linear-algebra_vn - Phần 04
  chapter_preliminaries/linear-algebra_vn.md
Labels: preliminaries

#335 Revise chương Introduction - Phần 1.3.1.5. Hệ thống gợi ý
  chapter_introduction/index_vn.md
Labels: high priority, introduction

#349 Revise chương Introduction - Phần 1.3.4 & 1.3.4.1
  chapter_introduction/index_vn.md
Labels: introduction

#350 Revise chương Introduction - Phần 1.6
  chapter_introduction/index_vn.md
Labels: introduction

#348 Revise chapter install
  chapter_install/install_vn.md
Labels: high priority, install

#322 Dịch chapter_preliminaries/linear-algebra_vn - Phần 10
  chapter_preliminaries/linear-algebra_vn.md
Labels: preliminaries

#355 Revise preface phần 1.
  chapter_preface/index_vn.md
Labels: high priority, preface

#324 Dịch chapter_preliminaries/linear-algebra_vn - Phần 05
  chapter_preliminaries/linear-algebra_vn.md
Labels: preliminaries

#351 Revise nội dung chương Preface - Phần 3
  chapter_preface/index_vn.md
Labels: high priority, preface

#352 Revise nội dung chương Preface - Phần 4
  chapter_preface/index_vn.md
Labels: high priority, preface

#353 Revise nội dung chương Preface - Phần 5
  chapter_preface/index_vn.md
Labels: high priority, preface

#354 Revise nội dung chương Preface - Phần 6 (Phần cuối)
  chapter_preface/index_vn.md
Labels: high priority, preface

#359 Add "chapter_notation/index"
  .github/labeler.yml
  chapter_notation/index.md
  chapter_notation/index_vn.md
Labels: logistic, notation

#357 Deploy tet
  chapter_install/install_vn.md
  chapter_introduction/index_vn.md
  chapter_preface/index_vn.md
  index.md
Labels: install, introduction, preface

#361 Sửa "Những người thực hiện" thành heading 2
  chapter_appendix_math/index_vn.md
  chapter_appendix_math/single-variable-calculus_vn.md
  chapter_appendix_math/statistics_vn.md
  chapter_install/install_vn.md
  chapter_introduction/index_vn.md
  chapter_notation/index_vn.md
  chapter_preface/index_vn.md
  chapter_preliminaries/index_vn.md
  chapter_preliminaries/linear-algebra_vn.md
  contributor_template.md
Labels: install, introduction, math, notation, preface, preliminaries

#356 Revise preface phần 2.
  chapter_preface/index_vn.md
Labels: high priority, preface

#346 Dịch chapter_appendix_math/statistics_vn - Phần 13 (Phần cuối)
  chapter_appendix_math/statistics_vn.md
Labels: math

#366 Thêm elementwise và shape vào glossary
  glossary.md
Labels: glosssary

#364 ki -> ky, hi -> hy, revise introduction
  chapter_appendix_math/geometry-linear-algebric-ops_vn.md
  chapter_introduction/index_vn.md
  chapter_preface/index_vn.md
  chapter_preliminaries/linear-algebra_vn.md
Labels: introduction, math, preface, preliminaries

#363 Revise chương Introduction - Phần 1.5
  chapter_introduction/index_vn.md
Labels: high priority, introduction

#345 Dịch chapter_appendix_math/statistics_vn - Phần 12
  chapter_appendix_math/statistics_vn.md
Labels: math

#365 Dịch chương Notation
  chapter_notation/index_vn.md
  index.md
Labels: notation

#372 Notation hotfix
  chapter_notation/index_vn.md
  img/qr_notation.svg
Labels: logistic, notation

#374 Glossary: named entity, representation learning
  glossary.md
Labels: glosssary

#376 Fix table caption
  chapter_introduction/index_vn.md
Labels: introduction

#378 Miscs
  chapter_install/install_vn.md
  chapter_introduction/index_vn.md
  chapter_introduction/intro.md
  chapter_notation/index_vn.md
  chapter_preface/index_vn.md
Labels: install, introduction, notation, preface

#380 hot fix
  chapter_preface/index_vn.md
Labels: preface

#385 Add "chapter_preliminaries/data_manipulation
  chapter_preliminaries/ndarray.md
  chapter_preliminaries/ndarray_vn.md
Labels: logistic, preliminaries

#386 Add "chapter_preliminaries/data_preprocessing"
  chapter_preliminaries/pandas.md
  chapter_preliminaries/pandas_vn.md
Labels: logistic, preliminaries

#395 to duy thanh
  chapter_preliminaries/ndarray_vn.md
  chapter_preliminaries/pandas_vn.md
Labels: preliminaries

#396 chapter_install - install_vn to index_vn
  chapter_install/index_vn.md
Labels: install, logistic

#368 Dịch preliminaries/linear-algebra phần 9
  chapter_preliminaries/linear-algebra_vn.md
Labels: preliminaries

#377 Dịch chapter_preliminaries/linear-algebra_vn - Phần 06
  chapter_preliminaries/linear-algebra_vn.md
Labels: preliminaries

#417 Hướng dẫn dịch trực tiếp trên trình duyệt.
  CONTRIBUTING.md
  README.md
  intro_vn.md
  translation_team/contribution.md
  translation_team/step01.png
  translation_team/step02.png
  translation_team/step03.png
  translation_team/step04.png
  translation_team/step05.png
  translation_team/step06.png
  translation_team/step07.png
  translation_team/step08.png
Labels: deploy

#418 Dịch nội dung hình ảnh statistical_significance.svg
  img/statistical_significance.svg
Labels: figures

#370 Dịch preliminaries/linear-algebra Phần 11 và 12
  chapter_preliminaries/linear-algebra_vn.md
Labels: preliminaries

#413 Dịch Preliminaries/ndarray_vn.md phần 6
  chapter_preliminaries/ndarray_vn.md
Labels: preliminaries

#420 Dịch chapter_appendix_math/single-variable-calculus_vn phần 6
  chapter_appendix_math/single-variable-calculus_vn.md
Labels: math

#292 Dịch - chapter_appendix_math/statistics_vn - Phần 10
  chapter_appendix_math/statistics_vn.md
Labels: math

#397 Dịch single-variable-calculus_vn.md phần 1.
  chapter_appendix_math/single-variable-calculus_vn.md
Labels: math

#408 Dịch Preliminaries/ndarray_vn.md phần 1
  chapter_preliminaries/ndarray_vn.md
Labels: preliminaries

#410 Dịch Preliminaries/ndarray_vn.md phần 3
  chapter_preliminaries/ndarray_vn.md
Labels: preliminaries

#430 Sửa lại tên reviewer
  chapter_appendix_math/single-variable-calculus_vn.md
Labels: math

#398 Dịch single-variable-calculus_vn.md phần 2
  chapter_appendix_math/single-variable-calculus_vn.md
Labels: math

#409 Dịch Preliminaries/ndarray_vn.md phần 2
  chapter_preliminaries/ndarray_vn.md
Labels: preliminaries

#415 Dịch Preliminaries/ndarray_vn.md phần 8
  chapter_preliminaries/ndarray_vn.md
Labels: preliminaries

#414 Dịch Preliminaries/ndarray_vn.md phần 7
  chapter_preliminaries/ndarray_vn.md
Labels: preliminaries

#412 Dịch Preliminaries/ndarray_vn.md phần 5
  chapter_preliminaries/ndarray_vn.md
Labels: preliminaries
