Repository mlbvn/d2l-vn, pull requests merged in 2020-03, with the labels that each got.

#779 Dịch "softmax-regression-scratch_vn" - Phần 3
  chapter_linear-networks/softmax-regression-scratch_vn.md
Labels: chapter:linear-networks, priority:high

#782 Dịch "softmax-regression-gluon_vn" - Phần 3
  chapter_linear-networks/softmax-regression-gluon_vn.md
Labels: chapter:linear-networks, priority:high

#811 Dịch "softmax-regression-scratch_vn" - Phần 4
  chapter_linear-networks/softmax-regression-scratch_vn.md
Labels: chapter:linear-networks, priority:high

#780 Dịch "softmax-regression" - Phần 11
  chapter_linear-networks/softmax-regression_vn.md
Labels: chapter:linear-networks, priority:high

#846 Add flatten
  glossary.md
Labels: type:glosssary

#812 Add forward/backward pass, category, iterator...
  glossary.md
Labels: type:glosssary

#819 Dịch "softmax-regression-gluon_vn" - Phần 1
  chapter_linear-networks/softmax-regression-gluon_vn.md
Labels: chapter:linear-networks, priority:high

#755 Dịch "softmax-regression" - Phần 9
  chapter_linear-networks/softmax-regression_vn.md
Labels: chapter:linear-networks, priority:high

#834 Dịch "softmax-regression-gluon_vn" - Phần 2
  chapter_linear-networks/softmax-regression-gluon_vn.md
Labels: chapter:linear-networks, priority:high

#777 Dịch "softmax-regression_vn" - Phần 6
  chapter_linear-networks/softmax-regression_vn.md
Labels: chapter:linear-networks, priority:high

#781 Dịch "softmax-regression-scratch_vn" - Phần 1
  chapter_linear-networks/softmax-regression-scratch_vn.md
Labels: chapter:linear-networks, priority:high

#817 Dịch "softmax-regression" - Phần 5
  chapter_linear-networks/softmax-regression_vn.md
Labels: chapter:linear-networks, priority:high

#830 Dịch "softmax-regression-scratch_vn" - Phần 5
  chapter_linear-networks/softmax-regression-scratch_vn.md
Labels: chapter:linear-networks, priority:high

#845 Revise "linear-regression_vn" - Phần 1
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#864 Add wrapper, generalization error, node/unit, val set
  glossary.md
Labels: type:glosssary

#851 Dịch "underfit-overfit_vn" - Phần 1
  chapter_multilayer-perceptrons/underfit-overfit_vn.md
Labels: chapter:multilayer-perceptrons

#899 Add Framework
  glossary.md
Labels: type:glosssary

#873 Revise "linear-regression_vn" - Phần 3
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#872 Revise "linear-regression_vn" - Phần 2
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#870 Revise "linear-regression_vn" - Phần 10
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#901 📌 Update progress
  .github/ISSUE_TEMPLATE/03-for-phase-two.md
  README.md
  chapter_linear-networks/index_vn.md
  chapter_preliminaries/autograd_vn.md
  chapter_preliminaries/linear-algebra_vn.md
  chapter_preliminaries/lookup-api_vn.md
  chapter_preliminaries/ndarray_vn.md
  chapter_preliminaries/pandas_vn.md
  docs/contributors_info.md
Labels: type:logistic

#843 Dịch "mlp_vn" - Phần 6
  chapter_multilayer-perceptrons/mlp_vn.md
Labels: chapter:multilayer-perceptrons

#874 Revise "linear-regression_vn" - Phần 4
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#844 Dịch "mlp_vn" - Phần 7
  chapter_multilayer-perceptrons/mlp_vn.md
Labels: chapter:multilayer-perceptrons

#868 Revise "linear-regression_vn" - Phần 8
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#848 Dịch "softmax-regression" - Phần 10
  chapter_linear-networks/softmax-regression_vn.md
Labels: chapter:linear-networks, priority:high

#854 Dịch "fashion-mnist_vn" - Phần 3
  chapter_linear-networks/fashion-mnist_vn.md
Labels: chapter:linear-networks, priority:high

#866 Revise "linear-regression_vn" - Phần 6
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#875 Revise "linear-regression_vn" - Phần 5
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#904 Revise "linear-regression-gluon_vn" - Phần 2
  chapter_linear-networks/linear-regression-gluon_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#903 Revise "linear-regression-gluon_vn" - Phần 1
  chapter_linear-networks/linear-regression-gluon_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#905 Revise "linear-regression-gluon_vn" - Phần 3
  chapter_linear-networks/linear-regression-gluon_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#852 Dịch "fashion-mnist_vn" - Phần 1
  chapter_linear-networks/fashion-mnist_vn.md
Labels: chapter:linear-networks, priority:high

#887 Dịch "mlp-scratch_vn" - Phần 3
  chapter_multilayer-perceptrons/mlp-scratch_vn.md
Labels: chapter:multilayer-perceptrons

#865 Dịch "mlp-scratch_vn" - Phần 2
  chapter_multilayer-perceptrons/mlp-scratch_vn.md
Labels: chapter:multilayer-perceptrons

#931 🛠Fixed ""weight-decay_vn"
  chapter_multilayer-perceptrons/weight-decay_vn.md
Labels: type:logistic

#869 Revise "linear-regression_vn" - Phần 9
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#853 Dịch "fashion-mnist_vn" - Phần 2
  chapter_linear-networks/fashion-mnist_vn.md
Labels: chapter:linear-networks, priority:high

#855 Dịch "fashion-mnist_vn" - Phần 4
  chapter_linear-networks/fashion-mnist_vn.md
Labels: chapter:linear-networks, priority:high

#906 Thêm ReLU và vanishing gradient
  glossary.md
Labels: type:glosssary

#908 Revise "linear-regression-gluon_vn" - Phần 4
  chapter_linear-networks/linear-regression-gluon_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#907 Add generalization gap
  glossary.md
Labels: type:glosssary

#934 🍊Revise "index_vn"
  chapter_linear-networks/index_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#850 Dịch "mlp-scratch_vn" - Phần 1
  chapter_multilayer-perceptrons/mlp-scratch_vn.md
Labels: chapter:multilayer-perceptrons

#867 Revise "linear-regression_vn" - Phần 7
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#842 Dịch Surprisal
  glossary.md
Labels: type:glosssary

#909 Revise "linear-regression-gluon_vn" - Phần 5
  chapter_linear-networks/linear-regression-gluon_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#915 Revise "linear-regression-scratch_vn" - Phần 1
  chapter_linear-networks/linear-regression-scratch_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#916 Revise "linear-regression-scratch_vn" - Phần 5
  chapter_linear-networks/linear-regression-scratch_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#896 Dịch "mlp-gluon_vn"
  chapter_multilayer-perceptrons/mlp-gluon_vn.md
Labels: chapter:multilayer-perceptrons

#876 Dịch "mlp_vn" - Phần 8
  chapter_multilayer-perceptrons/mlp_vn.md
Labels: chapter:multilayer-perceptrons

#888 Dịch "mlp_vn" - Phần 3
  chapter_multilayer-perceptrons/mlp_vn.md
Labels: chapter:multilayer-perceptrons

#917 Revise "linear-regression-scratch_vn" - Phần 6
  chapter_linear-networks/linear-regression-scratch_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#895 Dịch "mlp_vn" - Phần 5
  chapter_multilayer-perceptrons/mlp_vn.md
Labels: chapter:multilayer-perceptrons

#889 Dịch "underfit-overfit_vn" - Phần 2
  chapter_multilayer-perceptrons/underfit-overfit_vn.md
Labels: chapter:multilayer-perceptrons

#897 Dịch "underfit-overfit_vn" - Phần 4
  chapter_multilayer-perceptrons/underfit-overfit_vn.md
Labels: chapter:multilayer-perceptrons

#902 Dịch "underfit-overfit_vn" - Phần 7
  chapter_multilayer-perceptrons/underfit-overfit_vn.md
Labels: chapter:multilayer-perceptrons

#900 Dịch "underfit-overfit_vn" - Phần 5
  chapter_multilayer-perceptrons/underfit-overfit_vn.md
Labels: chapter:multilayer-perceptrons

#951 Revise "fashion-mnist_vn" - Phần 1, 2
  chapter_linear-networks/fashion-mnist_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#898 Dịch "underfit-overfit_vn" - Phần 3
  chapter_multilayer-perceptrons/underfit-overfit_vn.md
Labels: chapter:multilayer-perceptrons

#952 Revise "softmax-regression-gluon_vn" - Phần 1
  chapter_linear-networks/softmax-regression-gluon_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#953 Revise "softmax-regression-gluon_vn" - Phần 2
  chapter_linear-networks/softmax-regression-gluon_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#933 Dịch "mlp_vn" - Phần 2
  chapter_multilayer-perceptrons/mlp_vn.md
Labels: chapter:multilayer-perceptrons

#932 Dịch "weight-decay_vn" - Phần 1
  chapter_multilayer-perceptrons/weight-decay_vn.md
Labels: chapter:multilayer-perceptrons

#973 🌏 Revise "softmax-regression-scratch_vn" - Phần 3
  chapter_linear-networks/softmax-regression-scratch_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#918 🎐Revise "linear-regression-scratch_vn" - Phần 2,3,4
  chapter_linear-networks/linear-regression-scratch_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#955 Dịch "mlp_vn" - Phần 1
  chapter_multilayer-perceptrons/mlp_vn.md
Labels: chapter:multilayer-perceptrons

#978 Revise "softmax-regression_vn" - Phần 3
  chapter_linear-networks/softmax-regression_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#977 Revise "softmax-regression_vn" - Phần 2
  chapter_linear-networks/softmax-regression_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#975 Revise "softmax-regression_vn" - Phần 5
  chapter_linear-networks/softmax-regression_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#970 🗼Revise "softmax-regression-scratch_vn" - Phần 2
  chapter_linear-networks/softmax-regression-scratch_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#985 🍊 Update contributions
  README.md
  chapter_linear-networks/linear-regression-gluon_vn.md
  chapter_linear-networks/linear-regression_vn.md
  chapter_linear-networks/softmax-regression-gluon_vn.md
Labels: chapter:linear-networks, type:logistic

#969 🔋Revise "softmax-regression-scratch_vn" - Phần 1
  chapter_linear-networks/softmax-regression-scratch_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#938 Dịch "underfit-overfit_vn" - Phần 9
  chapter_multilayer-perceptrons/underfit-overfit_vn.md
Labels: chapter:multilayer-perceptrons

#949 Dịch "weight-decay_vn" - Phần 3
  chapter_multilayer-perceptrons/weight-decay_vn.md
Labels: chapter:multilayer-perceptrons

#976 Revise "softmax-regression_vn" - Phần 1
  chapter_linear-networks/softmax-regression_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#974 Revise "softmax-regression_vn" - Phần 4
  chapter_linear-networks/softmax-regression_vn.md
Labels: chapter:linear-networks, priority:high, status: phase 2

#989 🎉 Update contributions
  README.md
  chapter_linear-networks/index_vn.md
  chapter_linear-networks/linear-regression-gluon_vn.md
  chapter_linear-networks/linear-regression-scratch_vn.md
  chapter_linear-networks/linear-regression_vn.md
  chapter_linear-networks/softmax-regression-gluon_vn.md
  chapter_linear-networks/softmax-regression-scratch_vn.md
  chapter_linear-networks/softmax-regression_vn.md
  contributors_template_vn.md
  glossary.md
Labels: chapter:linear-networks, priority:high, type:logistic

#961 Dịch "dropout_vn" - Phần 5
  chapter_multilayer-perceptrons/dropout_vn.md
Labels: chapter:multilayer-perceptrons

#1003 Dịch ảnh Chương 4 - Phần 1
  img/capacity_vs_error.svg
  img/mlp.svg
  img/singlelayer.svg
Labels: chapter:multilayer-perceptrons, type: figures

#971 Dịch "dropout_vn" - Phần 6
  chapter_multilayer-perceptrons/dropout_vn.md
Labels: chapter:multilayer-perceptrons

#991 Add penalty
  glossary.md
Labels: type: glosssary

#956 Dịch "underfit-overfit_vn" - Phần 8
  chapter_multilayer-perceptrons/underfit-overfit_vn.md
Labels: chapter:multilayer-perceptrons, priority:high

#958 Dịch "underfit-overfit_vn" - Phần 6
  chapter_multilayer-perceptrons/underfit-overfit_vn.md
Labels: chapter:multilayer-perceptrons, status: pending triage

#962 Dịch "weight-decay_vn" - Phần 2
  chapter_multilayer-perceptrons/weight-decay_vn.md
Labels: chapter:multilayer-perceptrons

#959 Add import, k-fold CV, weight decay
  glossary.md
Labels: status: blocking, type: glosssary

#960 Dịch "dropout_vn" - Phần 4
  chapter_multilayer-perceptrons/dropout_vn.md
Labels: chapter:multilayer-perceptrons

#939 Dịch "weight-decay_vn" - Phần 4
  chapter_multilayer-perceptrons/weight-decay_vn.md
Labels: chapter:multilayer-perceptrons, priority:high

#988 Dịch "weight-decay_vn" - Phần 5
  chapter_multilayer-perceptrons/weight-decay_vn.md
Labels: chapter:multilayer-perceptrons

#940 Dịch "mlp_vn" - Phần 4
  chapter_multilayer-perceptrons/mlp_vn.md
Labels: chapter:multilayer-perceptrons, priority:high

#1014 📦 Add "Deep Learning Computation" chapter
  README.md
  chapter_deep-learning-computation/custom-layer.md
  chapter_deep-learning-computation/custom-layer_vn.md
  chapter_deep-learning-computation/deferred-init.md
  chapter_deep-learning-computation/deferred-init_vn.md
  chapter_deep-learning-computation/index.md
  chapter_deep-learning-computation/index_vn.md
  chapter_deep-learning-computation/model-construction.md
  chapter_deep-learning-computation/model-construction_vn.md
  chapter_deep-learning-computation/parameters.md
  chapter_deep-learning-computation/parameters_vn.md
  chapter_deep-learning-computation/read-write.md
  chapter_deep-learning-computation/read-write_vn.md
  chapter_deep-learning-computation/use-gpu.md
  chapter_deep-learning-computation/use-gpu_vn.md
  docs/contributors_info.md
  intro_vn.md
  utils.py
Labels: chapter: deep-learning-computation, type: logistic

#1007 Dịch "index_vn"
  chapter_multilayer-perceptrons/index_vn.md
Labels: chapter: multilayer-perceptrons

#972 Dịch "backprop_vn" - Phần 1
  chapter_multilayer-perceptrons/backprop_vn.md
Labels: chapter: multilayer-perceptrons, priority:high

#1006 Thêm bias-variance tradeoff, prior, posterior.
  glossary.md
Labels: chapter: multilayer-perceptrons, type: glosssary

#1011 Add model capacity, squashing function
  glossary.md
Labels: chapter: multilayer-perceptrons, type: glosssary

#987 Dịch "weight-decay_vn" - Phần 6
  chapter_multilayer-perceptrons/weight-decay_vn.md
Labels: chapter: multilayer-perceptrons, priority:high

#1002 Dịch "numerical-stability-and-init_vn" - Phần 5
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Labels: chapter: multilayer-perceptrons, type: first contribution

#984 Dịch "backprop_vn" - Phần 2
  chapter_multilayer-perceptrons/backprop_vn.md
Labels: chapter: multilayer-perceptrons, priority:high

#963 Dịch "dropout_vn" - Phần 2
  chapter_multilayer-perceptrons/dropout_vn.md
Labels: chapter: multilayer-perceptrons, priority:high

#1036 Dịch hình "dropout_vn" - Phần 3
  img/dropout2.svg
Labels: chapter: multilayer-perceptrons, type: figures

#1032 Add robustness, perturbation
  glossary.md
Labels: type: glosssary

#986 Dịch "numerical-stability-and-init_vn" - Phần 2
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Labels: chapter: multilayer-perceptrons, priority:high

#1042 ✨Update "enviroment_vn"
  chapter_multilayer-perceptrons/environment_vn.md
Labels: type: logistic

#1008 Dịch "environment_vn" - Phần 2
  chapter_multilayer-perceptrons/environment_vn.md
Labels: chapter: multilayer-perceptrons, priority:high

#990 Dịch "dropout_vn" - Phần 1
  chapter_multilayer-perceptrons/dropout_vn.md
Labels: chapter: multilayer-perceptrons, priority:high

#1004 Dịch "dropout_vn" - Phần 3
  chapter_multilayer-perceptrons/dropout_vn.md
Labels: chapter: multilayer-perceptrons, priority:high

#1023 Dịch "backprop_vn" - Phần 3
  chapter_multilayer-perceptrons/backprop_vn.md
Labels: chapter: multilayer-perceptrons

#1024 Dịch "backprop_vn" - Phần 4
  chapter_multilayer-perceptrons/backprop_vn.md
Labels: chapter: multilayer-perceptrons

#1025 Dịch "backprop_vn" - Phần 5
  chapter_multilayer-perceptrons/backprop_vn.md
Labels: chapter: multilayer-perceptrons

#1045 Add "relative loss"
  glossary.md
Labels: type: glosssary

#1021 Dịch "environment_vn" - Phần 8
  chapter_multilayer-perceptrons/environment_vn.md
Labels: chapter: multilayer-perceptrons, priority:high

#1012 Dịch "numerical-stability-and-init_vn" - Phần 1
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Labels: chapter: multilayer-perceptrons, priority:high

#1031 Dịch "numerical-stability-and-init_vn" - Phần 4
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Labels: chapter: multilayer-perceptrons

#1030 Dịch "numerical-stability-and-init_vn" - Phần 3
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Labels: chapter: multilayer-perceptrons, priority:high

#1022 Thêm source/target distribution, confusion matrix.
  glossary.md
Labels: type: glosssary

#1020 Dịch "environment_vn" - Phần 7
  chapter_multilayer-perceptrons/environment_vn.md
Labels: chapter: multilayer-perceptrons, priority:high

#1035 Dịch "environment_vn" - Phần 3
  chapter_multilayer-perceptrons/environment_vn.md
Labels: chapter: multilayer-perceptrons, priority:high

#1009 Dịch "environment_vn" - Phần 6
  chapter_multilayer-perceptrons/environment_vn.md
Labels: chapter: multilayer-perceptrons, priority:high, status: pending triage

#1054 🍀 Update content from d2l-en
  README.md
  chapter_multilayer-perceptrons/dropout.md
  chapter_multilayer-perceptrons/dropout_vn.md
  chapter_multilayer-perceptrons/mlp-scratch.md
  chapter_multilayer-perceptrons/mlp-scratch_vn.md
  chapter_multilayer-perceptrons/mlp.md
  chapter_multilayer-perceptrons/mlp_vn.md
  chapter_multilayer-perceptrons/numerical-stability-and-init.md
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
  chapter_multilayer-perceptrons/underfit-overfit.md
  chapter_multilayer-perceptrons/underfit-overfit_vn.md
  chapter_multilayer-perceptrons/weight-decay.md
  chapter_multilayer-perceptrons/weight-decay_vn.md
  docs/contributors_info.md
  glossary.md
Labels: type: logistic

#1046 Dịch "environment_vn" - Phần 10
  chapter_multilayer-perceptrons/environment_vn.md
Labels: chapter: multilayer-perceptrons, type: first contribution

#1037 Dịch "kaggle-house-price_vn" - Phần 5
  chapter_multilayer-perceptrons/kaggle-house-price_vn.md
Labels: chapter: multilayer-perceptrons, priority:high

#1073 Re-add robust
  glossary.md
Labels: type: glosssary
