Repository mlbvn/d2l-vn, pull requests merged in 2020-02, with the labels that each got.

#411 Dịch Preliminaries/ndarray_vn.md phần 4
  chapter_preliminaries/ndarray_vn.md
Labels: preliminaries

#429 Glossary Broadcast
  glossary.md
Labels: glosssary

#439 Add "well behaved functions"
  glossary.md
Labels: glosssary

#449 Add "chapter_preliminaries/calculus"
  chapter_preliminaries/calculus.md
  chapter_preliminaries/calculus_vn.md
Labels: logistic, preliminaries

#450 Add "chapter_preliminaries/automatic_differentiation"
  chapter_preliminaries/autograd.md
  chapter_preliminaries/autograd_vn.md
Labels: logistic, preliminaries

#451 Add "chapter_preliminaries/documentation"
  chapter_preliminaries/lookup-api.md
  chapter_preliminaries/lookup-api_vn.md
Labels: logistic, preliminaries

#452 Add "chapter_preliminaries/probability"
  chapter_preliminaries/probability.md
  chapter_preliminaries/probability_vn.md
Labels: logistic, preliminaries

#428 Dịch chapter_preliminaries/linear-algebra_vn - Phần 08
  chapter_preliminaries/linear-algebra_vn.md
Labels: preliminaries

#433 Dịch "chapter_appendix_math/single-variable-calculus_vn" - Phần 10
  chapter_appendix_math/single-variable-calculus_vn.md
Labels: math

#432 Dịch "chapter_appendix_math/single-variable-calculus_vn" - Phần 09
  chapter_appendix_math/single-variable-calculus_vn.md
Labels: math

#436 Dịch "chapter_appendix_math/single-variable-calculus_vn" - Phần 11
  chapter_appendix_math/single-variable-calculus_vn.md
Labels: math

#416 Dịch Preliminaries/ndarray_vn.md phần 9
  chapter_preliminaries/ndarray_vn.md
Labels: preliminaries

#453 🔰Update progress
  README.md
Labels: logistic

#464 Glossary: `expression math` and `chain rule`
  glossary.md
Labels: glosssary

#427 Dịch chapter_preliminaries/linear-algebra_vn - Phần 07
  chapter_preliminaries/linear-algebra_vn.md
Labels: preliminaries

#474 Hotfix contributions autograd_vn
  chapter_preliminaries/autograd_vn.md
Labels: logistic, preliminaries

#466 Cập nhật revise "chapter_preliminaries/linear-algebra_vn"
  chapter_preliminaries/linear-algebra_vn.md
Labels: logistic, preliminaries

#475 Dịch "chapter_preliminaries/calculus_vn" - Phần 04
  chapter_preliminaries/calculus_vn.md
Labels: preliminaries

#435 Dịch "chapter_appendix_math/single-variable-calculus_vn" - Phần 03
  chapter_appendix_math/single-variable-calculus_vn.md
Labels: math

#422 Dịch "chapter_appendix_math/single-variable-calculus_vn" - Phần 08
  chapter_appendix_math/single-variable-calculus_vn.md
Labels: math

#479 Add "chapter_computational-performance"
  .github/labeler.yml
  chapter_computational-performance/async-computation.md
  chapter_computational-performance/async-computation_vn.md
  chapter_computational-performance/auto-parallelism.md
  chapter_computational-performance/auto-parallelism_vn.md
  chapter_computational-performance/hardware.md
  chapter_computational-performance/hardware_vn.md
  chapter_computational-performance/hybridize.md
  chapter_computational-performance/hybridize_vn.md
  chapter_computational-performance/index.md
  chapter_computational-performance/index_vn.md
  chapter_computational-performance/key-value.md
  chapter_computational-performance/key-value_vn.md
  chapter_computational-performance/multiple-gpus-gluon.md
  chapter_computational-performance/multiple-gpus-gluon_vn.md
  chapter_computational-performance/multiple-gpus.md
  chapter_computational-performance/multiple-gpus_vn.md
  chapter_computational-performance/parameterserver.md
  chapter_computational-performance/parameterserver_vn.md
  img/a77.svg
  img/alexnet-original.svg
  img/bw-hierarchy.svg
  img/falsesharing.svg
  img/frontends.png
  img/latencynumbers.png
  img/mobo-symbol.svg
  img/neon128.svg
  img/nvlink-twoloop.svg
  img/nvlink.svg
  img/ps-distributed.svg
  img/ps-multimachine.svg
  img/ps-multips.svg
  img/ps.svg
  img/ringsync.svg
  img/skylake.svg
  img/splitting.svg
  img/tensorcore.jpg
  img/turing.png
  img/turing_processing_block.png
Labels: chapter:computational-performance, type:figures, type:logistic

#483 Update progress
  README.md
Labels: type:logistic

#400 Dịch chapter_appendix_math/single-variable-calculus_vn phần 5
  chapter_appendix_math/single-variable-calculus_vn.md
Labels: chapter:math

#476 Dịch "chapter_appendix_math/single-variable-calculus_vn" - Phần 12 (P…
  chapter_appendix_math/single-variable-calculus_vn.md
Labels: chapter:math

#486 Thêm glossary cho chương Automatic differentiation
  glossary.md
Labels: type:glosssary

#484 Dịch chapter_appendix_math/single-variable-calculus_vn phần 7
  chapter_appendix_math/single-variable-calculus_vn.md
Labels: chapter:math

#492 Data manipulation -> Thao tác với dữ liệu
  chapter_preliminaries/ndarray_vn.md
Labels: chapter:preliminaries, priority:high

#495 ✨Add "Data Manipulation"
  glossary.md
Labels: type:glosssary

#485 Dịch "chapter_computational-performance/index_vn"
  chapter_computational-performance/index_vn.md
Labels: chapter:computational-performance, priority:low

#504 🚀Update progress
  .github/labeler.yml
  README.md
  chapter_appendix_math/single-variable-calculus_vn.md
Labels: type:logistic

#448 Dịch "chapter_preliminaries/pandas_vn" - Phần 01
  chapter_preliminaries/pandas_vn.md
Labels: chapter:preliminaries, priority:high

#462 Dịch preliminaries/pandas_vn.md phần 3.
  chapter_preliminaries/pandas_vn.md
Labels: chapter:preliminaries, priority:high

#490 Dịch "chapter_preliminaries/calculus_vn" - Phần 02
  chapter_preliminaries/calculus_vn.md
Labels: chapter:preliminaries, priority:high

#505 Hot update reviewer
  chapter_preliminaries/calculus_vn.md
Labels: chapter:preliminaries, priority:high

#488 Dịch autograd_vn.md phần 2.
  chapter_preliminaries/autograd_vn.md
Labels: chapter:preliminaries, priority:high

#463 Dịch calculus_vn.md phần 1.
  chapter_preliminaries/calculus_vn.md
Labels: chapter:preliminaries, priority:high

#437 Dịch "chapter_appendix_math/single-variable-calculus_vn" - Phần 04
  chapter_appendix_math/single-variable-calculus_vn.md
Labels: chapter:appendix-math

#496 Dịch "chapter_preliminaries/calculus_vn" - Phần 06 (Phần cuối)
  chapter_preliminaries/calculus_vn.md
Labels: chapter:preliminaries, priority:high

#512 Add reviewer names
  chapter_preliminaries/calculus_vn.md
Labels: chapter:preliminaries, priority:high

#513 Hotfix tên reviewer
  chapter_preliminaries/calculus_vn.md
Labels: chapter:preliminaries, priority:high

#525 🏔Create contributors_info.md
  docs/contributors_info.md
Labels: type:logistic

#527 🏗Update pull_request_template
  CONTRIBUTING.md
  docs/pull_request_template.md
  translation_team/draft-pull-requests-ready.png
  translation_team/draft-pull-requests.png
Labels: type:logistic

#529 🏗Update pull_request_template
  CONTRIBUTING.md
  docs/pull_request_template.md
Labels: type:logistic

#478 Dịch "chapter_preliminaries/calculus_vn" - Phần 05
  chapter_preliminaries/calculus_vn.md
Labels: chapter:preliminaries, priority:high

#491 Dịch "chapter_preliminaries/calculus_vn" - Phần 03
  chapter_preliminaries/calculus_vn.md
Labels: chapter:preliminaries, priority:high

#461 Dịch chapter preliminaries/pandas_vn.md phần 2.
  chapter_preliminaries/pandas_vn.md
Labels: chapter:preliminaries, priority:high

#487 Dịch autograd_vn.md phần 1.
  chapter_preliminaries/autograd_vn.md
Labels: chapter:preliminaries, priority:high

#507 Dịch "chapter_preliminaries/autograd_vn" - Phần 03
  chapter_preliminaries/autograd_vn.md
Labels: chapter:preliminaries, priority:high

#531 Cập nhật template "Những người thực hiện"
  contributor_template.md
Labels: type:logistic

#532 Thêm số thứ tự vào contributors
  docs/contributors_info.md
Labels: type:logistic

#508 Dịch "chapter_preliminaries/autograd_vn" - Phần 04
  chapter_preliminaries/autograd_vn.md
Labels: chapter:preliminaries, priority:high

#539 Thêm label cho chapter_linear-networks
  .github/labeler.yml
Labels: type:logistic

#540 🏗Add "chapter_linear-networks/index"
  chapter_linear-networks/index.md
  chapter_linear-networks/index_vn.md
Labels: chapter:linear-networks, type:logistic

#543 🏗Add "chapter_linear-networks/linear-regression"
  chapter_linear-networks/linear-regression.md
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks, type:logistic

#550 ✨Update progress
  README.md
  contributors_template_vn.md
Labels: type:logistic

#515 Dịch "chapter_preliminaries/autograd_vn" - Phần 05
  chapter_preliminaries/autograd_vn.md
Labels: chapter:preliminaries, priority:high

#528 Dịch "chapter_preliminaries/autograd_vn" - Phần 07 (Phần cuối)
  chapter_preliminaries/autograd_vn.md
Labels: chapter:preliminaries, priority:high

#506 Dịch "probability_vn" - Phần 1
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, priority:high

#514 Dịch "probability_vn" - Phần 3
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, priority:high

#524 Dịch "chapter_preliminaries/autograd_vn" - Phần 06
  chapter_preliminaries/autograd_vn.md
Labels: chapter:preliminaries, priority:high

#533 Dịch "probability_vn" - Phần 6
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, priority:high

#558 Dịch "lookup-api_vn" - Phần 1
  chapter_preliminaries/lookup-api_vn.md
Labels: chapter:linear-networks

#585 🏗Add "chapter_linear-networks/linear-regression-scratch"
  chapter_linear-networks/linear-regression-scratch.md
  chapter_linear-networks/linear-regression-scratch_vn.md
  contributor_template.md
  docs/pull_request_template.md
Labels: chapter:linear-networks, type:logistic, utility

#560 Dịch "index_vn"
  chapter_linear-networks/index_vn.md
Labels: chapter:linear-networks

#521 ✨ Dịch "index_vn" - Phần 2
  chapter_preliminaries/index_vn.md
Labels: chapter:preliminaries, priority:high

#520 ✨ Dịch "index_vn" - Phần 1
  chapter_preliminaries/index_vn.md
Labels: chapter:preliminaries, priority:high

#489 Dịch "chapter_computational-performance/hybridize_vn" - Phần 1
  chapter_computational-performance/hybridize_vn.md
Labels: chapter:computational-performance, priority:low

#526 Dịch "probability_vn" - Phần 4
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, priority:high

#578 Thêm từ vựng của phần 10 chapter probability
  glossary.md
Labels: type:glosssary

#497 Dịch "chapter_computational-performance/hybridize_vn" - Phần 2
  chapter_computational-performance/hybridize_vn.md
Labels: chapter:computational-performance, priority:low, status: pending triage

#599 add bi/multinomial distribution, law of large number, align glossary label
  glossary.md
Labels: type:glosssary

#561 Dịch "probability_vn" - Phần 7
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, priority:high

#589 Dịch "chapter_preliminaries/ndarray_vn" - Phần 12
  chapter_preliminaries/ndarray_vn.md
Labels: chapter:preliminaries, priority:high

#588 Dịch "chapter_preliminaries/ndarray_vn" - Phần 11
  chapter_preliminaries/ndarray_vn.md
Labels: chapter:preliminaries, priority:high

#568 Dịch "probability_vn" - Phần 5
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, priority:high

#590 Dịch "chapter_preliminaries/ndarray_vn" - Phần 13 (Phần cuối)
  chapter_preliminaries/ndarray_vn.md
Labels: chapter:preliminaries, priority:high

#617 🏗Remove labeler
  .github/labeler.yml
  .github/workflows/label.yml
Labels: type:logistic

#575 Dịch chapter_linear-networks/linear-regression_vn phần 4
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks

#602 Dịch "linear-regression_vn" - Phần 11
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks

#567 Revise "linear-algebra_vn" - Phần 1
  chapter_preliminaries/linear-algebra_vn.md
Labels: chapter:preliminaries, priority:high

#606 Dịch "probability_vn" - Phần 10
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, priority:high

#581 Dịch "linear-regression_vn" - Phần 10
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks

#629 🏗Add "chapter_linear-networks/linear-regression-gluon"
  chapter_linear-networks/linear-regression-gluon.md
  chapter_linear-networks/linear-regression-gluon_vn.md
Labels: chapter:linear-networks, type:logistic

#511 Dịch "probability_vn" - Phần 2
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, priority:high

#621 Dịch hình Neural.svg với font Roboto
  img/Neuron.svg
Labels: status: pending triage, type:figures

#616 Thêm Slicing (array) vào glossary.
  glossary.md
Labels: type:glosssary

#576 Dịch "ndarray_vn" - Phần 10
  chapter_preliminaries/ndarray_vn.md
Labels: chapter:preliminaries, priority:high

#638 Revise "calculus_vn" - Phần 5
  chapter_preliminaries/calculus_vn.md
Labels: chapter:preliminaries, priority:high

#603 Dịch "linear-regression_vn" - Phần 3
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks

#613 Dịch "linear-regression_vn" - Phần 15
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks

#619 Dịch "linear-regression_vn" - Phần 8
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks

#559 Dịch "linear-regression_vn" - Phần 1
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks

#556 Dịch "probability_vn" - Phần 9
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, priority:high

#562 Dịch "linear-regression_vn" - Phần 2
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks

#635 Revise calculus_vn.md phần 1
  chapter_preliminaries/calculus_vn.md
Labels: chapter:preliminaries, priority:high

#607 Dịch "linear-regression_vn" - Phần 14
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks

#636 Revise calculus_vn.md phần 4 và 5
  chapter_preliminaries/calculus_vn.md
Labels: chapter:preliminaries, priority:high

#620 Dịch "linear-regression_vn" - Phần 17
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks

#647 Dịch ảnh singleneuron.svg
  img/singleneuron.svg
Labels: type:figures

#653 Thêm imputation vào glossary.md
  glossary.md
Labels: type:glosssary

#646 Revise "calculus_vn" - Phần 2
  chapter_preliminaries/calculus_vn.md
Labels: chapter:preliminaries, priority:high

#633 Revise pandas_vn Phần 1
  chapter_preliminaries/pandas_vn.md
Labels: chapter:preliminaries, priority:high

#614 Dịch "linear-regression_vn" - Phần 7
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks

#656 add superscript and subscript to glossary
  glossary.md
Labels: type:glosssary

#637 Dịch "linear-regression-scratch_vn" - Phần 2
  chapter_linear-networks/linear-regression-scratch_vn.md
Labels: chapter:linear-networks

#644 Dịch "linear-regression_vn" - Phần 5
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks

#675 Đẩy chương 2 lên web
  chapter_preliminaries/index_vn.md
  config.ini
  index.md
Labels: type:logistic

#634 Revise pandas_vn phần 2
  chapter_preliminaries/pandas_vn.md
Labels: chapter:preliminaries, priority:high

#649 Revise "linear-algebra_vn" - Phần 10
  chapter_preliminaries/linear-algebra_vn.md
Labels: chapter:preliminaries, priority:high

#645 Dịch "probability_vn" - Phần 8
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, priority:high

#642 🌿Revise "linear-algebra_vn" - Phần 2 & 3
  chapter_preliminaries/linear-algebra_vn.md
Labels: chapter:preliminaries, priority:high

#673 Revise "ndarray_vn" - Phần 1
  chapter_preliminaries/ndarray_vn.md
Labels: chapter:preliminaries, priority:high

#672 Revise "ndarray_vn" - Phần 2
  chapter_preliminaries/ndarray_vn.md
Labels: chapter:preliminaries, priority:high

#632 Dịch chapter_linear-networks/linear-regression_vn phần 16
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks

#643 🌿Revise "linear-algebra_vn" - Phần 4 & 5
  chapter_preliminaries/linear-algebra_vn.md
Labels: chapter:preliminaries, priority:high

#648 Revise "linear-algebra_vn" - Phần 9
  chapter_preliminaries/linear-algebra_vn.md
Labels: chapter:preliminaries, priority:high

#681 Revise "ndarray_vn" - Phần 4
  chapter_preliminaries/ndarray_vn.md
Labels: chapter:preliminaries, priority:high

#651 Revise "linear-algebra_vn" - Phần 7
  chapter_preliminaries/linear-algebra_vn.md
Labels: chapter:preliminaries, priority:high

#652 Revise "linear-algebra_vn" - Phần 8
  chapter_preliminaries/linear-algebra_vn.md
Labels: chapter:preliminaries, priority:high

#692 Dịch lookup-api phần 2
  chapter_preliminaries/lookup-api_vn.md
Labels: chapter:preliminaries, priority:high

#650 Revise "linear-algebra_vn" - Phần 6
  chapter_preliminaries/linear-algebra_vn.md
Labels: chapter:preliminaries, priority:high

#698 🍀Add "Softmax Regression"
  chapter_linear-networks/softmax-regression.md
  chapter_linear-networks/softmax-regression_vn.md
Labels: chapter:linear-networks, type:logistic

#703 🏗Change heading 3 to heading 2
  chapter_linear-networks/index_vn.md
  chapter_linear-networks/linear-regression-gluon_vn.md
  chapter_linear-networks/linear-regression-scratch_vn.md
  chapter_linear-networks/linear-regression_vn.md
  chapter_preliminaries/autograd_vn.md
  chapter_preliminaries/calculus_vn.md
  chapter_preliminaries/index_vn.md
  chapter_preliminaries/linear-algebra_vn.md
  chapter_preliminaries/lookup-api_vn.md
  chapter_preliminaries/ndarray_vn.md
  chapter_preliminaries/pandas_vn.md
  chapter_preliminaries/probability_vn.md
Labels: chapter:linear-networks, chapter:preliminaries, type:logistic

#627 🏔Update progress & contributors list
  README.md
  contributors_template_vn.md
  docs/contributors_info.md
  docs/pull_request_template.md
Labels: status: in progress, type:logistic

#674 Dịch "linear-regression-scratch_vn" - Phần 1
  chapter_linear-networks/linear-regression-scratch_vn.md
Labels: chapter:linear-networks

#654 Dịch "linear-regression-scratch_vn" - Phần 10
  chapter_linear-networks/linear-regression-scratch_vn.md
Labels: chapter:linear-networks

#657 Dịch "linear-regression_vn" - Phần 9
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks

#694 revise probability phần 1 & 2
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, priority:high

#715 Thêm normal distribution, linear programming, quadratic programming, convex ...
  glossary.md
Labels: type:glosssary

#726 Không dịch Epoch.
  glossary.md
Labels: type:glosssary

#713 Revise "ndarray_vn" - Phần 3
  chapter_preliminaries/ndarray_vn.md
Labels: chapter:preliminaries, priority:high

#705 Revise Probability phần 3
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, priority:high

#707 Revise probability phần 5&6
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, priority:high

#708 Revise lookup api
  chapter_preliminaries/lookup-api_vn.md
Labels: chapter:preliminaries, priority:high

#729 Glossary up
  config.ini
  glossary.md
  index.md
Labels: type:logistic

#730 eval notebook
  Dockerfile
  config.ini
Labels: type:logistic

#709 revise auto_grad phần 1
  chapter_preliminaries/autograd_vn.md
Labels: chapter:preliminaries, priority:high

#706 Revise probability phần 4
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, priority:high

#735 🔥Fix probability
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, type: bug, type:logistic

#710 Revise auto grad phần 2 & 3
  chapter_preliminaries/autograd_vn.md
Labels: chapter:preliminaries, priority:high

#734 🌿Revise "ndarray_vn" - Phần 5 & 6
  chapter_preliminaries/ndarray_vn.md
Labels: chapter:preliminaries, priority:high

#739 🍀Hotfix "ndarray_vn"
  chapter_preliminaries/ndarray_vn.md
Labels: chapter:preliminaries, priority:high

#682 Dịch "linear-regression-scratch_vn" phần 8
  chapter_linear-networks/linear-regression-scratch_vn.md
Labels: chapter:linear-networks

#714 Dịch "linear-regression-gluon_vn" - Phần 2
  chapter_linear-networks/linear-regression-gluon_vn.md
Labels: chapter:linear-networks

#712 Dịch "linear-regression_vn" - Phần 12
  chapter_linear-networks/linear-regression_vn.md
Labels: chapter:linear-networks

#750 🍊 Add "Fashion-MNIST"
  chapter_linear-networks/fashion-mnist.md
  chapter_linear-networks/fashion-mnist_vn.md
Labels: chapter:linear-networks, type:logistic

#752 🌸 Add "Concise Softmax Regression"
  chapter_linear-networks/softmax-regression-gluon.md
  chapter_linear-networks/softmax-regression-gluon_vn.md
Labels: chapter:linear-networks, type:logistic

#751 🍃 Add "Softmax Regression from Scratch"
  chapter_linear-networks/softmax-regression-scratch.md
  chapter_linear-networks/softmax-regression-scratch_vn.md
Labels: chapter:linear-networks, type:logistic

#753 🏔 Add issues template
  .github/ISSUE_TEMPLATE/01-bug-report.md
  .github/ISSUE_TEMPLATE/02-for-phase-one.md
  .github/ISSUE_TEMPLATE/03-for-phase-two.md
  .github/ISSUE_TEMPLATE/config.yml
  docs/contributors_info.md
  docs/pull_request_template.md
  translation_team/normal-view.png
Labels: type:logistic

#773 🏗 Update Issue Template
  .github/ISSUE_TEMPLATE/01-bug-report.md
  .github/ISSUE_TEMPLATE/02-for-phase-one.md
  .github/ISSUE_TEMPLATE/03-for-phase-two.md
  README.md
Labels: type:logistic
