Repository mlbvn/d2l-vn, pull requests merged in 2020-05, with the labels that each got.

#1282 Dịch "channels_vn" - Phần 2
  chapter_convolutional-neural-networks/channels_vn.md
Labels: chapter: convolutional-neural-networks

#1269 Dịch "channels_vn" - Phần 1
  chapter_convolutional-neural-networks/channels_vn.md
Labels: chapter: convolutional-neural-networks

#1286 Dịch "pooling_vn" - Phần 1
  chapter_convolutional-neural-networks/pooling_vn.md
Labels: chapter: convolutional-neural-networks

#1287 Revise "parameters_vn" - Phần 3
  chapter_deep-learning-computation/parameters_vn.md
Labels: chapter: deep-learning-computation, status: phase 2

#1246 Dịch "conv-layer_vn" - Phần 4
  chapter_convolutional-neural-networks/conv-layer_vn.md
Labels: chapter: convolutional-neural-networks

#1247 Dịch "conv-layer_vn" - Phần 5
  chapter_convolutional-neural-networks/conv-layer_vn.md
Labels: chapter: convolutional-neural-networks

#1296 Revise "use-gpu_vn" - Phần 1
  chapter_deep-learning-computation/use-gpu_vn.md
Labels: chapter: deep-learning-computation, status: phase 2

#1316 Add edge
  glossary.md
Labels: type: glosssary

#1290 Dịch "channels_vn" - Phần 4
  chapter_convolutional-neural-networks/channels_vn.md
Labels: chapter: convolutional-neural-networks

#1289 Dịch "channels_vn" - Phần 3
  chapter_convolutional-neural-networks/channels_vn.md
Labels: chapter: convolutional-neural-networks

#1323 Thêm "max pooling" và "average pooling"
  glossary.md
Labels: type: glosssary

#1314 Revise use_gpu_vn phần 2, 3, 4
  chapter_deep-learning-computation/use-gpu_vn.md
Labels: chapter: deep-learning-computation, priority:high, status: phase 2

#1288 🍜 Revise "read-write_vn"
  chapter_deep-learning-computation/read-write_vn.md
Labels: chapter: deep-learning-computation, priority:high, status: phase 2

#1291 Dịch "channels_vn" - Phần 5
  chapter_convolutional-neural-networks/channels_vn.md
Labels: chapter: convolutional-neural-networks

#1305 Dịch "pooling_vn" - Phần 5
  chapter_convolutional-neural-networks/pooling_vn.md
Labels: chapter: convolutional-neural-networks, type: first contribution

#1334 Thêm channel.
  glossary.md
Labels: type: glosssary

#1346 Add dense layer
  glossary.md
Labels: type: glossary

#1335 Fix pre-release DLC-1
  chapter_deep-learning-computation/index_vn.md
  chapter_deep-learning-computation/model-construction_vn.md
  chapter_deep-learning-computation/parameters_vn.md
  chapter_deep-learning-computation/use-gpu_vn.md
Labels: priority:high, type: logistic

#1324 Dịch ảnh chương 6 - Phần 2
  img/lenet-vert.svg
  img/lenet.svg
  img/pooling.svg
Labels: chapter: convolutional-neural-networks, type: figures

#1341 Revise "custom-layer_vn" - Phần 1
  chapter_deep-learning-computation/custom-layer_vn.md
Labels: chapter: deep-learning-computation, priority:high, status: phase 2

#1325 Add "Densely Connected Network", "Network in Network", "Residual Network"
  glossary.md
Labels: type: glossary

#1339 Revise "deferred-init_vn" - Phần 2
  chapter_deep-learning-computation/deferred-init_vn.md
Labels: chapter: deep-learning-computation, priority:high, status: phase 2

#1343 Revise "custom-layer_vn" - Phần 2
  chapter_deep-learning-computation/custom-layer_vn.md
Labels: chapter: deep-learning-computation, priority:high, status: phase 2

#1340 Revise "deferred-init_vn" - Phần 1
  chapter_deep-learning-computation/deferred-init_vn.md
Labels: chapter: deep-learning-computation, priority:high, status: phase 2

#1362 Final fix DLC
  README.md
  chapter_deep-learning-computation/custom-layer_vn.md
  chapter_deep-learning-computation/deferred-init_vn.md
  chapter_deep-learning-computation/parameters_vn.md
  docs/contributors_info.md
  glossary.md
  index.md
  intro_vn.md
Labels: priority:high, type: logistic

#1297 Dịch "pooling_vn" - Phần 4
  chapter_convolutional-neural-networks/pooling_vn.md
Labels: chapter: convolutional-neural-networks

#1307 Dịch "lenet_vn" - Phần 5
  chapter_convolutional-neural-networks/lenet_vn.md
Labels: chapter: convolutional-neural-networks

#1363 Tách filter và kernel
  glossary.md
Labels: type: glossary

#1310 Dịch "lenet_vn" - Phần 2
  chapter_convolutional-neural-networks/lenet_vn.md
Labels: chapter: convolutional-neural-networks

#1306 Dịch "lenet_vn" - Phần 4
  chapter_convolutional-neural-networks/lenet_vn.md
Labels: chapter: convolutional-neural-networks

#1379 Add time series anal
  glossary.md
Labels: type: glossary

#1313 Dịch "lenet_vn" - Phần 6
  chapter_convolutional-neural-networks/lenet_vn.md
Labels: chapter: convolutional-neural-networks

#1326 Dịch "index_vn"
  chapter_convolutional-modern/index_vn.md
Labels: chapter: convolutional-modern

#1383 Add learning rate
  glossary.md
Labels: type: glossary

#1387 Add "coefficient", "correlation coefficient"
  glossary.md
Labels: type: glossary

#1378 Thêm SVM
  glossary.md
Labels: status: pending triage, type: glossary

#1309 Dịch "lenet_vn" - Phần 1
  chapter_convolutional-neural-networks/lenet_vn.md
Labels: chapter: convolutional-neural-networks

#1390 Add object detection
  glossary.md
Labels: type: glossary

#1308 Dịch "pooling_vn" - Phần 2
  chapter_convolutional-neural-networks/pooling_vn.md
Labels: chapter: convolutional-neural-networks

#1311 Dịch "lenet_vn" - Phần 3
  chapter_convolutional-neural-networks/lenet_vn.md
Labels: chapter: convolutional-neural-networks

#1317 Dịch "index_vn
  chapter_convolutional-neural-networks/index_vn.md
Labels: chapter: convolutional-neural-networks

#1342 Dịch "alexnet_vn" - Phần 3
  chapter_convolutional-modern/alexnet_vn.md
Labels: chapter: convolutional-modern

#1332 Dịch "alexnet_vn" - Phần 7
  chapter_convolutional-modern/alexnet_vn.md
Labels: chapter: convolutional-modern

#1331 Dịch "alexnet_vn" - Phần 6
  chapter_convolutional-modern/alexnet_vn.md
Labels: chapter: convolutional-modern

#1312 Dịch "pooling_vn" - Phần 3
  chapter_convolutional-neural-networks/pooling_vn.md
Labels: chapter: convolutional-neural-networks, type: first contribution

#1406 Update "conv-layer"
  chapter_convolutional-neural-networks/conv-layer.md
  chapter_convolutional-neural-networks/conv-layer_vn.md
Labels: type: logistic

#1347 Dịch "alexnet_vn" - Phần 5
  chapter_convolutional-modern/alexnet_vn.md
Labels: chapter: convolutional-modern

#1360 Dịch "nin_vn" - Phần 1
  chapter_convolutional-modern/nin_vn.md
Labels: chapter: convolutional-modern

#1364 Dịch "nin_vn" - Phần 2
  chapter_convolutional-modern/nin_vn.md
Labels: chapter: convolutional-modern

#1365 Dịch "nin_vn" - Phần 3
  chapter_convolutional-modern/nin_vn.md
Labels: chapter: convolutional-modern

#1366 Dịch "googlenet_vn" - Phần 1
  chapter_convolutional-modern/googlenet_vn.md
Labels: chapter: convolutional-modern

#1412 Add data augmentation
  glossary.md
Labels: type: glossary

#1367 Dịch "googlenet_vn" - Phần 2
  chapter_convolutional-modern/googlenet_vn.md
Labels: chapter: convolutional-modern

#1369 Dịch "googlenet_vn" - Phần 4
  chapter_convolutional-modern/googlenet_vn.md
Labels: chapter: convolutional-modern

#1368 Dịch "googlenet_vn" - Phần 3
  chapter_convolutional-modern/googlenet_vn.md
Labels: chapter: convolutional-modern

#1345 Dịch "alexnet_vn" - Phần 4
  chapter_convolutional-modern/alexnet_vn.md
Labels: chapter: convolutional-modern

#1333 Dịch "alexnet_vn" - Phần 8
  chapter_convolutional-modern/alexnet_vn.md
Labels: chapter: convolutional-modern

#1404 Add label smoothing
  glossary.md
Labels: type: glossary

#1380 Dịch "vgg_vn" - Phần 1
  chapter_convolutional-modern/vgg_vn.md
Labels: chapter: convolutional-modern, status: phase 1

#1437 Add "inductive bias"
  glossary.md
Labels: type: glossary

#1381 Dịch "vgg_vn" - Phần 2
  chapter_convolutional-modern/vgg_vn.md
Labels: chapter: convolutional-modern, status: phase 1

#1382 Dịch "vgg_vn" - Phần 3
  chapter_convolutional-modern/vgg_vn.md
Labels: chapter: convolutional-modern, status: phase 1

#1389 Revise "why-conv_vn" - Phần 1
  chapter_convolutional-neural-networks/why-conv_vn.md
Labels: chapter: convolutional-neural-networks, status: phase 2

#1388 Revise "why-conv_vn" - Phần 2
  chapter_convolutional-neural-networks/why-conv_vn.md
Labels: chapter: convolutional-neural-networks, status: phase 2

#1446 Add RNN chapter
  chapter_recurrent-neural-networks/bptt.md
  chapter_recurrent-neural-networks/bptt_vn.md
  chapter_recurrent-neural-networks/index.md
  chapter_recurrent-neural-networks/index_vn.md
  chapter_recurrent-neural-networks/language-models-and-dataset.md
  chapter_recurrent-neural-networks/language-models-and-dataset_vn.md
  chapter_recurrent-neural-networks/rnn-gluon.md
  chapter_recurrent-neural-networks/rnn-gluon_vn.md
  chapter_recurrent-neural-networks/rnn-scratch.md
  chapter_recurrent-neural-networks/rnn-scratch_vn.md
  chapter_recurrent-neural-networks/rnn.md
  chapter_recurrent-neural-networks/rnn_vn.md
  chapter_recurrent-neural-networks/sequence.md
  chapter_recurrent-neural-networks/sequence_vn.md
  chapter_recurrent-neural-networks/text-preprocessing.md
  chapter_recurrent-neural-networks/text-preprocessing_vn.md
Labels: type: logistic

#1372 Dịch "alexnet_vn" - Phần 1
  chapter_convolutional-modern/alexnet_vn.md
Labels: chapter: convolutional-modern

#1405 Dịch "batch-norm_vn" - Phần 1
  chapter_convolutional-modern/batch-norm_vn.md
Labels: chapter: convolutional-modern

#1407 Dịch "batch-norm_vn" - Phần 2
  chapter_convolutional-modern/batch-norm_vn.md
Labels: chapter: convolutional-modern

#1436 Revise "why-conv_vn" - Phần 3
  chapter_convolutional-neural-networks/why-conv_vn.md
Labels: chapter: convolutional-neural-networks, status: phase 2

#1409 Dịch "batch-norm_vn" - Phần 4
  chapter_convolutional-modern/batch-norm_vn.md
Labels: chapter: convolutional-modern

#1448 Amend "kernel"
  glossary.md
Labels: type: glossary

#1449 Add argument, feature extraction; adjust convnet, densely connected net
  glossary.md
Labels: type: glossary

#1408 Dịch "batch-norm_vn" - Phần 3
  chapter_convolutional-modern/batch-norm_vn.md
Labels: chapter: convolutional-modern

#1410 Dịch "batch-norm_vn" - Phần 5
  chapter_convolutional-modern/batch-norm_vn.md
Labels: chapter: convolutional-modern

#1464 Add causality
  glossary.md
Labels: type: glossary

#1465 Add text data
  glossary.md
Labels: type: glossary

#1416 Dịch "resnet_vn" - Phần 4
  chapter_convolutional-modern/resnet_vn.md
Labels: chapter: convolutional-modern, type: first contribution

#1413 Dịch "resnet_vn" - Phần 2
  chapter_convolutional-modern/resnet_vn.md
Labels: chapter: convolutional-modern, type: first contribution

#1443 Revise "channels_vn" - Phần 2
  chapter_convolutional-neural-networks/channels_vn.md
Labels: chapter: convolutional-neural-networks, status: phase 2

#1442 Revise "channels_vn" - Phần 1
  chapter_convolutional-neural-networks/channels_vn.md
Labels: chapter: convolutional-neural-networks, status: phase 2

#1438 Revise "pooling_vn" - Phần 2
  chapter_convolutional-neural-networks/pooling_vn.md
Labels: chapter: convolutional-neural-networks, status: phase 2

#1451 Dịch hình Modern CNN - P1
  img/alexnet.svg
  img/inception.svg
  img/nin.svg
  img/vgg.svg
Labels: chapter: convolutional-modern, type: figures

#1420 Revise "conv-layer_vn" - Phần 3
  chapter_convolutional-neural-networks/conv-layer_vn.md
Labels: chapter: convolutional-neural-networks, status: phase 2

#1469 Dịch hình Modern CNN - P2
  img/ResNetFull.svg
  img/functionclasses.svg
  img/residual-block.svg
Labels: chapter: convolutional-modern, type: figures

#1450 Revise "conv-layer_vn" - Phần 1
  chapter_convolutional-neural-networks/conv-layer_vn.md
Labels: chapter: convolutional-neural-networks, status: phase 2

#1481 Add "growth rate", "transition layer"
  glossary.md
Labels: type: glossary

#1472 Update project progress
  README.md
  docs/contributors_info.md
  glossary.md
  intro_vn.md
Labels: type: logistic

#1445 Revise "padding-and-strides_vn" - Phần 2
  chapter_convolutional-neural-networks/padding-and-strides_vn.md
Labels: chapter: convolutional-neural-networks, status: phase 2

#1444 Revise "padding-and-strides_vn" - Phần 1
  chapter_convolutional-neural-networks/padding-and-strides_vn.md
Labels: chapter: convolutional-neural-networks, status: phase 2

#1452 Revise "index_vn"
  chapter_convolutional-neural-networks/index_vn.md
Labels: chapter: convolutional-neural-networks, status: phase 2

#1453 Revise "lenet_vn" - Phần 1
  chapter_convolutional-neural-networks/lenet_vn.md
Labels: chapter: convolutional-neural-networks, status: phase 2

#1467 Revise "conv-layer_vn" - Phần 2
  chapter_convolutional-neural-networks/conv-layer_vn.md
Labels: chapter: convolutional-neural-networks, status: phase 2

#1488 CNN chapter final fix
  chapter_convolutional-neural-networks/channels_vn.md
  chapter_convolutional-neural-networks/conv-layer_vn.md
  chapter_convolutional-neural-networks/index_vn.md
  chapter_convolutional-neural-networks/lenet_vn.md
  chapter_convolutional-neural-networks/padding-and-strides_vn.md
  chapter_convolutional-neural-networks/pooling_vn.md
  chapter_convolutional-neural-networks/why-conv_vn.md
Labels: priority:high, type: logistic

#1487 Add figures issue template
  .github/ISSUE_TEMPLATE/04-figure.md
Labels: type: logistic

#1454 Revise "lenet_vn" - Phần 2
  chapter_convolutional-neural-networks/lenet_vn.md
Labels: chapter: convolutional-neural-networks, priority:high, status: phase 2

#1468 Revise "pooling_vn" - Phần 1
  chapter_convolutional-neural-networks/pooling_vn.md
Labels: chapter: convolutional-neural-networks, priority:high, status: phase 2

#1419 Dịch "resnet_vn" - Phần 6
  chapter_convolutional-modern/resnet_vn.md
Labels: chapter: convolutional-modern, type: first contribution

#1431 Dịch "densenet_vn" - Phần 1
  chapter_convolutional-modern/densenet_vn.md
Labels: chapter: convolutional-modern

#1434 Dịch "densenet_vn" - Phần 4
  chapter_convolutional-modern/densenet_vn.md
Labels: chapter: convolutional-modern

#1435 Dịch "densenet_vn" - Phần 5
  chapter_convolutional-modern/densenet_vn.md
Labels: chapter: convolutional-modern

#1432 Dịch "densenet_vn" - Phần 2
  chapter_convolutional-modern/densenet_vn.md
Labels: chapter: convolutional-modern, status: pending triage

#1411 Dịch "resnet_vn" - Phần 1
  chapter_convolutional-modern/resnet_vn.md
Labels: chapter: convolutional-modern, type: first contribution

#1499 Thêm internal covariate shift
  glossary.md
Labels: type: glossary

#1433 Dịch "densenet_vn" - Phần 3
  chapter_convolutional-modern/densenet_vn.md
Labels: chapter: convolutional-modern

#1510 Update vgg.svg
  img/vgg.svg
Labels: chapter: convolutional-modern, type: figures

#1511 Add "latent variable", "hidden state"
  glossary.md
Labels: type: glossary

#1418 Dịch "alexnet_vn" - Phần 2
  chapter_convolutional-modern/alexnet_vn.md
Labels: chapter: convolutional-modern, status: pending triage

#1534 Dịch hình chương RNN
  img/rnn-train.svg
  img/rnn.svg
  img/sequence-model.svg
Labels: chapter: recurrent-neural-networks, type: figures

#1520 Add token
  glossary.md
Labels: type: glossary

#1521 Add corpus
  glossary.md
Labels: type: glossary

#1498 Thêm Optimization landscape, loss landscape / surface.
  glossary.md
Labels: type: glossary

#1439 Dịch "batch-norm_vn" - Phần 6
  chapter_convolutional-modern/batch-norm_vn.md
Labels: chapter: convolutional-modern

#1486 Revise "vgg_vn"
  chapter_convolutional-modern/vgg_vn.md
Labels: chapter: convolutional-modern, status: phase 2

#1515 Add state-of-the-art
  glossary.md
Labels: type: glossary

#1539 Add "autoregressive model"
  glossary.md
Labels: type: glossary

#1440 Dịch "batch-norm_vn" - Phần 7
  chapter_convolutional-modern/batch-norm_vn.md
Labels: chapter: convolutional-modern

#1484 Dịch "resnet_vn" - Phần 3
  chapter_convolutional-modern/resnet_vn.md
Labels: chapter: convolutional-modern, priority:high

#1482 Dịch "batch-norm_vn" - Phần 8
  chapter_convolutional-modern/batch-norm_vn.md
Labels: chapter: convolutional-modern, priority:high

#1500 Revise "nin_vn"
  chapter_convolutional-modern/nin_vn.md
Labels: chapter: convolutional-modern, priority:high, status: phase 2

#1462 Dịch "index_vn"
  chapter_recurrent-neural-networks/index_vn.md
Labels: chapter: recurrent-neural-networks

#1512 Revise "densenet_vn" - Phần 1
  chapter_convolutional-modern/densenet_vn.md
Labels: chapter: convolutional-modern, priority:high, status: phase 2

#1470 Dịch "sequence_vn" - Phần 1
  chapter_recurrent-neural-networks/sequence_vn.md
Labels: chapter: recurrent-neural-networks

#1466 Dịch "sequence_vn" - Phần 4
  chapter_recurrent-neural-networks/sequence_vn.md
Labels: chapter: recurrent-neural-networks

#1513 Revise "densenet_vn" - Phần 2
  chapter_convolutional-modern/densenet_vn.md
Labels: chapter: convolutional-modern, priority:high, status: phase 2

#1574 Amend "residual network"
  glossary.md
Labels: type: glossary

#1578 Add "non-squashing activation function"
  glossary.md
Labels: type: glossary

#1540 Revise "googlenet_vn" - Phần 1
  chapter_convolutional-modern/googlenet_vn.md
Labels: chapter: convolutional-modern, priority:high, status: phase 2

#1518 Dịch "rnn_vn" - Phần 1
  chapter_recurrent-neural-networks/rnn_vn.md
Labels: chapter: recurrent-neural-networks

#1463 Dịch "sequence_vn" - Phần 3
  chapter_recurrent-neural-networks/sequence_vn.md
Labels: chapter: recurrent-neural-networks

#1471 Dịch "sequence_vn" - Phần 2
  chapter_recurrent-neural-networks/sequence_vn.md
Labels: chapter: recurrent-neural-networks

#1514 Revise "densenet_vn" - Phần 3
  chapter_convolutional-modern/densenet_vn.md
Labels: chapter: convolutional-modern, priority:high, status: phase 2

#1519 Dịch "sequence_vn" - Phần 6
  chapter_recurrent-neural-networks/sequence_vn.md
Labels: chapter: recurrent-neural-networks

#1533 Revise "alexnet_vn" - Phần 1
  chapter_convolutional-modern/alexnet_vn.md
Labels: chapter: convolutional-modern, priority:high, status: phase 2

#1542 Revise "googlenet_vn" - Phần 3
  chapter_convolutional-modern/googlenet_vn.md
Labels: chapter: convolutional-modern, priority:high, status: phase 2

#1560 Revise "batch-norm_vn" - Phần 1
  chapter_convolutional-modern/batch-norm_vn.md
Labels: chapter: convolutional-modern, priority:high, status: phase 2

#1582 Add dimensionality
  glossary.md
Labels: type: glossary

#1517 Dịch "sequence_vn" - Phần 5
  chapter_recurrent-neural-networks/sequence_vn.md
Labels: chapter: recurrent-neural-networks

#1522 Dịch "text-preprocessing_vn" - Phần 1
  chapter_recurrent-neural-networks/text-preprocessing_vn.md
Labels: chapter: recurrent-neural-networks

#1523 Dịch "text-preprocessing_vn" - Phần 2
  chapter_recurrent-neural-networks/text-preprocessing_vn.md
Labels: chapter: recurrent-neural-networks

#1525 Dịch "language-models-and-dataset_vn" - Phần 5
  chapter_recurrent-neural-networks/language-models-and-dataset_vn.md
Labels: chapter: recurrent-neural-networks

#1584 Add nonparametric
  glossary.md
Labels: type: glossary

#1585 Add gradient clippling
  glossary.md
Labels: type: glossary

#1586 Add stopword
  glossary.md
Labels: type: glossary

#1524 Dịch "text-preprocessing_vn" - Phần 3
  chapter_recurrent-neural-networks/text-preprocessing_vn.md
Labels: chapter: recurrent-neural-networks

#1541 Revise "googlenet_vn" - Phần 2
  chapter_convolutional-modern/googlenet_vn.md
Labels: chapter: convolutional-modern, priority:high, status: phase 2

#1587 Update discussion link "optimization landscape"
  glossary.md
Labels: type: glossary

#1561 Revise "batch-norm_vn" - Phần 2
  chapter_convolutional-modern/batch-norm_vn.md
Labels: chapter: convolutional-modern, priority:high, status: phase 2

#1579 Revise "resnet_vn" - Phần 1
  chapter_convolutional-modern/resnet_vn.md
Labels: chapter: convolutional-modern, priority:high, status: phase 2

#1562 Revise "batch-norm_vn" - Phần 3
  chapter_convolutional-modern/batch-norm_vn.md
Labels: chapter: convolutional-modern, priority:high, status: phase 2

#1532 Dịch "language-models-and-dataset_vn" - Phần 7
  chapter_recurrent-neural-networks/language-models-and-dataset_vn.md
Labels: chapter: recurrent-neural-networks
