Repository mlbvn/d2l-vn, pull requests merged in 2020-07, with the labels that each got.

#1910 Dịch "gd_vn" - Phần 9
  chapter_optimization/gd_vn.md
Labels: chapter: optimization

#1909 Dịch "gd_vn" - Phần 8
  chapter_optimization/gd_vn.md
Labels: chapter: optimization

#1913 Dịch "minibatch-sgd_vn" - Phần 1
  chapter_optimization/minibatch-sgd_vn.md
Labels: chapter: optimization

#1914 Dịch "minibatch-sgd_vn" - Phần 2
  chapter_optimization/minibatch-sgd_vn.md
Labels: chapter: optimization

#1916 Dịch "minibatch-sgd_vn" - Phần 4
  chapter_optimization/minibatch-sgd_vn.md
Labels: chapter: optimization

#1915 Dịch "minibatch-sgd_vn" - Phần 3
  chapter_optimization/minibatch-sgd_vn.md
Labels: chapter: optimization

#1982 Add "line search"
  glossary.md
Labels: type: glossary

#1980 Add "leaky"
  glossary.md
Labels: type: glossary

#1974 Add "minimizer"
  glossary.md
Labels: type: glossary

#1937 Revise "transformer_vn" - Phần 3
  chapter_attention-mechanisms/transformer_vn.md
Labels: chapter: attention-mechanisms, priority:high, status: phase 2

#1931 Revise "transformer_vn" - Phần 2
  chapter_attention-mechanisms/transformer_vn.md
Labels: chapter: attention-mechanisms, priority:high, status: phase 2

#1906 Dịch "gd_vn" - Phần 7
  chapter_optimization/gd_vn.md
Labels: chapter: optimization

#1988 Add "ill-conditioned"
  glossary.md
Labels: type: glossary

#1946 Revise "attention_vn" - Phần 1
  chapter_attention-mechanisms/attention_vn.md
Labels: chapter: attention-mechanisms, priority:high, status: phase 2

#1947 Revise "attention_vn" - Phần 2
  chapter_attention-mechanisms/attention_vn.md
Labels: chapter: attention-mechanisms, priority:high, status: phase 2

#1948 Revise "seq2seq-attention_vn"
  chapter_attention-mechanisms/seq2seq-attention_vn.md
Labels: chapter: attention-mechanisms, priority:high, status: phase 2

#1953 Revise "index_vn"
  chapter_attention-mechanisms/index_vn.md
Labels: chapter: attention-mechanisms, priority:high, status: phase 2

#1930 Dịch "momentum_vn" - Phần 2
  chapter_optimization/momentum_vn.md
Labels: chapter: optimization

#1992 Fix "Modern RNN" chapter
  chapter_recurrent-modern/beam-search_vn.md
  chapter_recurrent-modern/bi-rnn_vn.md
  chapter_recurrent-modern/deep-rnn_vn.md
  chapter_recurrent-modern/encoder-decoder_vn.md
  chapter_recurrent-modern/gru_vn.md
  chapter_recurrent-modern/lstm_vn.md
  chapter_recurrent-modern/machine-translation-and-dataset_vn.md
  chapter_recurrent-modern/seq2seq_vn.md
Labels: type: bug, type: logistic

#1993 Fix "Attention Mechanisms" chapter
  CONTRIBUTING.md
  README.md
  chapter_attention-mechanisms/attention_vn.md
  chapter_attention-mechanisms/index_vn.md
  chapter_attention-mechanisms/seq2seq-attention_vn.md
  chapter_attention-mechanisms/transformer_vn.md
  glossary.md
  intro_vn.md
Labels: type: bug, type: logistic

#1970 Dịch "momentum_vn" - Phần 4
  chapter_optimization/momentum_vn.md
Labels: chapter: optimization

#1971 Dịch "momentum_vn" - Phần 3
  chapter_optimization/momentum_vn.md
Labels: chapter: optimization, status: pending triage

#1994 Update CODEOWNER
  CODEOWNERS
  chapter_recurrent-neural-networks/index_vn.md
  config.ini
  intro_vn.md
Labels: type: logistic

#1945 Dịch "momentum_vn" - Phần 8
  chapter_optimization/momentum_vn.md
Labels: chapter: optimization

#1954 Add "proxy" (in statistics)
  glossary.md
Labels: type: glossary

#1927 Dịch "momentum_vn" - Phần 5
  chapter_optimization/momentum_vn.md
Labels: chapter: optimization

#1929 Dịch "momentum_vn" - Phần 1
  chapter_optimization/momentum_vn.md
Labels: chapter: optimization

#1949 Dịch "minibatch-sgd_vn" - Phần 5
  chapter_optimization/minibatch-sgd_vn.md
Labels: chapter: optimization

#1928 Dịch "momentum_vn" - Phần 6
  chapter_optimization/momentum_vn.md
Labels: chapter: optimization

#1950 Dịch "minibatch-sgd_vn" - Phần 6
  chapter_optimization/minibatch-sgd_vn.md
Labels: chapter: optimization

#1944 Dịch "momentum_vn" - Phần 7
  chapter_optimization/momentum_vn.md
Labels: chapter: optimization

#1951 Dịch "minibatch-sgd_vn" - Phần 7
  chapter_optimization/minibatch-sgd_vn.md
Labels: chapter: optimization

#1955 Dịch "adagrad_vn" - Phần 1
  chapter_optimization/adagrad_vn.md
Labels: chapter: optimization

#1956 Dịch "adagrad_vn" - Phần 2
  chapter_optimization/adagrad_vn.md
Labels: chapter: optimization

#1957 Dịch "adagrad_vn" - Phần 3
  chapter_optimization/adagrad_vn.md
Labels: chapter: optimization

#1985 Dịch "adagrad_vn" - Phần 5
  chapter_optimization/adagrad_vn.md
Labels: chapter: optimization

#1984 Dịch "adagrad_vn" - Phần 4
  chapter_optimization/adagrad_vn.md
Labels: chapter: optimization

#2008 Add "warmup"
  glossary.md
Labels: status: pending triage, type: glossary

#1981 Dịch "rmsprop_vn" - Phần 1
  chapter_optimization/rmsprop_vn.md
Labels: chapter: optimization

#2038 Dịch "lr-scheduler_vn" - Phần 6
  chapter_optimization/lr-scheduler_vn.md
Labels: chapter: optimization, type: first contribution

#1995 Dịch "rmsprop_vn" - Phần 3
  chapter_optimization/rmsprop_vn.md
Labels: chapter: optimization, priority:high

#2039 Add "frontend" and "backend"
  glossary.md
Labels: type: glossary

#2060 Add "exponential weighted moving average"
  glossary.md
Labels: type: glossary

#2061 Add "cosine"
  glossary.md
Labels: type: glossary

#2054 Fix glossary
  glossary.md
Labels: type: glossary, type: logistic

#1983 Dịch "rmsprop_vn" - Phần 2
  chapter_optimization/rmsprop_vn.md
Labels: chapter: optimization, priority:high

#2014 Dịch "lr-scheduler_vn" - Phần 5
  chapter_optimization/lr-scheduler_vn.md
Labels: chapter: optimization, priority:high

#2004 Dịch "lr-scheduler_vn" - Phần 4
  chapter_optimization/lr-scheduler_vn.md
Labels: chapter: optimization, priority:high

#1998 Dịch "adadelta_vn" - Phần 2
  chapter_optimization/adadelta_vn.md
Labels: chapter: optimization, priority:high

#1986 Dịch "adam_vn" - Phần 1
  chapter_optimization/adam_vn.md
Labels: chapter: optimization, priority:high

#1987 Dịch "adam_vn" - Phần 2
  chapter_optimization/adam_vn.md
Labels: chapter: optimization, priority:high

#1997 Dịch "adadelta_vn" - Phần 1
  chapter_optimization/adadelta_vn.md
Labels: chapter: optimization, priority:high

#2015 Dịch "lr-scheduler_vn" - Phần 7
  chapter_optimization/lr-scheduler_vn.md
Labels: chapter: optimization, priority:high

#2003 Dịch "adam_vn" - Phần 4
  chapter_optimization/adam_vn.md
Labels: chapter: optimization, priority:high

#2018 Dịch "lr-scheduler_vn" - Phần 3
  chapter_optimization/lr-scheduler_vn.md
Labels: chapter: optimization, priority:high

#2002 Dịch "adam_vn" - Phần 3
  chapter_optimization/adam_vn.md
Labels: chapter: optimization, priority:high

#2063 Dịch "lr-scheduler_vn" - Phần 1
  chapter_optimization/lr-scheduler_vn.md
Labels: chapter: optimization, priority:high

#2040 Dịch "async-computation_vn" - Phần 1
  chapter_computational-performance/async-computation_vn.md
Labels: chapter: computational-performance

#2027 Revise "optimization-intro_vn" - Phần 1
  chapter_optimization/optimization-intro_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2028 Revise "optimization-intro_vn" - Phần 2
  chapter_optimization/optimization-intro_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2029 Revise "sgd_vn" - Phần 1
  chapter_optimization/sgd_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2033 Revise "sgd_vn" - Phần 2
  chapter_optimization/sgd_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2034 Revise "sgd_vn" - Phần 3
  chapter_optimization/sgd_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2037 Revise "convexity_vn" - Phần 1
  chapter_optimization/convexity_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2045 Revise "minibatch-sgd_vn" - Phần 1
  chapter_optimization/minibatch-sgd_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2053 Revise "minibatch-sgd_vn" - Phần 3
  chapter_optimization/minibatch-sgd_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2077 Revise "gd_vn" - Phần 3
  chapter_optimization/gd_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2080 Revise "momentum_vn" - Phần 4
  chapter_optimization/momentum_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2067 Revise "momentum_vn" - Phần 2
  chapter_optimization/momentum_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2062 Revise "momentum_vn" - Phần 1
  chapter_optimization/momentum_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2074 Revise "momentum_vn" - Phần 3
  chapter_optimization/momentum_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2076 Revise "gd_vn" - Phần 2
  chapter_optimization/gd_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2086 Dịch "lr-scheduler_vn" - Phần 2
  chapter_optimization/lr-scheduler_vn.md
Labels: chapter: optimization, priority:high

#2099 Revise "index_vn"
  chapter_optimization/index_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2052 Revise "minibatch-sgd_vn" - Phần 2
  chapter_optimization/minibatch-sgd_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2041 Dịch "async-computation_vn" - Phần 2
  chapter_computational-performance/async-computation_vn.md
Labels: chapter: computational-performance

#2075 Revise "gd_vn" - Phần 1
  chapter_optimization/gd_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2081 Revise "convexity_vn" - Phần 2
  chapter_optimization/convexity_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2100 Amend "scale" and "rescale"
  glossary.md
Labels: type: glossary

#2103 Revise "adagrad_vn" - Phần 2
  chapter_optimization/adagrad_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2109 Revise "adam_vn" - Phần 2
  chapter_optimization/adam_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2108 Revise "adam_vn" - Phần 1
  chapter_optimization/adam_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2082 Revise "convexity_vn" - Phần 3
  chapter_optimization/convexity_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2102 Revise "lr-scheduler_vn" - Phần 1
  chapter_optimization/lr-scheduler_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2110 Revise "rmsprop_vn"
  chapter_optimization/rmsprop_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2095 Revise "adadelta_vn"
  chapter_optimization/adadelta_vn.md
Labels: chapter: optimization, priority:high, status: pending triage, status: phase 2

#2112 Revise "lr-scheduler_vn" - Phần 2
  chapter_optimization/lr-scheduler_vn.md
Labels: chapter: optimization, status: phase 2

#2101 Revise "adagrad_vn" - Phần 1
  chapter_optimization/adagrad_vn.md
Labels: chapter: optimization, priority:high, status: phase 2

#2117 Add "hybrid"
  glossary.md
Labels: type: glossary

#2118 Deploy chapter 11
  config.ini
  index.md
Labels: type: deploy, type: logistic

#2119 Add "serialization"
  glossary.md
Labels: type: glossary

#2120 Add "distributed"
  glossary.md
Labels: type: glossary

#2089 Dịch "hybridize_vn" - Phần 6
  chapter_computational-performance/hybridize_vn.md
Labels: chapter: computational-performance

#2088 Dịch "hybridize_vn" - Phần 4
  chapter_computational-performance/hybridize_vn.md
Labels: chapter: computational-performance

#2055 Dịch "async-computation_vn" - Phần 3
  chapter_computational-performance/async-computation_vn.md
Labels: chapter: computational-performance

#2121 Final fix chapter 11
  chapter_optimization/adadelta_vn.md
  chapter_optimization/adagrad_vn.md
  chapter_optimization/adam_vn.md
  chapter_optimization/convexity_vn.md
  chapter_optimization/gd_vn.md
  chapter_optimization/index_vn.md
  chapter_optimization/lr-scheduler_vn.md
  chapter_optimization/minibatch-sgd_vn.md
  chapter_optimization/momentum_vn.md
  chapter_optimization/optimization-intro_vn.md
  chapter_optimization/rmsprop_vn.md
  chapter_optimization/sgd_vn.md
Labels: priority:high, type: logistic

#2122 Update GLOSSARY
  glossary.md
Labels: priority:high, type: glossary, type: logistic

#2087 Dịch "hybridize_vn" - Phần 3
  chapter_computational-performance/hybridize_vn.md
Labels: chapter: computational-performance

#2064 Dịch "async-computation_vn" - Phần 5
  chapter_computational-performance/async-computation_vn.md
Labels: chapter: computational-performance

#2123 Update README
  LICENSE
  README.md
Labels: type: logistic

#2056 Dịch "async-computation_vn" - Phần 4
  chapter_computational-performance/async-computation_vn.md
Labels: chapter: computational-performance

#2065 Dịch "async-computation_vn" - Phần 6
  chapter_computational-performance/async-computation_vn.md
Labels: chapter: computational-performance

#2066 Dịch "async-computation_vn" - Phần 7
  chapter_computational-performance/async-computation_vn.md
Labels: chapter: computational-performance

#2116 Dịch "auto-parallelism_vn" - Phần 4
  chapter_computational-performance/auto-parallelism_vn.md
Labels: chapter: computational-performance

#2134 Add "cloud computing"
  glossary.md
Labels: type: glossary

#2098 Dịch "hardware_vn" - Phần 1
  chapter_computational-performance/hardware_vn.md
Labels: chapter: computational-performance

#2091 Dịch "auto-parallelism_vn" - Phần 3
  chapter_computational-performance/auto-parallelism_vn.md
Labels: chapter: computational-performance

#2090 Dịch "auto-parallelism_vn" - Phần 2
  chapter_computational-performance/auto-parallelism_vn.md
Labels: chapter: computational-performance

#2141 Add "bus" and "cache"
  glossary.md
Labels: type: glossary

#2104 Dịch "auto-parallelism_vn" - Phần 1
  chapter_computational-performance/auto-parallelism_vn.md
Labels: chapter: computational-performance

#2057 Dịch "hybridize_vn" - Phần 5
  chapter_computational-performance/hybridize_vn.md
Labels: chapter: computational-performance

#2135 Add "remote"
  glossary.md
Labels: type: glossary

#2130 Add "checkpoint"
  glossary.md
Labels: type: glossary

#2111 Dịch "hardware_vn" - Phần 2
  chapter_computational-performance/hardware_vn.md
Labels: chapter: computational-performance

#2129 Dịch "hardware_vn" - Phần 4
  chapter_computational-performance/hardware_vn.md
Labels: chapter: computational-performance

#2131 Dịch "multiple-gpus_vn" - Phần 1
  chapter_computational-performance/multiple-gpus_vn.md
Labels: chapter: computational-performance

#2153 Add "Computer Vision" chapter
  .github/ISSUE_TEMPLATE/04-figure.md
  CODEOWNERS
  README.md
  chapter_computer-vision/anchor_vn.md
  chapter_computer-vision/bounding-box_vn.md
  chapter_computer-vision/fcn_vn.md
  chapter_computer-vision/fine-tuning_vn.md
  chapter_computer-vision/image-augmentation_vn.md
  chapter_computer-vision/index_vn.md
  chapter_computer-vision/kaggle-cifar10_vn.md
  chapter_computer-vision/kaggle-dog_vn.md
  chapter_computer-vision/multiscale-object-detection_vn.md
  chapter_computer-vision/neural-style_vn.md
  chapter_computer-vision/object-detection-dataset_vn.md
  chapter_computer-vision/ransposed-conv_vn.md
  chapter_computer-vision/rcnn_vn.md
  chapter_computer-vision/semantic-segmentation-and-dataset_vn.md
  chapter_computer-vision/ssd_vn.md
  docs/chapter_progress_template.md
  docs/contributors_info.md
  img/kaggle-dog.jpg
  img/neural-style.jpg
  intro_vn.md
Labels: type: logistic

#2139 Dịch "multiple-gpus_vn" - Phần 2
  chapter_computational-performance/multiple-gpus_vn.md
Labels: chapter: computational-performance

#2140 Dịch "hardware_vn" - Phần 6
  chapter_computational-performance/hardware_vn.md
Labels: chapter: computational-performance

#2147 Dịch "hardware_vn" - Phần 8
  chapter_computational-performance/hardware_vn.md
Labels: chapter: computational-performance

#2149 Dịch "hardware_vn" - Phần 10
  chapter_computational-performance/hardware_vn.md
Labels: chapter: computational-performance

#2150 Dịch "hardware_vn" - Phần 11
  chapter_computational-performance/hardware_vn.md
Labels: chapter: computational-performance

#2152 Dịch "hardware_vn" - Phần 5
  chapter_computational-performance/hardware_vn.md
Labels: chapter: computational-performance

#2173 Update hướng dẫn dịch hình
  img/README.md
Labels: type: figures, type: logistic

#2151 Dịch "hardware_vn" - Phần 7
  chapter_computational-performance/hardware_vn.md
Labels: chapter: computational-performance

#2137 Dịch "hardware_vn" - Phần 3
  chapter_computational-performance/hardware_vn.md
Labels: chapter: computational-performance

#2148 Dịch "hardware_vn" - Phần 9
  chapter_computational-performance/hardware_vn.md
Labels: chapter: computational-performance

#2136 Dịch "hardware_vn" - Phần 12
  chapter_computational-performance/hardware_vn.md
Labels: chapter: computational-performance

#2169 Dịch "multiple-gpus_vn" - Phần 5
  chapter_computational-performance/multiple-gpus_vn.md
Labels: chapter: computational-performance

#2138 Dịch "hardware_vn" - Phần 13
  chapter_computational-performance/hardware_vn.md
Labels: chapter: computational-performance

#2159 Dịch "multiple-gpus_vn" - Phần 4
  chapter_computational-performance/multiple-gpus_vn.md
Labels: chapter: computational-performance

#2170 Dịch "multiple-gpus_vn" - Phần 6
  chapter_computational-performance/multiple-gpus_vn.md
Labels: chapter: computational-performance

#2174 Dịch "multiple-gpus-concise_vn" - Phần 2
  chapter_computational-performance/multiple-gpus-concise_vn.md
Labels: chapter: computational-performance

#2175 Dịch "multiple-gpus-concise_vn" - Phần 3
  chapter_computational-performance/multiple-gpus-concise_vn.md
Labels: chapter: computational-performance

#2178 Revise "hybridize_vn" - Phần 4
  chapter_computational-performance/hybridize_vn.md
Labels: chapter: computational-performance, status: phase 2

#2204 Update PROGRESS
  README.md
  glossary.md
  index.md
  intro_vn.md
Labels: type: logistic

#2179 Dịch "multiple-gpus_vn" - Phần 3
  chapter_computational-performance/multiple-gpus_vn.md
Labels: chapter: computational-performance, priority:high

#2193 Dịch hình chương 12 - Phần 1
  img/frontends.png
  img/frontends.svg
  img/latencynumbers.png
  img/latencynumbers.svg
  img/mobo-symbol.svg
  img/skylake.svg
Labels: chapter: computational-performance, type: figures

#2216 Add "server" and "worker"
  glossary.md
Labels: type: glossary

#2194 Dịch hình chương 12 - Phần 2
  img/a77.svg
  img/alexnet-original.svg
  img/falsesharing.svg
  img/splitting.svg
Labels: chapter: computational-performance, type: figures

#2195 Dịch hình chương 12 - Phần 3
  img/bw-hierarchy.svg
  img/data-parallel.svg
  img/ps-distributed.svg
  img/ps-multimachine.svg
  img/ps-multips.svg
  img/ps.svg
Labels: chapter: computational-performance, type: figures

#2208 Dịch "multiple-gpus-concise_vn" - Phần 1
  chapter_computational-performance/multiple-gpus-concise_vn.md
Labels: chapter: computational-performance, priority:high

#2188 Revise "hybridize_vn" - Phần 1
  chapter_computational-performance/hybridize_vn.md
Labels: chapter: computational-performance, status: phase 2

#2205 Dịch "parameterserver_vn" - Phần 1
  chapter_computational-performance/parameterserver_vn.md
Labels: chapter: computational-performance, priority:high

#2171 Revise "async-computation_vn" - Phần 1
  chapter_computational-performance/async-computation_vn.md
Labels: chapter: computational-performance, status: phase 2

#2213 Dịch "parameterserver_vn" - Phần 5
  chapter_computational-performance/parameterserver_vn.md
Labels: chapter: computational-performance, priority:high

#2212 Dịch "parameterserver_vn" - Phần 4
  chapter_computational-performance/parameterserver_vn.md
Labels: chapter: computational-performance, priority:high

#2177 Revise "hybridize_vn" - Phần 3
  chapter_computational-performance/hybridize_vn.md
Labels: chapter: computational-performance, status: phase 2

#2225 Dịch "parameterserver_vn" - Phần 3
  chapter_computational-performance/parameterserver_vn.md
Labels: chapter: computational-performance, priority:high

#2234 Add "Fine-tuning + Transfer learning"
  glossary.md
Labels: type: glossary
