Repository mlbvn/d2l-vn, pull requests merged in 2020-09, with the labels that each got.

#2554 Dịch "bert_vn" - Phần 3
  chapter_natural-language-processing-pretraining/bert_vn.md
Labels: chapter: nlp-pre

#2641 Add "text tagging"
  glossary.md
Labels: type: glossary

#2642 Add forward inference
  glossary.md
Labels: type: glossary

#2591 Dịch "bert_vn" - Phần 7
  chapter_natural-language-processing-pretraining/bert_vn.md
Labels: chapter: nlp-pre

#2590 Dịch "bert_vn" - Phần 6
  chapter_natural-language-processing-pretraining/bert_vn.md
Labels: chapter: nlp-pre

#2629 Dịch "bert_vn" - Phần 4
  chapter_natural-language-processing-pretraining/bert_vn.md
Labels: chapter: nlp-pre

#2632 Revise "word-embedding-dataset_vn" - Phần 1
  chapter_natural-language-processing-pretraining/word-embedding-dataset_vn.md
Labels: chapter: nlp-pre, status: phase 2

#2633 Dịch "bert_vn" - Phần 5
  chapter_natural-language-processing-pretraining/bert_vn.md
Labels: chapter: nlp-pre

#2630 Dịch "bert-dataset_vn" - Phần 3
  chapter_natural-language-processing-pretraining/bert-dataset_vn.md
Labels: chapter: nlp-pre

#2631 Dịch "bert-dataset_vn" - Phần 4
  chapter_natural-language-processing-pretraining/bert-dataset_vn.md
Labels: chapter: nlp-pre

#2593 Dịch "index_vn"
  chapter_natural-language-processing-applications/index_vn.md
Labels: chapter: nlp-application

#2595 Dịch "sentiment-analysis-and-dataset_vn" - Phần 2
  chapter_natural-language-processing-applications/sentiment-analysis-and-dataset_vn.md
Labels: chapter: nlp-application

#2594 Dịch "sentiment-analysis-and-dataset_vn" - Phần 1
  chapter_natural-language-processing-applications/sentiment-analysis-and-dataset_vn.md
Labels: chapter: nlp-application

#2607 Revise "word2vec_vn" - Phần 2
  chapter_natural-language-processing-pretraining/word2vec_vn.md
Labels: chapter: nlp-pre, status: phase 2

#2606 Revise "word2vec_vn" - Phần 1
  chapter_natural-language-processing-pretraining/word2vec_vn.md
Labels: chapter: nlp-pre, status: phase 2

#2657 add recommender systems chapter
  chapter_recommender-systems/autorec_vn.md
  chapter_recommender-systems/ctr_vn.md
  chapter_recommender-systems/deepfm_vn.md
  chapter_recommender-systems/fm_vn.md
  chapter_recommender-systems/index_vn.md
  chapter_recommender-systems/mf_vn.md
  chapter_recommender-systems/movielens_vn.md
  chapter_recommender-systems/neumf_vn.md
  chapter_recommender-systems/ranking_vn.md
  chapter_recommender-systems/recsys-intro_vn.md
  chapter_recommender-systems/seqrec_vn.md
  docs/chapter_progress_template.md
  img/rec-intro.svg
Labels: type: logistic, type: update

#2619 Revise "word-embedding-dataset_vn" - Phần 2
  chapter_natural-language-processing-pretraining/word-embedding-dataset_vn.md
Labels: chapter: nlp-pre, status: phase 2

#2618 Revise "word2vec-pretraining_vn" - Phần 2
  chapter_natural-language-processing-pretraining/word2vec-pretraining_vn.md
Labels: chapter: nlp-pre, status: phase 2

#2617 Revise "word2vec-pretraining_vn" - Phần 1
  chapter_natural-language-processing-pretraining/word2vec-pretraining_vn.md
Labels: chapter: nlp-pre, status: phase 2

#2596 Dịch "sentiment-analysis-rnn_vn" - Phần 1
  chapter_natural-language-processing-applications/sentiment-analysis-rnn_vn.md
Labels: chapter: nlp-application

#2599 Dịch "sentiment-analysis-rnn_vn" - Phần 3
  chapter_natural-language-processing-applications/sentiment-analysis-rnn_vn.md
Labels: chapter: nlp-application

#2667 Add CHANGELOG
  CHANGELOG.md
Labels: type: logistic

#2694 Add "matrix factorization"
  glossary.md
Labels: type: glossary

#2689 Dịch "bert-pretraining_vn" - Phần 1
  chapter_natural-language-processing-pretraining/bert-pretraining_vn.md
Labels: chapter: nlp-pre, priority:high

#2692 Dịch "bert-pretraining_vn" - Phần 2
  chapter_natural-language-processing-pretraining/bert-pretraining_vn.md
Labels: chapter: nlp-pre, priority:high

#2705 add gan chapter
  chapter_generative-adversarial-networks/dcgan_vn.md
  chapter_generative-adversarial-networks/gan_vn.md
  chapter_generative-adversarial-networks/index_vn.md
  docs/chapter_progress_template.md
Labels: type: logistic

#2613 Dịch "sentiment-analysis-rnn_vn" - Phần 2
  chapter_natural-language-processing-applications/sentiment-analysis-rnn_vn.md
Labels: chapter: nlp-application

#2624 Revise "subword-embedding_vn" - Phần 2
  chapter_natural-language-processing-pretraining/subword-embedding_vn.md
Labels: chapter: nlp-pre, status: phase 2

#2623 Revise "subword-embedding_vn" - Phần 1
  chapter_natural-language-processing-pretraining/subword-embedding_vn.md
Labels: chapter: nlp-pre, status: phase 2

#2625 Revise "approx-training_vn" - Phần 1
  chapter_natural-language-processing-pretraining/approx-training_vn.md
Labels: chapter: nlp-pre, status: phase 2

#2638 Dịch "sentiment-analysis-cnn_vn" - Phần 5
  chapter_natural-language-processing-applications/sentiment-analysis-cnn_vn.md
Labels: chapter: nlp-application, priority:high

#2728 Update PROGRESS
  README.md
Labels: type: logistic, type: update

#2736 Add "helper"
  glossary.md
Labels: type: glossary

#2691 Add "reproduce"
  glossary.md
Labels: type: glossary

#2640 Revise "similarity-analogy_vn"
  chapter_natural-language-processing-pretraining/similarity-analogy_vn.md
Labels: chapter: nlp-pre, priority:high, status: phase 2

#2742 Add "premise"
  glossary.md
Labels: type: glossary

#2718 Add central word, central target word
  glossary.md
Labels: type: glossary

#2655 Dịch "natural-language-inference-and-dataset_vn" - Phần 2
  chapter_natural-language-processing-applications/natural-language-inference-and-dataset_vn.md
Labels: chapter: nlp-application

#2658 Dịch "natural-language-inference-and-dataset_vn" - Phần 3
  chapter_natural-language-processing-applications/natural-language-inference-and-dataset_vn.md
Labels: chapter: nlp-application

#2628 Revise "glove_vn" - Phần 2
  chapter_natural-language-processing-pretraining/glove_vn.md
Labels: chapter: nlp-pre, priority:high, status: phase 2

#2663 Dịch "sentiment-analysis-cnn_vn" - Phần 3
  chapter_natural-language-processing-applications/sentiment-analysis-cnn_vn.md
Labels: chapter: nlp-application

#2672 Dịch "finetuning-bert_vn" - Phần 3
  chapter_natural-language-processing-applications/finetuning-bert_vn.md
Labels: chapter: nlp-application

#2677 Dịch "finetuning-bert_vn" - Phần 4
  chapter_natural-language-processing-applications/finetuning-bert_vn.md
Labels: chapter: nlp-application

#2678 Dịch "index_vn"
  chapter_recommender-systems/index_vn.md
Labels: chapter: recommender-systems

#2693 Dịch "sentiment-analysis-cnn_vn" - Phần 2
  chapter_natural-language-processing-applications/sentiment-analysis-cnn_vn.md
Labels: chapter: nlp-application

#2700 Dịch "finetuning-bert_vn" - Phần 1
  chapter_natural-language-processing-applications/finetuning-bert_vn.md
Labels: chapter: nlp-application

#2702 Dịch "finetuning-bert_vn" - Phần 2
  chapter_natural-language-processing-applications/finetuning-bert_vn.md
Labels: chapter: nlp-application

#2626 Revise "approx-training_vn" - Phần 2
  chapter_natural-language-processing-pretraining/approx-training_vn.md
Labels: chapter: nlp-pre, priority:high, status: phase 2

#2627 Revise "glove_vn" - Phần 1
  chapter_natural-language-processing-pretraining/glove_vn.md
Labels: chapter: nlp-pre, priority:high, status: phase 2

#2643 Dịch "natural-language-inference-attention_vn" - Phần 1
  chapter_natural-language-processing-applications/natural-language-inference-attention_vn.md
Labels: chapter: nlp-application, priority:high

#2664 Dịch "natural-language-inference-and-dataset_vn" - Phần 1
  chapter_natural-language-processing-applications/natural-language-inference-and-dataset_vn.md
Labels: chapter: nlp-application, type: first contribution

#2654 Dịch "natural_language_inference_attention_vn" - Phần 3
  chapter_natural-language-processing-applications/natural-language-inference-attention_vn.md
Labels: chapter: nlp-application

#2656 Dịch "sentiment-analysis-cnn_vn" - Phần 4
  chapter_natural-language-processing-applications/sentiment-analysis-cnn_vn.md
Labels: chapter: nlp-application

#2679 Dịch "recsys-intro_vn" - Phần 1
  chapter_recommender-systems/recsys-intro_vn.md
Labels: chapter: recommender-systems

#2680 Dịch "recsys-intro_vn" - Phần 2
  chapter_recommender-systems/recsys-intro_vn.md
Labels: chapter: recommender-systems

#2665 Dịch "natural-language-inference-attention_vn" - Phần 2
  chapter_natural-language-processing-applications/natural-language-inference-attention_vn.md
Labels: chapter: nlp-application

#2685 Dịch "mf_vn" - Phần 1
  chapter_recommender-systems/mf_vn.md
Labels: chapter: recommender-systems

#2754 Dịch hình chương 17
  img/gan.svg
Labels: type: figures

#2666 Revise "bert_vn" - Phần 1
  chapter_natural-language-processing-pretraining/bert_vn.md
Labels: chapter: nlp-pre, status: phase 2

#2727 Dịch "natural-language-inference-bert_vn" - Phần 1
  chapter_natural-language-processing-applications/natural-language-inference-bert_vn.md
Labels: chapter: nlp-application

#2756 Update stale files of appendix maths chapter
  chapter_appendix-mathematics-for-deep-learning/geometry-linear-algebraic-ops_vn.md
  chapter_appendix-mathematics-for-deep-learning/index_vn.md
  chapter_appendix-mathematics-for-deep-learning/single-variable-calculus_vn.md
  chapter_appendix-mathematics-for-deep-learning/statistics_vn.md
  chapter_appendix_math/index_vn.md
  docs/manual-line-sample.md
Labels: chapter: appendix-math, type: logistic

#2757 Update contributors
  docs/contributors_info.md
Labels: type: logistic, type: update

#2715 Dịch "natural-language-inference-bert_vn" - Phần 2
  chapter_natural-language-processing-applications/natural-language-inference-bert_vn.md
Labels: chapter: nlp-application

#2716 Dịch "natural-language-inference-bert_vn" - Phần 3
  chapter_natural-language-processing-applications/natural-language-inference-bert_vn.md
Labels: chapter: nlp-application

#2717 Revise "bert-pretraining_vn"
  chapter_natural-language-processing-pretraining/bert-pretraining_vn.md
Labels: chapter: nlp-pre, priority:high, status: phase 2

#2760 Add "sequence-aware (recommender system)"
  glossary.md
Labels: type: glossary

#2761 Dịch hình chương 15 - Phần 1
  img/nlp-map-app.svg
  img/nlp-map-nli-attention.svg
  img/nlp-map-nli-bert.svg
  img/nlp-map-pretrain.svg
  img/nlp-map-sa-cnn.svg
  img/nlp-map-sa-rnn.svg
Labels: type: figures

#2758 add appendix math chapter
  chapter_appendix-mathematics-for-deep-learning/distributions_vn.md
  chapter_appendix-mathematics-for-deep-learning/eigendecomposition_vn.md
  chapter_appendix-mathematics-for-deep-learning/information-theory_vn.md
  chapter_appendix-mathematics-for-deep-learning/integral-calculus_vn.md
  chapter_appendix-mathematics-for-deep-learning/maximum-likelihood_vn.md
  chapter_appendix-mathematics-for-deep-learning/multivariable-calculus_vn.md
  chapter_appendix-mathematics-for-deep-learning/naive-bayes_vn.md
  chapter_appendix-mathematics-for-deep-learning/random-variables_vn.md
  docs/chapter_progress_template.md
Labels: chapter: appendix-math, type: logistic

#2744 Dịch "movielens_vn" - Phần 1
  chapter_recommender-systems/movielens_vn.md
Labels: chapter: recommender-systems

#2749 Dịch "movielens_vn" - Phần 2
  chapter_recommender-systems/movielens_vn.md
Labels: chapter: recommender-systems

#2668 Revise "bert_vn" - Phần 2
  chapter_natural-language-processing-pretraining/bert_vn.md
Labels: chapter: nlp-pre, priority:high, status: phase 2

#2731 Revise "bert-dataset_vn" - Phần 1
  chapter_natural-language-processing-pretraining/bert-dataset_vn.md
Labels: chapter: nlp-pre, priority:high, status: phase 2

#2732 Revise "bert-dataset_vn" - Phần 2
  chapter_natural-language-processing-pretraining/bert-dataset_vn.md
Labels: chapter: nlp-pre, priority:high, status: phase 2

#2755 Revise "index_vn"
  chapter_natural-language-processing-pretraining/index_vn.md
Labels: chapter: nlp-pre, priority:high, status: phase 2

#2762 Dịch hình chương 15 - Phần 3
  img/bert-one-seq.svg
  img/bert-qa.svg
  img/bert-tagging.svg
  img/bert-two-seqs.svg
Labels: type: figures

#2774 Update progress
  README.md
  intro_vn.md
Labels: type: infra, type: update

#2778 fix: nlp-pre chapter
  chapter_natural-language-processing-pretraining/approx-training_vn.md
  chapter_natural-language-processing-pretraining/bert-dataset_vn.md
  chapter_natural-language-processing-pretraining/bert-pretraining_vn.md
  chapter_natural-language-processing-pretraining/bert_vn.md
  chapter_natural-language-processing-pretraining/glove_vn.md
  chapter_natural-language-processing-pretraining/index_vn.md
  chapter_natural-language-processing-pretraining/similarity-analogy_vn.md
  chapter_natural-language-processing-pretraining/subword-embedding_vn.md
  chapter_natural-language-processing-pretraining/word-embedding-dataset_vn.md
  chapter_natural-language-processing-pretraining/word2vec-pretraining_vn.md
  chapter_natural-language-processing-pretraining/word2vec_vn.md
Labels: type: infra, type: proof-read, type: update

#2779 build: nlp-pre chapter
  config.ini
  index.md
Labels: type: deploy, type: infra, type: update

#2775 Fix spacing in figures chương 15
  img/bert-one-seq.svg
  img/bert-qa.svg
  img/bert-tagging.svg
  img/bert-two-seqs.svg
  img/nlp-map-app.svg
  img/nlp-map-nli-attention.svg
  img/nlp-map-nli-bert.svg
  img/nlp-map-pretrain.svg
  img/nlp-map-sa-cnn.svg
  img/nlp-map-sa-rnn.svg
Labels: type: figures

#2797 fix: update break line multivariable-calculus_vn
  chapter_appendix-mathematics-for-deep-learning/multivariable-calculus_vn.md
Labels: chapter: appendix-math, type: infra

#2697 Dịch "autorec_vn" - Phần 3
  chapter_recommender-systems/autorec_vn.md
Labels: chapter: recommender-systems

#2799 chore: update d2l.bib
  d2l.bib
Labels: type: infra, type: update

#2719 Dịch "seqrec_vn" - Phần 1
  chapter_recommender-systems/seqrec_vn.md
Labels: chapter: recommender-systems

#2804 add: appendix tools for deep learning chapter
  chapter_appendix-tools-for-deep-learning/aws_vn.md
  chapter_appendix-tools-for-deep-learning/colab_vn.md
  chapter_appendix-tools-for-deep-learning/contributing_vn.md
  chapter_appendix-tools-for-deep-learning/d2l_vn.md
  chapter_appendix-tools-for-deep-learning/index_vn.md
  chapter_appendix-tools-for-deep-learning/jupyter_vn.md
  chapter_appendix-tools-for-deep-learning/sagemaker_vn.md
  chapter_appendix-tools-for-deep-learning/selecting-servers-gpus_vn.md
  img/colab-2.png
  img/colab.png
  img/edit-file.png
  img/sagemaker-create-2.png
  img/sagemaker-create-3.png
  img/sagemaker-create.png
  img/sagemaker-jupyter.png
  img/sagemaker-open.png
  img/sagemaker-stop.png
  img/sagemaker-terminal.png
  img/sagemaker.png
Labels: chapter: appendix-tools, type: infra

#2805 feat: add d2l lib
  d2l/__init__.py
  d2l/mxnet.py
  d2l/tensorflow.py
  d2l/torch.py
Labels: type: infra, type: update

#2777 Dịch hình chương 15 - Phần 2
  img/conv1d-2d.svg
  img/conv1d-channel.svg
  img/conv1d.svg
  img/nli_attention.svg
  img/textcnn.svg
Labels: type: figures

#2710 Dịch "ranking_vn" - Phần 1
  chapter_recommender-systems/ranking_vn.md
Labels: chapter: recommender-systems

#2711 Dịch "ranking_vn" - Phần 2
  chapter_recommender-systems/ranking_vn.md
Labels: chapter: recommender-systems

#2748 Dịch "gan_vn" - Phần 1
  chapter_generative-adversarial-networks/gan_vn.md
Labels: chapter: generative-adversarial-networks

#2695 Dịch "autorec_vn" - Phần 1
  chapter_recommender-systems/autorec_vn.md
Labels: chapter: recommender-systems

#2740 Dịch "fm_vn" - Phần 1
  chapter_recommender-systems/fm_vn.md
Labels: chapter: recommender-systems

#2741 Dịch "fm_vn" - Phần 2
  chapter_recommender-systems/fm_vn.md
Labels: chapter: recommender-systems

#2746 Dịch "deepfm_vn" - Phần 1
  chapter_recommender-systems/deepfm_vn.md
Labels: chapter: recommender-systems

#2720 Dịch "seqrec_vn" - Phần 2
  chapter_recommender-systems/seqrec_vn.md
Labels: chapter: recommender-systems

#2723 Dịch "ctr_vn" - Phần 1
  chapter_recommender-systems/ctr_vn.md
Labels: chapter: recommender-systems

#2747 Dịch "deepfm_vn" - Phần 2
  chapter_recommender-systems/deepfm_vn.md
Labels: chapter: recommender-systems

#2724 Dịch "ctr_vn" - Phần 2
  chapter_recommender-systems/ctr_vn.md
Labels: chapter: recommender-systems

#2743 Dịch "gan_vn" - Phần 2
  chapter_generative-adversarial-networks/gan_vn.md
Labels: chapter: generative-adversarial-networks

#2789 Dịch "neumf_vn" - Phần 1
  chapter_recommender-systems/neumf_vn.md
Labels: chapter: recommender-systems

#2790 Dịch "neumf_vn" - Phần 2
  chapter_recommender-systems/neumf_vn.md
Labels: chapter: recommender-systems

#2696 Dịch "autorec_vn" - Phần 2
  chapter_recommender-systems/autorec_vn.md
Labels: chapter: recommender-systems

#2794 Dịch "gan_vn" - Phần 3
  chapter_generative-adversarial-networks/gan_vn.md
Labels: chapter: generative-adversarial-networks

#2750 Dịch "dcgan_vn" - Phần 2
  chapter_generative-adversarial-networks/dcgan_vn.md
Labels: chapter: generative-adversarial-networks

#2795 Dịch "gan_vn" - Phần 4
  chapter_generative-adversarial-networks/gan_vn.md
Labels: chapter: generative-adversarial-networks

#2801 Revise "finetuning-bert_vn" - Phần 1
  chapter_natural-language-processing-applications/finetuning-bert_vn.md
Labels: chapter: nlp-application, status: phase 2

#2802 Revise "finetuning-bert_vn" - Phần 2
  chapter_natural-language-processing-applications/finetuning-bert_vn.md
Labels: chapter: nlp-application, status: phase 2

#2834 Dịch "natural-language-inference-attention_vn" - Phần 5
  chapter_natural-language-processing-applications/natural-language-inference-attention_vn.md
Labels: chapter: nlp-application, priority:high

#2833 Dịch "natural-language-inference-attention_vn" - Phần 4
  chapter_natural-language-processing-applications/natural-language-inference-attention_vn.md
Labels: chapter: nlp-application, priority:high

#2806 Revise "natural-language-inference-and-dataset_vn"
  chapter_natural-language-processing-applications/natural-language-inference-and-dataset_vn.md
Labels: chapter: nlp-application, priority:high, status: phase 2

#2759 Dịch "dcgan_vn" - Phần 3
  chapter_generative-adversarial-networks/dcgan_vn.md
Labels: chapter: generative-adversarial-networks, status: pending triage

#2823 Revise "sentiment-analysis-and-dataset_vn"
  chapter_natural-language-processing-applications/sentiment-analysis-and-dataset_vn.md
Labels: chapter: nlp-application, priority:high, status: phase 2

#2826 Revise "sentiment-analysis-rnn_vn"
  chapter_natural-language-processing-applications/sentiment-analysis-rnn_vn.md
Labels: chapter: nlp-application, priority:high, status: phase 2

#2781 Dịch "eigendecomposition_vn" - Phần 2
  chapter_appendix-mathematics-for-deep-learning/eigendecomposition_vn.md
Labels: chapter: appendix-math

#2803 Dịch "dcgan_vn" - Phần 1
  chapter_generative-adversarial-networks/dcgan_vn.md
Labels: chapter: generative-adversarial-networks

#2812 Dịch "eigendecomposition_vn" - Phần 3
  chapter_appendix-mathematics-for-deep-learning/eigendecomposition_vn.md
Labels: chapter: appendix-math

#2813 Dịch "eigendecomposition_vn" - Phần 4
  chapter_appendix-mathematics-for-deep-learning/eigendecomposition_vn.md
Labels: chapter: appendix-math

#2825 Revise "natural-language-inference-bert_vn"
  chapter_natural-language-processing-applications/natural-language-inference-bert_vn.md
Labels: chapter: nlp-application, priority:high, status: phase 2

#2875 docs: gan index update
  chapter_generative-adversarial-networks/index_vn.md
Labels: chapter: generative-adversarial-networks, type: update

#2872 docs: update progress
  README.md
Labels: type: infra, type: update

#2817 Dịch "eigendecomposition_vn" - Phần 5
  chapter_appendix-mathematics-for-deep-learning/eigendecomposition_vn.md
Labels: chapter: appendix-math

#2824 Revise "sentiment-analysis-cnn_vn" - Phần 1
  chapter_natural-language-processing-applications/sentiment-analysis-cnn_vn.md
Labels: chapter: nlp-application, priority:high, status: phase 2

#2828 Revise "sentiment-analysis-cnn_vn" - Phần 2
  chapter_natural-language-processing-applications/sentiment-analysis-cnn_vn.md
Labels: chapter: nlp-application, priority:high, status: phase 2

#2862 Revise "natural-language-inference-attention_vn" - Phần 2
  chapter_natural-language-processing-applications/natural-language-inference-attention_vn.md
Labels: chapter: nlp-application, priority:high, status: phase 2

#2827 Revise "natural-language-inference-attention_vn" - Phần 1
  chapter_natural-language-processing-applications/natural-language-inference-attention_vn.md
Labels: chapter: nlp-application, priority:high, status: phase 2

#2818 Dịch "eigendecomposition_vn" - Phần 6
  chapter_appendix-mathematics-for-deep-learning/eigendecomposition_vn.md
Labels: chapter: appendix-math

#2832 Dịch hình chương 18
  img/Marginal.svg
  img/RectTrans.svg
  img/mutual_information.png
  img/mutual_information.svg
Labels: type: figures

#2881 Fix lỗi dịch hình
  img/singleneuron.svg
Labels: type: bug, type: figures

#2821 Dịch "eigendecomposition_vn" - Phần 7
  chapter_appendix-mathematics-for-deep-learning/eigendecomposition_vn.md
Labels: chapter: appendix-math

#2861 Revise "recsys-intro_vn"
  chapter_recommender-systems/recsys-intro_vn.md
Labels: chapter: recommender-systems, status: phase 2

#2870 Revise "ctr_vn"
  chapter_recommender-systems/ctr_vn.md
Labels: chapter: recommender-systems, status: phase 2

#2780 Dịch "eigendecomposition_vn" - Phần 1
  chapter_appendix-mathematics-for-deep-learning/eigendecomposition_vn.md
Labels: chapter: appendix-math

#2815 Dịch "multivariable-calculus_vn" - Phần 1
  chapter_appendix-mathematics-for-deep-learning/multivariable-calculus_vn.md
Labels: chapter: appendix-math

#2884 Revise "fm_vn"
  chapter_recommender-systems/fm_vn.md
Labels: chapter: recommender-systems, status: phase 2

#2846 Dịch "multivariable-calculus_vn" - Phần 3
  chapter_appendix-mathematics-for-deep-learning/multivariable-calculus_vn.md
Labels: chapter: appendix-math

#2903 fix: nlp applications chapter
  chapter_natural-language-processing-applications/finetuning-bert_vn.md
  chapter_natural-language-processing-applications/index_vn.md
  chapter_natural-language-processing-applications/natural-language-inference-and-dataset_vn.md
  chapter_natural-language-processing-applications/natural-language-inference-attention_vn.md
  chapter_natural-language-processing-applications/natural-language-inference-bert_vn.md
  chapter_natural-language-processing-applications/sentiment-analysis-and-dataset_vn.md
  chapter_natural-language-processing-applications/sentiment-analysis-cnn_vn.md
  chapter_natural-language-processing-applications/sentiment-analysis-rnn_vn.md
Labels: type: proof-read, type: update

#2816 Dịch "multivariable-calculus_vn" - Phần 5
  chapter_appendix-mathematics-for-deep-learning/multivariable-calculus_vn.md
Labels: chapter: appendix-math

#2820 Dịch "multivariable-calculus_vn" - Phần 7
  chapter_appendix-mathematics-for-deep-learning/multivariable-calculus_vn.md
Labels: chapter: appendix-math

#2849 Dịch "multivariable-calculus_vn" - Phần 8
  chapter_appendix-mathematics-for-deep-learning/multivariable-calculus_vn.md
Labels: chapter: appendix-math

#2848 Dịch "multivariable-calculus_vn" - Phần 4
  chapter_appendix-mathematics-for-deep-learning/multivariable-calculus_vn.md
Labels: chapter: appendix-math

#2819 Dịch "multivariable-calculus_vn" - Phần 6
  chapter_appendix-mathematics-for-deep-learning/multivariable-calculus_vn.md
Labels: chapter: appendix-math

#2906 docs: update glossary format
  glossary.md
Labels: type: infra, type: update

#2897 Revise "neumf_vn"
  chapter_recommender-systems/neumf_vn.md
Labels: chapter: recommender-systems, priority:high, status: phase 2

#2905 Revise "index_vn"
  chapter_recommender-systems/index_vn.md
Labels: chapter: recommender-systems, priority:high, status: phase 2

#2840 Dịch "multivariable-calculus_vn" - Phần 10
  chapter_appendix-mathematics-for-deep-learning/multivariable-calculus_vn.md
Labels: chapter: appendix-math

#2856 Dịch "multivariable-calculus_vn" - Phần 9
  chapter_appendix-mathematics-for-deep-learning/multivariable-calculus_vn.md
Labels: chapter: appendix-math

#2911 Revise "seqrec_vn"
  chapter_recommender-systems/seqrec_vn.md
Labels: chapter: recommender-systems, priority:high, status: phase 2

#2831 Dịch "multivariable-calculus_vn" - Phần 2
  chapter_appendix-mathematics-for-deep-learning/multivariable-calculus_vn.md
Labels: chapter: appendix-math

#2886 Revise "deepfm_vn"
  chapter_recommender-systems/deepfm_vn.md
Labels: chapter: recommender-systems, priority:high, status: phase 2

#2888 Dịch "multivariable-calculus_vn" - Phần 11
  chapter_appendix-mathematics-for-deep-learning/multivariable-calculus_vn.md
Labels: chapter: appendix-math

#2868 Dịch "integral-calculus_vn" - Phần 1
  chapter_appendix-mathematics-for-deep-learning/integral-calculus_vn.md
Labels: chapter: appendix-math
