Repository mlbvn/d2l-vn, pull requests merged in 2020-04, with the labels that each got.

#1044 Dịch "kaggle-house-price_vn" - Phần 8
  chapter_multilayer-perceptrons/kaggle-house-price_vn.md
Labels: chapter: multilayer-perceptrons, priority:high

#1038 Dịch "environment_vn" - Phần 4
  chapter_multilayer-perceptrons/environment_vn.md
Labels: chapter: multilayer-perceptrons, priority:high

#1077 Add bandit.
  chapter_introduction/index_vn.md
  glossary.md
Labels: type: glosssary

#1049 Dịch "kaggle-house-price_vn" - Phần 3
  chapter_multilayer-perceptrons/kaggle-house-price_vn.md
Labels: chapter: multilayer-perceptrons, priority:high

#1040 Dịch "kaggle-house-price_vn" - Phần 7
  chapter_multilayer-perceptrons/kaggle-house-price_vn.md
Labels: chapter: multilayer-perceptrons, priority:high

#1051 Add rescale, categorical variable, indicator variable
  glossary.md
Labels: type: glosssary

#1047 Dịch "kaggle-house-price_vn" - Phần 1
  chapter_multilayer-perceptrons/kaggle-house-price_vn.md
Labels: chapter: multilayer-perceptrons, priority:high

#1033 Revise "underfit-overfit_vn" phần 1
  chapter_multilayer-perceptrons/underfit-overfit_vn.md
Labels: chapter: multilayer-perceptrons, priority:high, status: phase 2

#1048 Dịch "kaggle-house-price_vn" - Phần 2
  chapter_multilayer-perceptrons/kaggle-house-price_vn.md
Labels: chapter: multilayer-perceptrons, priority:high

#1050 Dịch "kaggle-house-price_vn" - Phần 4
  chapter_multilayer-perceptrons/kaggle-house-price_vn.md
Labels: chapter: multilayer-perceptrons, priority:high

#1039 Dịch "kaggle-house-price_vn" - Phần 6
  chapter_multilayer-perceptrons/kaggle-house-price_vn.md
Labels: chapter: multilayer-perceptrons, priority:high

#1094 Add "initializer"
  glossary.md
Labels: type: glosssary

#1053 Dịch "environment_vn" - Phần 9
  chapter_multilayer-perceptrons/environment_vn.md
Labels: chapter: multilayer-perceptrons, priority:high

#1052 Dịch "environment_vn" - Phần 1
  chapter_multilayer-perceptrons/environment_vn.md
Labels: chapter: multilayer-perceptrons, priority:high

#1074 Revise "mlp-scratch_vn" - Phần 1
  chapter_multilayer-perceptrons/mlp-scratch_vn.md
Labels: chapter: multilayer-perceptrons, priority:high, status: phase 2

#1092 Revise "mlp-gluon_vn"
  chapter_multilayer-perceptrons/mlp-gluon_vn.md
Labels: chapter: multilayer-perceptrons, priority:high, status: phase 2

#1095 Dịch "parameters_vn" - Phần 1
  chapter_deep-learning-computation/parameters_vn.md
Labels: chapter: deep-learning-computation, type: first contribution

#1093 Revise "underfit-overfit_vn" - Phần 4, 5
  chapter_multilayer-perceptrons/underfit-overfit_vn.md
Labels: chapter: multilayer-perceptrons, priority:high, status: phase 2

#1075 Dịch "model-construction_vn" - Phần 1
  chapter_deep-learning-computation/model-construction_vn.md
Labels: chapter: deep-learning-computation

#1078 Revise "underfit-overfit_vn" - Phần 2, 3
  chapter_multilayer-perceptrons/underfit-overfit_vn.md
Labels: chapter: multilayer-perceptrons, priority:high, status: phase 2

#1111 Revise "dropout_vn" - Phần 1
  chapter_multilayer-perceptrons/dropout_vn.md
Labels: chapter: multilayer-perceptrons, status: phase 2

#1112 Revise "dropout_vn" - Phần 2
  chapter_multilayer-perceptrons/dropout_vn.md
Labels: chapter: multilayer-perceptrons, status: phase 2

#1113 Revise "dropout_vn" - Phần 3
  chapter_multilayer-perceptrons/dropout_vn.md
Labels: chapter: multilayer-perceptrons, status: phase 2

#1116 ❄️ Revise "index_vn"
  README.md
  chapter_multilayer-perceptrons/index_vn.md
  docs/contributors_info.md
Labels: chapter: multilayer-perceptrons, status: phase 2

#1128 Add Batch Normalization
  glossary.md
Labels: type: glosssary

#1110 Revise "backprop_vn" - Phần 1
  chapter_multilayer-perceptrons/backprop_vn.md
Labels: chapter: multilayer-perceptrons, status: phase 2

#1076 Dịch "model-construction_vn" - Phần 2
  chapter_deep-learning-computation/model-construction_vn.md
Labels: chapter: deep-learning-computation

#1114 Dịch "model-construction_vn" - Phần 5
  chapter_deep-learning-computation/model-construction_vn.md
Labels: chapter: deep-learning-computation

#1100 Revise "backprop_vn" - Phần 2, 3
  chapter_multilayer-perceptrons/backprop_vn.md
Labels: chapter: multilayer-perceptrons, status: phase 2

#1125 Revise "numerical-stability-and-init_vn" - Phần 1
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Labels: chapter: multilayer-perceptrons, status: phase 2

#1126 Dịch "deferred-init_vn" - Phần 1
  chapter_deep-learning-computation/deferred-init_vn.md
Labels: chapter: deep-learning-computation

#1096 Dịch "model-construction_vn" - Phần 3
  chapter_deep-learning-computation/model-construction_vn.md
Labels: chapter: deep-learning-computation

#1162 Add Deferred Initialization
  glossary.md
Labels: type: glosssary

#1141 Revise "weight-decay_vn" - Phần 2
  chapter_multilayer-perceptrons/weight-decay_vn.md
Labels: chapter: multilayer-perceptrons, status: phase 2

#1143 Revise "environment_vn" - Phần 1
  chapter_multilayer-perceptrons/environment_vn.md
Labels: chapter: multilayer-perceptrons, status: phase 2

#1144 Revise "environment_vn" - Phần 2
  chapter_multilayer-perceptrons/environment_vn.md
Labels: chapter: multilayer-perceptrons, status: phase 2

#1115 Revise "mlp_vn" - Phần 1,2,3,4
  chapter_multilayer-perceptrons/mlp_vn.md
Labels: chapter: multilayer-perceptrons, status: phase 2

#1127 Revise "numerical-stability-and-init_vn" - Phần 2
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Labels: chapter: multilayer-perceptrons, status: phase 2

#1155 Add filter, padding, stride, pooling
  glossary.md
Labels: type: glosssary

#1145 Dịch "deferred-init_vn" - Phần 4
  chapter_deep-learning-computation/deferred-init_vn.md
Labels: chapter: deep-learning-computation

#1140 Revise "weight-decay_vn" - Phần 1
  chapter_multilayer-perceptrons/weight-decay_vn.md
Labels: chapter: multilayer-perceptrons, status: phase 2

#1142 Revise "weight-decay_vn" - Phần 3
  chapter_multilayer-perceptrons/weight-decay_vn.md
Labels: chapter: multilayer-perceptrons, status: phase 2

#1151 Revise dropout_vn.md phần 4, 5
  chapter_multilayer-perceptrons/dropout_vn.md
Labels: chapter: multilayer-perceptrons, status: phase 2

#1146 Revise "numerical-stability-and-init_vn" - Phần 3
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Labels: chapter: multilayer-perceptrons, status: phase 2

#1164 deploy chap4 v0
  chapter_multilayer-perceptrons/index_vn.md
  config.ini
  index.md
Labels: type: deploy, type: logistic

#1152 Revise Kaggle House Price phần 1, 2
  chapter_multilayer-perceptrons/kaggle-house-price_vn.md
Labels: chapter: multilayer-perceptrons, status: phase 2

#1159 ☕️ Revise "environment_vn" - Phần 4
  chapter_multilayer-perceptrons/environment_vn.md
Labels: chapter: multilayer-perceptrons, status: phase 2

#1168 Thêm nonstationary distribution
  glossary.md
Labels: type: glosssary

#1156 Revise House Price Prediction Phần 3, 4, 5
  chapter_multilayer-perceptrons/kaggle-house-price_vn.md
Labels: chapter: multilayer-perceptrons, status: phase 2

#1160 🍫 Revise "environment_vn" - Phần 5
  chapter_multilayer-perceptrons/environment_vn.md
Labels: chapter: multilayer-perceptrons, status: phase 2

#1153 Revise "environment_vn" - Phần 3
  chapter_multilayer-perceptrons/environment_vn.md
Labels: chapter: multilayer-perceptrons, status: phase 2

#1161 🍇 Revise "environment_vn" - Phần 6
  chapter_multilayer-perceptrons/environment_vn.md
Labels: chapter: multilayer-perceptrons, status: phase 2

#1188 ❄️ Add chapter "convolutional-neural-networks"
  README.md
  chapter_convolutional-neural-networks/channels.md
  chapter_convolutional-neural-networks/channels_vn.md
  chapter_convolutional-neural-networks/conv-layer.md
  chapter_convolutional-neural-networks/conv-layer_vn.md
  chapter_convolutional-neural-networks/index.md
  chapter_convolutional-neural-networks/index_vn.md
  chapter_convolutional-neural-networks/lenet.md
  chapter_convolutional-neural-networks/lenet_vn.md
  chapter_convolutional-neural-networks/padding-and-strides.md
  chapter_convolutional-neural-networks/padding-and-strides_vn.md
  chapter_convolutional-neural-networks/pooling.md
  chapter_convolutional-neural-networks/pooling_vn.md
  chapter_convolutional-neural-networks/why-conv.md
  chapter_convolutional-neural-networks/why-conv_vn.md
Labels: type: logistic

#1189 🍀 Update glossary
  glossary.md
Labels: type: glosssary, type: logistic

#1190 🏗 All fixed chapter 4
  chapter_multilayer-perceptrons/backprop_vn.md
  chapter_multilayer-perceptrons/dropout_vn.md
  chapter_multilayer-perceptrons/environment_vn.md
  chapter_multilayer-perceptrons/index_vn.md
  chapter_multilayer-perceptrons/kaggle-house-price_vn.md
  chapter_multilayer-perceptrons/mlp-gluon_vn.md
  chapter_multilayer-perceptrons/mlp-scratch_vn.md
  chapter_multilayer-perceptrons/mlp_vn.md
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
  chapter_multilayer-perceptrons/underfit-overfit_vn.md
  chapter_multilayer-perceptrons/weight-decay_vn.md
Labels: type: logistic

#1147 Dịch "model-construction_vn" - Phần 4
  chapter_deep-learning-computation/model-construction_vn.md
Labels: chapter: deep-learning-computation

#1158 Dịch "custom-layer_vn" - Phần 1
  chapter_deep-learning-computation/custom-layer_vn.md
Labels: chapter: deep-learning-computation

#1166 Dịch "deferred-init_vn" - Phần 2
  chapter_deep-learning-computation/deferred-init_vn.md
Labels: chapter: deep-learning-computation

#1178 Dịch "use-gpu_vn" - Phần 1
  chapter_deep-learning-computation/use-gpu_vn.md
Labels: chapter: deep-learning-computation

#1195 exclude chapter 1, 2, 3 and 4 from notebook eval
  config.ini
Labels: type: logistic

#1154 Dịch "model-construction_vn" - Phần 6
  chapter_deep-learning-computation/model-construction_vn.md
Labels: chapter: deep-learning-computation

#1180 Dịch "use-gpu_vn" - Phần 2
  chapter_deep-learning-computation/use-gpu_vn.md
Labels: chapter: deep-learning-computation

#1185 Dịch "use-gpu_vn" - Phần 5
  chapter_deep-learning-computation/use-gpu_vn.md
Labels: chapter: deep-learning-computation

#1183 Dịch "use-gpu_vn" - Phần 3
  chapter_deep-learning-computation/use-gpu_vn.md
Labels: chapter: deep-learning-computation

#1170 Dịch "read-write_vn" - Phần 3
  chapter_deep-learning-computation/read-write_vn.md
Labels: chapter: deep-learning-computation

#1216 Add "cross correlation"
  glossary.md
Labels: type: glosssary

#1157 Dịch "parameters_vn" - Phần 2
  chapter_deep-learning-computation/parameters_vn.md
Labels: chapter: deep-learning-computation, priority:high

#1124 Dịch "parameters_vn" - Phần 5
  chapter_deep-learning-computation/parameters_vn.md
Labels: chapter: deep-learning-computation, priority:high

#1150 Dịch "deferred-init_vn" - Phần 3
  chapter_deep-learning-computation/deferred-init_vn.md
Labels: chapter: deep-learning-computation

#1167 Dịch "read-write_vn" - Phần 2
  chapter_deep-learning-computation/read-write_vn.md
Labels: chapter: deep-learning-computation

#1219 Dịch ảnh chương 6 - Phần 1
  img/conv-1x1.svg
  img/conv-multi-in.svg
  img/conv-pad.svg
  img/conv-stride.svg
  img/correlation.svg
Labels: chapter: convolutional-neural-networks, type: figures

#1123 Dịch "parameters_vn" - Phần 4
  chapter_deep-learning-computation/parameters_vn.md
Labels: chapter: deep-learning-computation, priority:high

#1179 Dịch "parameters_vn" - Phần 3
  chapter_deep-learning-computation/parameters_vn.md
Labels: chapter: deep-learning-computation, priority:high

#1184 Dịch "use-gpu_vn" - Phần 4
  chapter_deep-learning-computation/use-gpu_vn.md
Labels: chapter: deep-learning-computation

#1194 Dịch "use-gpu_vn" - Phần 7
  chapter_deep-learning-computation/use-gpu_vn.md
Labels: chapter: deep-learning-computation, priority:high

#1223 🏗 Update DL Computation chapter
  chapter_deep-learning-computation/deferred-init.md
  chapter_deep-learning-computation/deferred-init_vn.md
  chapter_deep-learning-computation/parameters.md
  chapter_deep-learning-computation/parameters_vn.md
Labels: chapter: deep-learning-computation, priority:high

#1224 🌏 Update CNN chapter
  README.md
  chapter_convolutional-neural-networks/padding-and-strides.md
  chapter_convolutional-neural-networks/padding-and-strides_vn.md
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Labels: chapter: convolutional-neural-networks, type: logistic

#1218 Add translation invariant, scale invariant
  glossary.md
Labels: type: glosssary

#1169 Dịch "read-write_vn" - Phần 1
  chapter_deep-learning-computation/read-write_vn.md
Labels: chapter: deep-learning-computation, priority:high

#1229 Add "locality"
  glossary.md
Labels: type: glosssary

#1217 Dịch "index_vn"
  chapter_deep-learning-computation/index_vn.md
Labels: chapter: deep-learning-computation, priority:high

#1163 Dịch "custom-layer_vn" - Phần 2,3
  chapter_deep-learning-computation/custom-layer_vn.md
Labels: chapter: deep-learning-computation, priority:high

#1243 🏗 Update DLC chapter
  chapter_deep-learning-computation/custom-layer.md
  chapter_deep-learning-computation/custom-layer_vn.md
  chapter_deep-learning-computation/read-write.md
  chapter_deep-learning-computation/read-write_vn.md
Labels: type: logistic

#1244 Add mask, pixel, receptive field
  glossary.md
Labels: type: glosssary

#1237 Dịch "use-gpu_vn" - Phần 6
  chapter_deep-learning-computation/use-gpu_vn.md
Labels: chapter: deep-learning-computation, priority:high

#1220 Dịch "conv-layer_vn" - Phần 1
  chapter_convolutional-neural-networks/conv-layer_vn.md
Labels: chapter: convolutional-neural-networks

#1208 Dịch "why-conv_vn" - Phần 4
  chapter_convolutional-neural-networks/why-conv_vn.md
Labels: chapter: convolutional-neural-networks

#1215 Dịch "why-conv_vn" - Phần 6
  chapter_convolutional-neural-networks/why-conv_vn.md
Labels: chapter: convolutional-neural-networks

#1230 Dịch "conv-layer_vn" - Phần 3
  chapter_convolutional-neural-networks/conv-layer_vn.md
Labels: chapter: convolutional-neural-networks

#1207 Dịch "why-conv_vn" - Phần 3
  chapter_convolutional-neural-networks/why-conv_vn.md
Labels: chapter: convolutional-neural-networks

#1228 Dịch "why-conv_vn" - Phần 7
  chapter_convolutional-neural-networks/why-conv_vn.md
Labels: chapter: convolutional-neural-networks

#1267 🍀 Update DLC - "use-gpu" part
  chapter_deep-learning-computation/use-gpu.md
  chapter_deep-learning-computation/use-gpu_vn.md
Labels: priority:high, type: logistic

#1249 Dịch "padding-and-strides_vn" - Phần 2
  chapter_convolutional-neural-networks/padding-and-strides_vn.md
Labels: chapter: convolutional-neural-networks

#1221 Dịch "why-conv_vn" - Phần 1
  chapter_convolutional-neural-networks/why-conv_vn.md
Labels: chapter: convolutional-neural-networks

#1238 Dịch "padding-and-strides_vn" - Phần 1
  chapter_convolutional-neural-networks/padding-and-strides_vn.md
Labels: chapter: convolutional-neural-networks

#1222 Dịch "why-conv_vn" - Phần 2
  chapter_convolutional-neural-networks/why-conv_vn.md
Labels: chapter: convolutional-neural-networks

#1279 Fix typo "functional analysis"
  glossary.md
Labels: type: glosssary

#1259 Dịch "padding-and-strides_vn" - Phần 6
  chapter_convolutional-neural-networks/padding-and-strides_vn.md
Labels: chapter: convolutional-neural-networks

#1284 🍒 Add chapter "modern-cnn"
  chapter_convolutional-modern/alexnet.md
  chapter_convolutional-modern/alexnet_vn.md
  chapter_convolutional-modern/batch-norm.md
  chapter_convolutional-modern/batch-norm_vn.md
  chapter_convolutional-modern/densenet.md
  chapter_convolutional-modern/densenet_vn.md
  chapter_convolutional-modern/googlenet.md
  chapter_convolutional-modern/googlenet_vn.md
  chapter_convolutional-modern/index.md
  chapter_convolutional-modern/index_vn.md
  chapter_convolutional-modern/nin.md
  chapter_convolutional-modern/nin_vn.md
  chapter_convolutional-modern/resnet.md
  chapter_convolutional-modern/resnet_vn.md
  chapter_convolutional-modern/vgg.md
  chapter_convolutional-modern/vgg_vn.md
Labels: type: logistic

#1240 Revise "model-construction_vn" - Phần 2
  chapter_deep-learning-computation/model-construction_vn.md
Labels: chapter: deep-learning-computation, status: phase 2

#1251 Revise "parameters_vn" - Phần 1
  chapter_deep-learning-computation/parameters_vn.md
Labels: chapter: deep-learning-computation, status: phase 2

#1252 Dịch "padding-and-strides_vn" - Phần 5
  chapter_convolutional-neural-networks/padding-and-strides_vn.md
Labels: chapter: convolutional-neural-networks, type: first contribution

#1239 Revise "model-construction_vn" - Phần 1
  chapter_deep-learning-computation/model-construction_vn.md
Labels: chapter: deep-learning-computation, status: phase 2

#1285 Update README
  .github/ISSUE_TEMPLATE/02-for-phase-one.md
  .github/ISSUE_TEMPLATE/03-for-phase-two.md
  README.md
  docs/contributors_info.md
  glossary.md
  intro_vn.md
Labels: type: logistic

#1253 Dịch "padding-and-strides_vn" - Phần 4
  chapter_convolutional-neural-networks/padding-and-strides_vn.md
Labels: chapter: convolutional-neural-networks

#1268 Revise "parameters_vn" - Phần 2
  chapter_deep-learning-computation/parameters_vn.md
Labels: chapter: deep-learning-computation, status: phase 2

#1245 Dịch "padding-and-strides_vn" - Phần 3
  chapter_convolutional-neural-networks/padding-and-strides_vn.md
Labels: chapter: convolutional-neural-networks

#1242 Revise "model-construction_vn" - Phần 4
  chapter_deep-learning-computation/model-construction_vn.md
Labels: chapter: deep-learning-computation, status: phase 2

#1241 Revise "model-construction_vn" - Phần 3
  chapter_deep-learning-computation/model-construction_vn.md
Labels: chapter: deep-learning-computation, status: phase 2

#1295 Add Global Interpreter Lock in glossary
  glossary.md
Labels: type: glosssary

#1209 Dịch "why-conv_vn" - Phần 5
  chapter_convolutional-neural-networks/why-conv_vn.md
Labels: chapter: convolutional-neural-networks, status: pending triage

#1280 🍊Revise "index_vn"
  chapter_deep-learning-computation/index_vn.md
Labels: chapter: deep-learning-computation, status: phase 2
