Repository mlbvn/d2l-vn, pull requests merged in 2020-08, with the labels that each got.

#2249 Add "switch" to glossary
  glossary.md
Labels: type: glossary

#2265 Update CONTRIBUTING
  CONTRIBUTING.md
  docs/faq.md
Labels: type: logistic

#2267 Update CODEOWNERS
  CODEOWNERS
Labels: type: logistic

#2264 Deploy chapter 12
  config.ini
Labels: type: deploy, type: logistic

#2251 Revise "multiple-gpus_vn" - Phần 2
  chapter_computational-performance/multiple-gpus_vn.md
Labels: chapter: computational-performance, priority:high, status: phase 2

#2263 Add inference
  glossary.md
Labels: type: glossary

#2254 Revise "multiple-gpus-concise_vn"
  chapter_computational-performance/multiple-gpus-concise_vn.md
Labels: chapter: computational-performance, priority:high, status: phase 2

#2250 Revise "multiple-gpus_vn" - Phần 1
  chapter_computational-performance/multiple-gpus_vn.md
Labels: chapter: computational-performance, priority:high, status: phase 2

#2257 Revise "parameterserver_vn" - Phần 2
  chapter_computational-performance/parameterserver_vn.md
Labels: chapter: computational-performance, priority:high, status: phase 2

#2252 Revise "parameterserver_vn" - Phần 1
  chapter_computational-performance/parameterserver_vn.md
Labels: chapter: computational-performance, priority:high, status: phase 2

#2223 Dịch "image-augmentation_vn" - Phần 1
  chapter_computer-vision/image-augmentation_vn.md
Labels: chapter: computer-vision, priority:high

#2277 Add "region of interest"
  glossary.md
Labels: type: glossary

#2215 Dịch "image-augmentation_vn" - Phần 2
  chapter_computer-vision/image-augmentation_vn.md
Labels: chapter: computer-vision, priority:high

#2228 Dịch "image-augmentation_vn" - Phần 5
  chapter_computer-vision/image-augmentation_vn.md
Labels: chapter: computer-vision, priority:high

#2219 Dịch "fine-tuning_vn" - Phần 1
  chapter_computer-vision/fine-tuning_vn.md
Labels: chapter: computer-vision, priority:high

#2231 Dịch "fine-tuning_vn" - Phần 2
  chapter_computer-vision/fine-tuning_vn.md
Labels: chapter: computer-vision, priority:high

#2237 Dịch "fine-tuning_vn" - Phần 5
  chapter_computer-vision/fine-tuning_vn.md
Labels: chapter: computer-vision, priority:high

#2287 Amend "Object detection", add "Object recognition"
  glossary.md
Labels: type: glossary

#2236 Dịch "fine-tuning_vn" - Phần 4
  chapter_computer-vision/fine-tuning_vn.md
Labels: chapter: computer-vision, priority:high

#2238 Dịch "fine-tuning_vn" - Phần 6
  chapter_computer-vision/fine-tuning_vn.md
Labels: chapter: computer-vision, priority:high

#2248 Dịch "fine-tuning_vn" - Phần 3
  chapter_computer-vision/fine-tuning_vn.md
Labels: chapter: computer-vision, priority:high

#2253 Dịch "image-augmentation_vn" - Phần 3
  chapter_computer-vision/image-augmentation_vn.md
Labels: chapter: computer-vision, priority:high

#2255 Dịch "image-augmentation_vn" - Phần 4
  chapter_computer-vision/image-augmentation_vn.md
Labels: chapter: computer-vision

#2292 Add "anchor box"
  glossary.md
Labels: type: glossary

#2239 Dịch "bounding-box_vn" - Phần 2
  chapter_computer-vision/bounding-box_vn.md
Labels: chapter: computer-vision, priority:high

#2240 Dịch "bounding-box_vn" -Phần 1
  chapter_computer-vision/bounding-box_vn.md
Labels: chapter: computer-vision, priority:high

#2295 Dịch hình chương 13 - Phần 3
  img/fcn.svg
  img/neural-style.svg
  img/segmentation.svg
  img/style-transfer.svg
  img/trans_conv.svg
Labels: type: figures

#2293 Dịch hình chương 13 - Phần 1
  img/anchor-label.svg
  img/finetune.svg
  img/iou.svg
  img/ssd.svg
Labels: type: figures

#2294 Dịch hình chương 13 - Phần 2
  img/fast-rcnn.svg
  img/faster-rcnn.svg
  img/mask-rcnn.svg
  img/r-cnn.svg
  img/roi.svg
Labels: type: figures

#2312 Update Contributions
  CONTRIBUTING.md
  README.md
  docs/contributors_info.md
  docs/faq.md
  glossary.md
Labels: type: logistic

#2314 Update config.ini
  config.ini
  static/post_latex/main.py
Labels: type: deploy, type: logistic

#2276 Dịch "anchor_vn" - Phần 2
  chapter_computer-vision/anchor_vn.md
Labels: chapter: computer-vision

#2311 Fix chapter 12
  chapter_computational-performance/async-computation_vn.md
  chapter_computational-performance/auto-parallelism_vn.md
  chapter_computational-performance/hardware_vn.md
  chapter_computational-performance/hybridize_vn.md
  chapter_computational-performance/multiple-gpus-concise_vn.md
  chapter_computational-performance/multiple-gpus_vn.md
  chapter_computational-performance/parameterserver_vn.md
Labels: type: bug, type: logistic, type: proof-read

#2319 Revise "switch"
  chapter_computational-performance/hardware_vn.md
  chapter_computational-performance/parameterserver_vn.md
Labels: type: bug, type: logistic

#2306 Add "confidence level"
  glossary.md
Labels: type: glossary

#2318 Update Installation chapter
  chapter_install/index_vn.md
Labels: chapter: install, type: logistic, type: update

#2260 Dịch "anchor_vn" - Phần 3
  chapter_computer-vision/anchor_vn.md
Labels: chapter: computer-vision, priority:high

#2266 Dịch "anchor_vn" - Phần 4
  chapter_computer-vision/anchor_vn.md
Labels: chapter: computer-vision, priority:high

#2327 Hotfix rename
  chapter_computer-vision/transposed-conv_vn.md
Labels: type: bug, type: logistic

#2271 Dịch "anchor_vn" - Phần 5
  chapter_computer-vision/anchor_vn.md
Labels: chapter: computer-vision

#2272 Dịch "anchor_vn" - Phần 6
  chapter_computer-vision/anchor_vn.md
Labels: chapter: computer-vision

#2256 Dịch "anchor_vn" - Phần 1
  chapter_computer-vision/anchor_vn.md
Labels: chapter: computer-vision, priority:high

#2329 Fix category
  img/fast-rcnn.svg
  img/faster-rcnn.svg
  img/mask-rcnn.svg
  img/r-cnn.svg
  img/ssd.svg
Labels: type: figures

#2281 Dịch "multiscale-object-detection_vn" - Phần 2
  chapter_computer-vision/multiscale-object-detection_vn.md
Labels: chapter: computer-vision

#2286 Add "normalize" and "standardize"
  glossary.md
Labels: type: glossary

#2338 Add "concatenate"
  glossary.md
Labels: type: glossary

#2342 Add "proposed region"
  glossary.md
Labels: type: glossary

#2328 Add non-maximum suppression
  glossary.md
Labels: type: glossary

#2278 Dịch "anchor_vn" - Phần 7
  chapter_computer-vision/anchor_vn.md
Labels: chapter: computer-vision

#2343 Add "pretrain"
  glossary.md
Labels: type: glossary

#2296 Dịch "multiscale-object-detection_vn" - Phần 1
  chapter_computer-vision/multiscale-object-detection_vn.md
Labels: chapter: computer-vision

#2282 Dịch "multiscale-object-detection_vn" - Phần 3
  chapter_computer-vision/multiscale-object-detection_vn.md
Labels: chapter: computer-vision

#2362 Update CODEOWNERS
  CODEOWNERS
Labels: type: logistic, type: update

#2283 Dịch "anchor_vn" - Phần 8
  chapter_computer-vision/anchor_vn.md
Labels: chapter: computer-vision

#2336 Add "transposed convolution"
  glossary.md
Labels: type: glossary

#2299 Dịch "ssd_vn" - Phần 2
  chapter_computer-vision/ssd_vn.md
Labels: chapter: computer-vision

#2363 Add instance segmentation.
  glossary.md
Labels: type: glossary

#2313 Dịch "object-detection-dataset" - Phần 1
  chapter_computer-vision/object-detection-dataset_vn.md
Labels: chapter: computer-vision

#2364 Amend category.
  glossary.md
Labels: type: glossary

#2297 Dịch "ssd_vn" - Phần 1
  chapter_computer-vision/ssd_vn.md
Labels: chapter: computer-vision

#2309 Dịch "ssd_vn" - Phần 8
  chapter_computer-vision/ssd_vn.md
Labels: chapter: computer-vision

#2307 Dịch "ssd_vn" - Phần 6
  chapter_computer-vision/ssd_vn.md
Labels: chapter: computer-vision

#2315 Dịch "object-detection-dataset_vn" - Phần 2
  chapter_computer-vision/object-detection-dataset_vn.md
Labels: chapter: computer-vision

#2308 Dịch "ssd_vn" - Phần 7
  chapter_computer-vision/ssd_vn.md
Labels: chapter: computer-vision

#2368 Add neural style transfer, total variation, content + style loss
  glossary.md
Labels: type: glossary

#2373 Fix figures chap 13
  img/fast-rcnn.svg
  img/faster-rcnn.svg
  img/mask-rcnn.svg
  img/neural-style.svg
  img/r-cnn.svg
  img/ssd.svg
Labels: type: figures

#2310 Dịch "ssd_vn" - Phần 5
  chapter_computer-vision/ssd_vn.md
Labels: chapter: computer-vision

#2320 Dịch "rcnn_vn" - Phần 3
  chapter_computer-vision/rcnn_vn.md
Labels: chapter: computer-vision

#2339 Dịch "ssd_vn" - Phần 3
  chapter_computer-vision/ssd_vn.md
Labels: chapter: computer-vision

#2332 Dịch "semantic-segmentation-and-dataset_vn" - Phần 2
  chapter_computer-vision/semantic-segmentation-and-dataset_vn.md
Labels: chapter: computer-vision

#2372 Add "total variation denoising"
  glossary.md
Labels: type: glossary

#2333 Dịch "semantic-segmentation-and-dataset_vn" - Phần 3
  chapter_computer-vision/semantic-segmentation-and-dataset_vn.md
Labels: chapter: computer-vision

#2345 Dịch "rcnn_vn" - Phần 1
  chapter_computer-vision/rcnn_vn.md
Labels: chapter: computer-vision

#2334 Dịch "semantic-segmentation-and-dataset_vn" - Phần 4
  chapter_computer-vision/semantic-segmentation-and-dataset_vn.md
Labels: chapter: computer-vision

#2341 Dịch "ssd_vn" - Phần 4
  chapter_computer-vision/ssd_vn.md
Labels: chapter: computer-vision

#2349 Dịch "rcnn_vn" - Phần 2
  chapter_computer-vision/rcnn_vn.md
Labels: chapter: computer-vision

#2380 Amend precision
  glossary.md
Labels: type: glossary

#2337 Dịch "transposed-conv_vn" - Phần 4
  chapter_computer-vision/transposed-conv_vn.md
Labels: chapter: computer-vision

#2330 Dịch "semantic-segmentation-and-dataset_vn" - Phần 1
  chapter_computer-vision/semantic-segmentation-and-dataset_vn.md
Labels: chapter: computer-vision

#2391 Add NLP: Pre-Training chapter
  chapter_natural-language-processing-pretraining/approx-training_vn.md
  chapter_natural-language-processing-pretraining/bert-dataset_vn.md
  chapter_natural-language-processing-pretraining/bert-pretraining_vn.md
  chapter_natural-language-processing-pretraining/bert_vn.md
  chapter_natural-language-processing-pretraining/glove_vn.md
  chapter_natural-language-processing-pretraining/index_vn.md
  chapter_natural-language-processing-pretraining/similarity-analogy_vn.md
  chapter_natural-language-processing-pretraining/subword-embedding_vn.md
  chapter_natural-language-processing-pretraining/word-embedding-dataset_vn.md
  chapter_natural-language-processing-pretraining/word2vec-pretraining_vn.md
  chapter_natural-language-processing-pretraining/word2vec_vn.md
  docs/chapter_progress_template.md
  docs/manual-line-sample.md
  img/bert-input.svg
  img/nlp-map-pretrain.svg
Labels: type: logistic

#2392 Add Fully Convolutional Network (FCN)
  glossary.md
Labels: type: glossary

#2344 Dịch "rcnn_vn" - Phần 4
  chapter_computer-vision/rcnn_vn.md
Labels: chapter: computer-vision

#2369 Dịch "rcnn_vn" - Phần 5
  chapter_computer-vision/rcnn_vn.md
Labels: chapter: computer-vision

#2403 Add "crop (image)"
  glossary.md
Labels: type: glossary

#2400 Add elmo-gpt-bert.svg
  img/elmo-gpt-bert.svg
Labels: type: figures, type: logistic

#2354 Dịch "fcn_vn" - Phần 2
  chapter_computer-vision/fcn_vn.md
Labels: chapter: computer-vision

#2340 Add "downsample" and "upsample"
  glossary.md
Labels: status: pending triage, type: glossary

#2406 Hotfix chapter 12
  chapter_computational-performance/async-computation_vn.md
Labels: type: bug, type: logistic

#2353 Dịch "fcn_vn" - Phần 1
  chapter_computer-vision/fcn_vn.md
Labels: chapter: computer-vision

#2367 Dịch "neural-style_vn" - Phần 1
  chapter_computer-vision/neural-style_vn.md
Labels: chapter: computer-vision

#2370 Dịch "neural-style_vn" - Phần 2
  chapter_computer-vision/neural-style_vn.md
Labels: chapter: computer-vision

#2374 Dịch "neural-style_vn" - Phần 5
  chapter_computer-vision/neural-style_vn.md
Labels: chapter: computer-vision

#2375 Dịch "neural-style_vn" - Phần 6
  chapter_computer-vision/neural-style_vn.md
Labels: chapter: computer-vision

#2428 Add "skip-gram"
  glossary.md
Labels: type: glossary

#2355 Dịch "fcn_vn" - Phần 3
  chapter_computer-vision/fcn_vn.md
Labels: chapter: computer-vision

#2377 Dịch "kaggle-cifar10_vn" - Phần 1
  chapter_computer-vision/kaggle-cifar10_vn.md
Labels: chapter: computer-vision

#2407 Dịch "neural-style_vn" - Phần 3
  chapter_computer-vision/neural-style_vn.md
Labels: chapter: computer-vision

#2408 Dịch "neural-style_vn" - Phần 4
  chapter_computer-vision/neural-style_vn.md
Labels: chapter: computer-vision

#2376 Dịch "neural-style_vn" - Phần 7
  chapter_computer-vision/neural-style_vn.md
Labels: chapter: computer-vision

#2426 Add "bag of words"
  glossary.md
Labels: type: glossary

#2388 Dịch "kaggle-cifar10_vn" - Phần 3
  chapter_computer-vision/kaggle-cifar10_vn.md
Labels: chapter: computer-vision

#2389 Dịch "kaggle-cifar10_vn" - Phần 4
  chapter_computer-vision/kaggle-cifar10_vn.md
Labels: chapter: computer-vision

#2390 Dịch "kaggle-cifar10_vn" - Phần 5
  chapter_computer-vision/kaggle-cifar10_vn.md
Labels: chapter: computer-vision

#2419 Dịch "kaggle-dog_vn" - Phần 1
  chapter_computer-vision/kaggle-dog_vn.md
Labels: chapter: computer-vision

#2420 Dịch "kaggle-dog_vn" - Phần 2
  chapter_computer-vision/kaggle-dog_vn.md
Labels: chapter: computer-vision

#2424 Dịch "kaggle-dog_vn" - Phần 3
  chapter_computer-vision/kaggle-dog_vn.md
Labels: chapter: computer-vision

#2425 Dịch "kaggle-dog_vn" - Phần 4
  chapter_computer-vision/kaggle-dog_vn.md
Labels: chapter: computer-vision

#2357 Dịch "transposed-conv_vn" - Phần 3
  chapter_computer-vision/transposed-conv_vn.md
Labels: chapter: computer-vision

#2452 Add "approximate training"
  glossary.md
Labels: type: glossary

#2443 Dịch "transposed-conv_vn" - Phần 2
  chapter_computer-vision/transposed-conv_vn.md
Labels: chapter: computer-vision, priority:high

#2442 Dịch "transposed-conv_vn" - Phần 1
  chapter_computer-vision/transposed-conv_vn.md
Labels: chapter: computer-vision, priority:high

#2401 Dịch "fcn_vn" - Phần 4
  chapter_computer-vision/fcn_vn.md
Labels: chapter: computer-vision, priority:high

#2454 Dịch "kaggle-cifar10_vn" - Phần 2
  chapter_computer-vision/kaggle-cifar10_vn.md
Labels: chapter: computer-vision, priority:high

#2402 Dịch "fcn_vn" - Phần 5
  chapter_computer-vision/fcn_vn.md
Labels: chapter: computer-vision, priority:high

#2481 Update GLOSSARY
  glossary.md
Labels: type: glossary, type: logistic, type: update

#2479 Update PROGRESS
  README.md
Labels: type: logistic, type: update

#2480 Update deploy computer vision chapter
  .gitmodules
  config.ini
  index.md
  intro_vn.md
  setup.py
Labels: type: deploy, type: logistic

#2430 Dịch "word2vec_vn" - Phần 2
  chapter_natural-language-processing-pretraining/word2vec_vn.md
Labels: chapter: nlp-pre

#2427 Dịch "word2vec_vn" - Phần 1
  chapter_natural-language-processing-pretraining/word2vec_vn.md
Labels: chapter: nlp-pre

#2429 Revise "anchor_vn" - Phần 2
  chapter_computer-vision/anchor_vn.md
Labels: chapter: computer-vision, status: phase 2

#2434 Revise "anchor_vn" - Phần 3
  chapter_computer-vision/anchor_vn.md
Labels: chapter: computer-vision, status: phase 2

#2435 Revise "object-detection-dataset_vn"
  chapter_computer-vision/object-detection-dataset_vn.md
Labels: chapter: computer-vision, status: phase 2

#2455 Dịch "word2vec_vn" - Phần 3
  chapter_natural-language-processing-pretraining/word2vec_vn.md
Labels: chapter: nlp-pre

#2456 Dịch "word2vec_vn" - Phần 4
  chapter_natural-language-processing-pretraining/word2vec_vn.md
Labels: chapter: nlp-pre

#2459 Revise "fine-tuning_vn" - Phần 2
  chapter_computer-vision/fine-tuning_vn.md
Labels: chapter: computer-vision, status: phase 2

#2460 Revise "image-augmentation_vn" - Phần 1
  chapter_computer-vision/image-augmentation_vn.md
Labels: chapter: computer-vision, status: phase 2

#2461 Revise "image-augmentation_vn" - Phần 2
  chapter_computer-vision/image-augmentation_vn.md
Labels: chapter: computer-vision, status: phase 2

#2464 Revise "bounding-box_vn"
  chapter_computer-vision/bounding-box_vn.md
Labels: chapter: computer-vision, status: phase 2

#2433 Dịch "word2vec_vn" - Phần 5
  chapter_natural-language-processing-pretraining/word2vec_vn.md
Labels: chapter: nlp-pre

#2404 Revise "fine-tuning_vn" - Phần 1
  chapter_computer-vision/fine-tuning_vn.md
Labels: chapter: computer-vision, status: phase 2

#2449 Dịch "approx-training_vn" - Phần 1
  chapter_natural-language-processing-pretraining/approx-training_vn.md
Labels: chapter: nlp-pre

#2474 Revise "index_vn"
  chapter_computer-vision/index_vn.md
Labels: chapter: computer-vision, status: phase 2

#2417 Revise "ssd_vn" - Phần 1
  chapter_computer-vision/ssd_vn.md
Labels: chapter: computer-vision, status: phase 2

#2539 Add "task-specific/agnostic"
  glossary.md
Labels: type: glossary

#2538 Add "context-independent/sensitive"
  glossary.md
Labels: type: glossary

#2537 Add "downstream task"
  glossary.md
Labels: type: glossary

#2523 Add "analogy"
  glossary.md
Labels: type: glossary

#2536 Revise "kaggle-dog_vn" - Phần 2
  chapter_computer-vision/kaggle-dog_vn.md
Labels: chapter: computer-vision, status: phase 2

#2535 Revise "kaggle-dog_vn" - Phần 1
  chapter_computer-vision/kaggle-dog_vn.md
Labels: chapter: computer-vision, status: phase 2

#2534 Revise "kaggle-cifar10_vn" - Phần 2
  chapter_computer-vision/kaggle-cifar10_vn.md
Labels: chapter: computer-vision, status: phase 2

#2533 Revise "kaggle-cifar10_vn" - Phần 1
  chapter_computer-vision/kaggle-cifar10_vn.md
Labels: chapter: computer-vision, status: phase 2

#2467 Dịch "word2vec-pretraining_vn" - Phần 3
  chapter_natural-language-processing-pretraining/word2vec-pretraining_vn.md
Labels: chapter: nlp-pre

#2468 Dịch "word2vec-pretraining_vn" - Phần 4
  chapter_natural-language-processing-pretraining/word2vec-pretraining_vn.md
Labels: chapter: nlp-pre

#2531 Revise "neural-style_vn" - Phần 2
  chapter_computer-vision/neural-style_vn.md
Labels: chapter: computer-vision, priority:high, status: phase 2

#2532 Revise "neural-style_vn" - Phần 3
  chapter_computer-vision/neural-style_vn.md
Labels: chapter: computer-vision, priority:high, status: phase 2

#2512 Dịch "word-embedding-dataset_vn" - Phần 2
  chapter_natural-language-processing-pretraining/word-embedding-dataset_vn.md
Labels: chapter: nlp-pre

#2505 Dịch "word-embedding-dataset_vn" - Phần 5
  chapter_natural-language-processing-pretraining/word-embedding-dataset_vn.md
Labels: chapter: nlp-pre

#2473 Dịch "word-embedding-dataset-vn" - Phần 4
  chapter_natural-language-processing-pretraining/word-embedding-dataset_vn.md
Labels: chapter: nlp-pre, priority:high

#2470 Dịch "word-embedding-dataset_vn" - Phần 3
  chapter_natural-language-processing-pretraining/word-embedding-dataset_vn.md
Labels: chapter: nlp-pre, priority:high

#2546 Revise "fcn_vn" - Phần 1
  chapter_computer-vision/fcn_vn.md
Labels: chapter: computer-vision, status: phase 2
